/**
 * @file
 * Front-end styling for the display of dquarkss.
*/
input.dquarks-calendar {
  display: none;
  padding: 3px;
  vertical-align: top;
}
html.js input.dquarks-calendar {
  display: inline;
}
.dquarks-container-inline label {
  display: inline;
  margin-right: 1em;
}
.dquarks-container-inline div,
.dquarks-container-inline div.form-item {
  display: inline;
}
.dquarks-container-inline div.description {
  display: block;
}

.dquarks-error{
  padding: 5px;
  margin-bottom: 10px !important;
  border: 1px solid red;
}