
.panel-2col-bricks {
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-bricks .panel-col-top,
.panel-2col-bricks .panel-col-middle,
.panel-2col-bricks .panel-col-bottom {
  width: 100%;
  clear: both;
}

.panel-2col-bricks .panel-col-top .inside,
.panel-2col-bricks .panel-col-middle .inside {
  margin-bottom: 0;
}

.panel-2col-bricks .panel-col-first {
  float: left;
  width: 50%;
}
* html .panel-2col-bricks .panel-col-first {
  width: 50%;
}

.panel-2col-bricks .panel-col-first .inside {
  margin: 0 0 0 0;
}

.panel-2col-bricks .panel-col-last {
  float: left;
  width: 50%;
}
* html .panel-2col-bricks .panel-col-last {
  width: 50%;
}

.panel-2col-bricks .panel-col-last .inside {
  margin: 0 0 0 0;
}

.panel-2col-bricks .panel-separator {
  margin: 0 0 0 0;
}
