/**
 * @file
 * Cruises International 2017 Theme
 * Base
 */



.hide-it{
	display:none;
}

  body.page-site-search{
    .cruise-factory-entity{
      &.cruise-factory-entity-wider-teaser{
        &.cruise-factory-entity-base-destination-group{
          width: 100%;
          height: auto;
          margin: 0 -30px 20px;
        }
      }
    }
  }

.contextual-links-region {
	float: left;
	width: 100%;
}

body {
	font-family: "Gill Sans", Gill Sans, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: $text_size;
	line-height: 30px;
	@include transition-property(all);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in-out);
}

p {
	font-size: $text_size;
	line-height: $line_height;
	text-align: justify;
}

.flexbox-views-wrapper .view-content {
	flex-wrap: wrap;
}


.flexbox-views-wrapper .view-content,
.flexbox-wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	&.center {
		align-items: center;
	  justify-content: center;
	}
	.flexbox-child {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
}
// weird edge-cases that need flex:
// .region-header_right-wrapper,
.region-header-right,
.region-footer,
.nav_right-flex-blocks-wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	align-items: center;
  justify-content: center;
	.block {
		align-items: center;
	  justify-content: center;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
}

.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.region-footer {
	width: 100%;
	align-items: flex-start;
	.block {
		display: block;
	}
}


table {
  width: 100%;
	thead {

	}
	th {
	  border-bottom: 1px solid $mediumsilvergrey;
	  padding: 5px 5px 5px;
	}
	tbody {
	  border-top: 0;
	}
	tr {
	  &.even,
	  &.odd {
	    background-color: transparent;
	    border-bottom: 1px solid $mediumsilvergrey;
	    padding: 0;
	  }
	}
	td {
	  padding: 5px 5px 5px;
	}
}

.terms-and-conditions-accordion{
	.ui-state-active{
		color: white!important;
		.ui-accordion-header-icon{
			background-image: url(https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_ffffff_256x240.png)!important;
		}
	}
	} 


