/**
 * @file
 * Cruises International 2017 Theme
 */

body.page-cruise-factory-entity-base-cruiselines,
body.page-cruise-factory-entity-base-destination-group {
  #cruises-tab {
    .panel-col-top {
      // background-color: $silvergrey;
      padding: 15px 0 40px;
      .inside {
        text-align: center;
        // display: block;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        .block-facetapi {
          display: inline-block;
          margin: 0 4%;
          padding: 20px 0 0;
          .form-type-select > .select2-container {
            .select2-choice, .select2-choices {
              border-bottom: 0;
            }
          }
        }
        .facets-within-panels {
          float: none!important;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          > .pane-content {
            text-align: center!important;
            display: inline-block!important;
            width: 100%!important;
          }
        }
      }
    }
  }
}



.wrapper-for-facets-and-content {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
  z-index: 9999;
}

.facet_filters_present {

}


#facet_filters {
    padding: 40px 0;
    border: 0;
    box-shadow: 0 0 0 transparent; // 0.5);
    margin-bottom: 30px;
    text-align: center;
    #block-block-34 {
      display: inline-block;
      margin: 0 4%;
      padding: 20px 0 0;
    }
  }
  .pane-cfe-2017-cruise-destinations {
    padding-top: 30px;
    margin-top: 30px;    
  }
  .pane-popular-cruises-block {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid $lightgrey;
  }
  #frontpage_submit {
    display: inline-block;
    background-color: $turq;
    width: auto;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    font-size: 100%;
    margin: -10px 0 10px; 
    padding: 10px 30px;
    &:after {
      display: none;
    }
    &:hover {
      background-color: darken($turq, 10%);
    }
  }

/* 

#facet_filters {
	// border: 1px solid rgba($silvergrey, 1.0); // 0.5);
	// box-shadow: 0 0 8px rgba($silvergrey, 1.0); // 0.5);
	margin-bottom: 80px;
  > .region-facet-filters {
    > div {
      vertical-align: top;
    }
  }
	.facet-heading-box-wrapper {
		display: inline-block;
		background-color: $brandblue; // $lightblue;
		width: auto; // 150px;
		height: auto; // 150px;
		float: left;
		margin: 0 40px 0 -16px;
		h2.facet-heading-box {
			// background-color: $lightblue;
			color: #fff;
			text-align: left;
			// display: inline-block;
			text-transform: uppercase;
			font-size: 210%; // for 2 rows: 280%;
			line-height: 100%;
			padding: 5px 30px; // for 2 rows: 22px 30px; 
			.smaller-row {
				font-size: 60%;
				line-height: 100%;
				display: block;
			}
		}
	}
} */

.ajax-facets-block {
	display: inline-block;
	// reset
	ul, li {
		padding: 0;
		margin: 0; 
		list-style: none;
		list-style-type: none;
		display: inline;
	}
	// "Clear selection"
	.ajax-facets-reset-all-link {
		font-size: 130%;
		bottom: -30px;
    display: block;
    left: 0; // 180px;
    position: absolute;
		&:before {
			font-size: 100%;
			line-height: 100%;
      color: $textcolour;
      margin: 0;
      display: inline-block;
      content: "\f00d";
      font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
      padding: 0 0 0;
      text-align: center;
	    width: 20px;
    }
    &:hover {
    	text-decoration: none;
    	color: $lightblue;
    	&:before {
    		color: $lightblue;
    	}
    }
	}

	// search
	.ajax-facets-submit-all-link {
		display: inline-block;
		background-color: $turq; // $lightblue;
		width: auto; // 150px;
		height: auto; // 150px;
		// float: right;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0;
		margin: 0; // 40px 0 -16px;
		padding: 0; // 5px 30px; // for 2 rows: 22px 30px;
		&:after {
			font-size: 48px;
			line-height: 120%;
      color: #fff; // !important;
      margin: 0;
      display: inline-block;
      content: "\f105";
      font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
      padding: 17px 15px;
      text-align: center;
	    width: 50px;
    }
    &:hover {
    	background-color: darken($turq, 10%);
    }
	}
}


.warnings-box-destination,
.warnings-box-sailingdate {
  background-color: rgba($red, 0.6);
  color: #fff;
  display: block;
  font-size: 70%;
  letter-spacing: 0.02em;
  padding: 5px 14px;
  text-align: center;
  text-transform: uppercase;
}


.ajax-screen-lock-popup .ajax-screen-lock-progress {
  background: #0072b9 url(../images/throbber.gif);
  height: 50px;
}




$drop-down-width: 190px;



.block-facetapi {
  display: inline-block;
  // margin-right: 40px;
  margin: 0 4%;
  padding: 20px 0 0;
  &:last-child {
  	margin-right: 0;
  }
  .form-type-select > label,
  > h2 {
    display: none;
  }
  .form-type-select {
    > .select2-container {
    	width: $drop-down-width;
    	max-width: $drop-down-width;
    	min-width: $drop-down-width;
      .select2-choice,
      .select2-choices {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        color: $brandblue;
        background: #fff;
        border: 0;
        border-bottom: 1px solid $middlegrey;
        border-radius: 0;
        box-shadow: none!important;
	      .select2-arrow b {
	        color: $brandblue!important;
	        &:after {
	          color: $brandblue!important;
					}
				}
        .select2-chosen {
        	font-size: 110%;
        	color: $brandblue;
					font-weight: 500;
        }
	    }
      .select2-arrow {
      	border: 0;
      	background: none;
      	b {
	        background: none;
	        border: 0;
	        border-radius: 0;
	        color: $brandblue!important;
	        &:after {
	          color: $brandblue!important;
	          margin: 0;
	          display: inline-block;
	          content: "\f0d7"; // hollow: "\f107";
	          font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
	          padding: 0;
	          text-align: center;
				    width: 20px;
	        }
	      }
      }
      &.select2-dropdown-open {
  			.select2-choice,
			  .select2-choices {
			    .select2-arrow {
			    	border: 0;
			    	background: none;
			    	b {
			        background: none;
			        border: 0;
			        border-radius: 0;
			        color: $brandblue!important;
			        &:after {
			        	color: $brandblue!important;
			          margin: 0;
			          display: inline-block;
			          content: "\f0d7"; // hollow: "\f107";
			          font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
			          padding: 0;
			          text-align: center;
						    width: 20px;
			        }
			      }
			    }
			  }
      }
    }
  }
}

.empty-facet-text {
  border-bottom: 1px solid $lightgrey;
  color: $lightgrey;
  font-size: 100%;
  font-weight: 500;
  width: $drop-down-width;
  margin: 0 auto;
}

.select2-container,
.select2-container-active {
  border: 0;
  border-radius: 0;
  box-shadow: none!important;
  .select2-choice,
  .select2-choices {
    box-shadow: none!important;
    background: #fff;
    border: 0;
    border-bottom: 1px solid $middlegrey;
    border-radius: 0;
    .select2-chosen {
    	font-size: 100%;
    	color: $brandblue;
			font-weight: 500;
    }
    .select2-arrow {
    	border: 0;
    	background: none;
    	b {
        background: none!important;
        background-image: none;
        border: 0;
        border-radius: 0;
        color: $brandblue!important;
        &:after {
        	color: $brandblue!important;
          margin: 0;
          display: inline-block;
          content: "\f0d7"; // hollow: "\f107";
          font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
          padding: 0;
          text-align: center;
			    width: 20px;
        }
      }
    }
  }
}

.select2-drop {
  color: $middlegrey!important;
  border: 1px solid $middlegrey!important;
  border-radius: 0!important;
  box-shadow: none!important;
  ul {
    margin: 0 0 0!important;
  }
  &.select2-drop-above {}

}
.select2-results {
	padding: 0 0 0;
	.select2-highlighted {
		background: transparent;
		color: $lightblue;
	}
}

select {
  width: $drop-down-width;
  max-width: $drop-down-width;
  min-width: $drop-down-width;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  box-shadow: none!important;
  background: #fff;
  border: 0;
  border-bottom: 1px solid $middlegrey;
  border-radius: 0;
  font-size: 100%;
  color: $brandblue;
  font-weight: 500;
}

// web forms should have different widths to facets.
$drop-down-width-small: 100px;

.webform-client-form {
  .form-type-select > .select2-container,
  select {
    width: $drop-down-width;
    max-width: $drop-down-width;
    min-width: $drop-down-width;
  }
  .select2-container .select2-choice,
  .select2-container .select2-choices {
    border-bottom: 1px solid $lightgrey; // $middlegrey;
  }
}

.webform-component-date {
   .form-type-select > .select2-container,
  select {
    width: $drop-down-width-small!important;
    max-width: $drop-down-width-small!important;
    min-width: $drop-down-width-small!important;
  }
}



.block-search_api_sorts {
  bottom: -50px;
  position: absolute;
  right: 0;
  > h2 {
    display: none;
  }
  .select2-container {
    min-width: 120px;
    .select2-choice,
    .select2-choices {
      border: 0;
      text-align: right;
      box-shadow: none!important;
      background: #fff;
      border: 0;
      border-radius: 0;
      margin-right: 0;
      .select2-arrow {
        display: none;
      }
      > .select2-chosen {
        margin-right: 0;
      }
    }
  } 
}

body.front {
  #slideshow_zone {
    width: 140%;
    margin: 0 -20%;
  }

  #facet_filters {
    border: 1px solid rgba($silvergrey, 1.0); // 0.5);
    box-shadow: 0 9px 14px rgba($silvergrey, 0.6); // 0.5);
    padding: 13px 0;
    background: #fff;
    display: inline-table;
    margin: -25px auto 10px; // -25px 0 80px;
    > .region-facet-filters {
      > div {
        vertical-align: top;
      }
      .block-facetapi {
        margin: 0 25px;
      }
    }
    .facet-heading-box-wrapper {
      display: inline-block;
      background-color: $brandblue; // $lightblue;
      width: auto; // 150px;
      height: auto; // 150px;
      float: left;
      margin: -13px 0 -13px 0; // 0 40px 0 -16px;
      padding: 20px 0 0;
      h2.facet-heading-box {
        // background-color: $lightblue;
        color: #fff;
        text-align: left;
        // display: inline-block;
        text-transform: uppercase;
        font-size: 210%; // for 2 rows: 280%;
        line-height: 100%;
        padding: 5px 30px; // for 2 rows: 22px 30px; 
        .smaller-row {
          font-size: 60%;
          line-height: 100%;
          display: block;
        }
      }
    }
  }

  #frontpage_submit {
    display: inline-block;
    background-color: $turq; // $lightblue;
    width: auto; // 150px;
    height: auto; // 150px;
    // float: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    margin: 0; // 40px 0 -16px;
    padding: 0; // 5px 30px; // for 2 rows: 22px 30px;
    &:after {
      font-size: 48px;
      line-height: 120%;
      color: #fff; // !important;
      margin: 0;
      display: inline-block;
      content: "\f105";
      font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
      padding: 22px 15px; // 25px 15px; // 17px 15px;
      text-align: center;
      width: 60px;
    }
    &:hover {
      background-color: darken($turq, 10%);
    }
  }
}

body.not-front {
  #facet_filters {
    background-color: $silvergrey;
    padding: 20px 0 40px;
    .block-facetapi .form-type-select > .select2-container {
      .select2-choice, .select2-choices {
        border-bottom: 0;
      }
    }
  }
}


.pane-cfe-2017-cruise-destinations {
  padding-top: 30px;
  margin-top: 30px;  
}
.pane-popular-cruises-block {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid $lightgrey;
}

/////////////////////////



 /*  #facet_filters {
    padding: 40px 0;
    border: 0;
    box-shadow: 0 0 0 transparent; // 0.5);
    margin-bottom: 30px;
    #block-block-34 {
      display: inline-block;
      margin: 0 4%;
      padding: 20px 0 0;
    }
  }
  */




