/**
 * @file
 * Cruises International 2017 Theme
 */


.view-elements-for-cruise-factory-entities{
	a.Seabourn{
		img{
			max-height: 20px!important;
			height:20px!important;
		}
	}
}
#pre_footer {
	border-top: 1px solid $silvergrey;
	box-shadow: 0 -1px 6px rgba($silvergrey, 0.8);
	margin-top: 80px;
	.container {
		width: 100%;
		padding: 0 0;
		&.fixed-width-force {
		  @include container-fixed;
		  @media (min-width: $screen-sm-min) {
		    width: $container-sm;
		  }
		  @media (min-width: $screen-md-min) {
		    width: $container-md;
		  }
		  @media (min-width: $screen-lg-min) {
		    width: $container-lg;
		  }
		}
	}
}


.bottom-logo {
	.bottom-logo-inline {
		display: inline-block;
	}
}

#footerwrapper {
	background: $silvergrey;
	color: $brandblue;
	padding-bottom: 30px;
	margin-left: 0;
	margin-right: 0;
	a {
		color: $brandblue;
		&:hover {
			color: $textcolour;
		}
	}

  .block {
  	> h2 {
  		text-transform: uppercase;
			font-size: $text_size;
			font-weight: 500;
			margin: 20px 0 0;
  	}
  	> .content {
  		> ul.menu {
  			margin-left: 0;
  			padding-left: 0;
  			list-style: none;
  			li {
	  			margin-left: 0;
	  			padding-left: 0;
	  			list-style: none;
	  			text-transform: uppercase;
	  			a {

	  			}
  			}
  		}
  	}
  }
  .button, .btn {
  	height: 33px!important;
  	padding: 4px 12px!important;
  	text-transform: none!important;
  	font-size: 11px!important;
  	&:hover {
  		height: 33px!important;
	  	padding: 4px 12px!important;
	  	text-transform: none!important;
	  	font-size: 11px!important;
  	}
  }
}

#post_footer {
	background-color: #fff; // $mediumsilvergrey;
	color: $brandblue;
	text-align: center;
	p {
		text-align: center;
	}
	a {
		color: $brandblue;
		&:hover {
			color: $brandblue;
		}
	}
}
