/**
 * @file
 * Cruises International 2017 Theme
 * Forms
 */

input[type=submit].button {
	-webkit-appearance: none;
}


input,
select,
button,
.button {
	-webkit-appearance: none;
	display: inline-block;
}

#user-register-form,
#login-form {
	.description {
		display: none;
	}
	.form-actions {
		margin-top: 20px;
	}
}
#user-register-form {
	.form-actions {
		display: block;
	}
}

label {
	display: block;
	color: $shipmates_turq;
	font-weight: 500;
	margin: 10px 0 0;
	.form-type-radio > &,
	.form-type-checkbox > & {
	// .webform-component-radios &,
	// .webform-component-checkboxes & {
		margin: 0 0 0;
	}
}

.webform-client-form-936 {
	fieldset {
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid $mediumsilvergrey;
		fieldset {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;

		}
	}
	.webform-component--cruise-info-field {
		display: none;
	}
	.webform-container-inline {
		label {
		  min-width: 163px!important;
	    display: inline-block;
		}
	}
	.webform-component-radios {
		.form-radios {
			.form-type-radio {
				display: inline-flex;
			}
		}
	}
	.webform-component-checkboxes {
		.form-checkboxes {
			.form-type-checkbox {
				display: inline-block;
			}
		}
	}
	.form-actions {
		@extend .container;
		@extend .col-no-padding;
		@extend .col-lg-7;
		@extend .col-md-7;
		@extend .col-sm-7;
		@extend .col-xs-12;
		@extend .col-lg-offset-3;
		@extend .col-md-offset-3;
		@extend .col-sm-offset-3;
	}
}



input.form-text {
	border: 1px solid $lightgrey; // $shipmates_turq;
}

.toboggan-unified.login {
	#login-message {
		font-size: 1em;
		margin: 5px 0 10px;
	}
	input.form-text {
		border: 1px solid $shipmates_turq;
	}
	#login-links {
		margin: 5px 0 10px;
		font-size: 100%;
		a.login-link {
			@include ghostbutton($shipmates_turq, $shipmates_turq);
			&.active {
				@include buttonclass($shipmates_turq, $shipmates_turq);
			}
		}
	}
}

input.password-confirm, input.password-field,
input, textarea {
	float: none;
	@include border-radius($br);
	margin: 0 0 5px;
	width: 280px;
}

label.in-field-labels-processed {
	padding-left: 10px;
	padding-top: 7px;
}

div.form-item div.password-suggestions {
	border: 1px solid $shipmates_turq;
	margin: 5px 0 15px;
	padding: 5px 15px;
	width: 248px;
	li {
		margin-bottom: 5px!important;
	}
}

.form-item {
	.description {
		font-size: 80%;
		line-height: 121%;
		margin: 5px 0 15px;
		width: 208px;
	}
}

.password-strength {
	float: none;
	margin-top: 0px;
	width: 280px;
	margin-bottom: 5px;
	line-height: 100%;
	.password-strength-title,
	.password-strength-text {
		display: none;
	}
	.password-indicator {
		height: 2px;
	}
}





.webform-component-managed_file {
	label,
	label.in-field-labels-processed {
		display: block;
		float: none;
		margin: 0 0 -10px!important;
		padding: 0;
		position: relative!important;
	}
}

.webform-component-date {
	select {
		width: 100%;
		font-size: 80%;
	}
	.form-type-select {
		width: auto; // 25%;
		display: inline-block!important;
	}
	input.webform-calendar {
		margin-top: 0;
		padding-top: 0;
		max-width: none;
		min-width: none;
		width: 0;
		border: 0;
		height: 36px;
		padding-left: 28px;
		background-position: center center;
		background-size: auto 80%;
		background-repeat: no-repeat;
		background-image: url(../images/calendar-icon.png);
	}
	// input[type="image"] {
	// 	src {
	// 		opacity: 0;
	// 	}
	// 	img {
	// 		opacity: 0;
	// 	}
	// }
}

fieldset.captcha input,
fieldset.captcha label {
	width: 150px;
	float: none;
}

.captcha {
	width: 100%;
	float: left;
	margin: 5px 0 10px;
	img {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	input,
	.form-type-textfield {
		margin-top: 0;
		float: left;
		display: inline-block;
		height: 35px;
		font-size: 12px;
		min-width: 180px;
		max-width: 180px;
		width: 180px;
	}
}


/*
 * DRUPAL OVERRIDES
 *
*/

.form-item,
.form-actions {
	margin-bottom: 0;
	margin-top: 0;
}

fieldset .action,
#edit-actions {
	margin-top: 0;
}

.block-search #edit-actions {
	margin-top: 0;
}


/*
 * SKELETON OVERRIDES
 * Frameworks aren't everything, y'all.
 *
*/

input, input[type=email],
input[type=number], input[type=search],
input[type=text], input[type=tel],
input[type=url], input[type=password],
textarea, select {
	@include border-radius($br);
	border: 1px solid $lightgrey; // $shipmates_turq;
	height: 40px;
	line-height: 38px;
	padding: 0 10px;
	font-size: inherit;
	display: inline-block;
	max-width: 100%;
}

input[type="checkbox"], input[type="radio"],
input.form-checkbox, input.form-radio {
	@include border-radius(0);
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0 0 0 -20px;
	vertical-align: bottom;
	// display: inline-block;
	position: relative;
	top: 4px;
	vertical-align: top;
	*overflow: hidden;
	@include appearance(checkbox);
}

input[type="radio"], input.form-radio {
	@include appearance(radio);
}

.form-type-checkbox, .form-type-radio {
	display: block;
	padding-left: 25px;
	text-indent: 0;
	label {
		display: inline-block;
		padding-left: 10px;
	}
}

span.form-required {
	color: darken($red, 5%);
}


form {
	.row {
		width: 100%;
	}
}



// HUBSPOT FORMS


.hbspt-form {
	font-family: $fontstack!important;
	font-size: $text_size!important;
	color: $textcolour!important;
	* {
		font-family: $fontstack!important;
		font-size: $text_size!important;
		color: $textcolour!important;
	}
	label {
		font-weight: 400!important;
		color: $brandblue!important;
	}
	.hs-error-msgs,
	.hs-error-msgs label,
	.hs-form-required {
		color: $red!important;
		font-weight: normal!important;
	}
	fieldset.form-columns-1,
	fieldset.form-columns-2 {
		max-width: 100%;
		input {
			max-width: 450px;
		}
	}
	input.hs-input,
	textarea.hs-input {
		@include box-shadow(none!important);
		&:focus {
			@include box-shadow(none!important);
			border: 1px solid $lightblue!important;		
		}
		&.error {
			border: 1px solid $red!important;					
		}
	}

	input, input[type=email],
	input[type=number], input[type=search],
	input[type=text], input[type=tel],
	input[type=url], input[type=password],
	textarea, select {
		@include border-radius($br);
		border: 1px solid $lightgrey!important;
		height: 40px!important;
		line-height: 38px!important;
		padding: 0 10px!important;
		font-size: inherit!important;
		display: inline-block!important;
		max-width: 100%!important;
	}

	input[type="checkbox"], input[type="radio"],
	input.form-checkbox, input.form-radio {
		@include border-radius(0!important);
		width: 13px!important;
		height: 13px!important;
		padding: 0!important;
		margin: 0 10px 0 0!important;
		vertical-align: bottom!important;
		// display: inline-block!important;
		position: relative!important;
		top: 4px!important;
		vertical-align: top!important;
		*overflow: hidden!important;
		@include appearance(checkbox!important);
	}

	input[type="radio"], input.form-radio {
		@include appearance(radio!important);
	}
}

body.page-node-76 {
	.panel-col-bottom {
		h4.pane-title {
			// text-transform: uppercase;
	    font-weight: 500;
	    // font-size: 90%;
	    color: $brandblue;
	    border-bottom: 1px solid $brandblue;
	    padding-bottom: 5px;
	    margin: 20px 0 0;
		}
	}
}

////////////////////
// HUBSPOT FORMS  //
////////////////////



.hs_submit {
	.actions {
		margin: 0 0 0!important;
    padding: 0 0 0!important;
	}
}
.hs-form-field {
	margin-bottom: 5px!important;
}


////////////////////
// DEMI"S CODE  //
////////////////////

// SHIPMATES FORMS


.page-new-shipmate-register {
    
    #user-register-form #edit-account.form-wrapper .form-item form-type-textfield form-item-mail{
    width: 45%;
    padding-right: 5%;
    vertical-align: top;
}
   
    input, input[type=email],
input[type=number], input[type=search],
input[type=text], input[type=tel],
input[type=url], input[type=password],
textarea, select {
	@include border-radius($br);
	border: 1px solid $lightgrey; // $shipmates_turq;
	height: 40px;
	line-height: 38px;
	padding: 0 10px;
	font-size: inherit;
	display: inline-block;
	max-width: 280px;
}
    
    password-confirm form-text required {
    @include border-radius($br);
	border: 1px solid $lightgrey; // $shipmates_turq;
	height: 40px;
	line-height: 38px;
	padding: 0 10px;
	font-size: inherit;
	display: inline-block;
	max-width: 200px;  
        
    }

    form-item-pass-pass2{
    	margin-top: -15px;
    }
     div.password-confirm {
	  float: right;  /* LTR */
	  margin-top: 0px;
	  visibility: hidden;
	  width: 17em;

}
 legend{
    border:0;
    padding-top: 30px !important;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5 !important;
    }

/*   .webform-component-radios 
		.form-radios  {
				display: inline-flex !important;
			}*/
			
	.form-type-radio input	{
		height:22px;
	}

	.form-type-checkbox input {
		height: 22px;
	}
	/*#edit-account{
		border:1px solid blue;
width: 50%;
float: left;
	}*/

	.user__side--left {
border:1px solid blue;
width: 50%;
float: left;
}
	
}










