/**
 * @file
 * Cruises International 2017 Theme
 */



header {
	background: $brandblue;
	color: #fff;
	margin: 0 0 0!important;
  width: 100%;
	z-index: 999999;
	border-bottom: 0 solid $silvergrey;
	box-shadow: 0 -30px 8px $silvergrey;
	@include transition-property(all);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in-out);
	.sticky-header & {
		border-bottom: 1px solid $silvergrey;
		box-shadow: 0 -1px 8px $silvergrey;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	#logo {
		height: 90px;
		width: auto;
		max-width: none;
		@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in-out);
	}
	#topzone {
		text-align: right;
		border-bottom: 1px solid #fff;
		height: 35px;
		ul {
			display: block;
			list-style: none;
			text-align: right;
			margin: 5px 0 5px;
			li {
				text-align: left;
				display: inline-block;
				list-style: none;
				border-right: 1px solid #fff;
				padding: 0 12px 0 0; // 0 5px 0;
				margin: 0 5px 0;
				&:last-child {
					border-right: 0;
				}
			}
		}
	}
	.header_right {
		.region-header_right-wrapper {
			text-align: right;
		}
		.region-header-right {
			text-align: right;
			align-items: center;
		  justify-content: center;
		  display: inline-flex;
			.block {
				display: inline;
				text-align: right;
				margin-top: 10px;
				> .content {
					text-align: right;
					align-items: center;
				  justify-content: center;
				  display: inline-flex;
					> .header-cta-wrapper,
					> .call-us-now-wrapper {
						display: block;
					}
				}
				&:last-child {
					margin-top: 18px;
				}
			}
		}
		.header-cta-wrapper {
			display: inline-block;
			text-align: center;
			margin-right: 15px;
		}
		.call-us-now-wrapper {
			display: inline-block;
			text-align: center;
			.call-us-now-number {
				// padding-top: 8px;
				text-align: center;
				display: block;
				font-size: 125%;
				line-height: 100%;
			}
			.call-us-now {
				text-align: center;
				display: block;
				font-size: 100%;
				line-height: 100%;
			}
		}
	}
	.sticky-is-on{
		height:117px;
		.sticky-header & {
			#logo {
				height: 50px;
			}
	}

	}
}
.navigationzone {
	background-color: #fff;
	color: $brandblue;
	a {
		color: $brandblue;
		&:hover {
			background-color: $silvergrey;
			color: $brandblue;
		}
	}
}


$social-icons: 26px;
ul.social-icons {
	text-align: right;
	display: block;
	margin: 0 0 0;
	height: $social-icons;
	li {
		display: inline-block;
		text-align: left;
		padding-right: 4px;
		a {
      font-size: 0;
      width: $social-icons;
      height: $social-icons;
      display: block;
			&:before {
        visibility: visible;
        font-size: 0;
        width: $social-icons;
        height: $social-icons;
        display: block;
        content: '';

        background-size: 100% auto;
        background-repeat: no-repeat;
      }
      &:hover:before {
        @include opacity(0.8);
      }
		}
		&.social-facebook a {
      &:before {
        background-image: url(../images/social-icons-facebook.png);
      }
    }
    &.social-twitter a {
      &:before {
        background-image: url(../images/social-icons-twitter.png);
      }
    }
    &.social-youtube a {
      &:before {
        background-image: url(../images/social-icons-youtube.png);
      }
    }
    &.social-blog a {
      &:before {
        background-image: url(../images/social-icons-blog.png);
      }
    }
	}
}
#footer {
	ul.social-icons {
		text-align: left;
		padding-left: 0;
		.social-facebook a {
		  &:before {
		    background-image: url(../images/social-icons-blue-facebook.png);
		  }
		}
		.social-twitter a {
		  &:before {
		    background-image: url(../images/social-icons-blue-twitter.png);
		  }
		}
		.social-youtube a {
		  &:before {
		    background-image: url(../images/social-icons-blue-youtube.png);
		  }
		}
		.social-blog a {
		  &:before {
		    background-image: url(../images/social-icons-blue-blog.png);
		  }
		}
	}
}
