/**
 * @file
 * Cruises International 2017 Theme
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-transform: uppercase;
	color: $brandblue;
	padding: 10px 0 0;
	margin: 0 0 5px;
}


h1.page-title {
	font-weight: normal;
	font-family: $headingstack;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	// font-size: 180%;
	font-size: 250%; 
	line-height: 150%;
	border-bottom: 1px solid $mediumsilvergrey;
	padding: 0 0 10px;
	margin: 30px 0 15px;
}
h2 {
	text-transform: none;
	font-weight: normal;
	font-size: 180%;
	line-height: 160%;
	&.pane-title {
		padding: 0 0 0;
		margin: 20px 0 10px;
		text-align: center;
		font-weight: normal;
		font-family: $headingstack;
		text-transform: uppercase;
	}
}
h3 {
	font-size: 170%;
	line-height: 160%;
}
h4 {
	margin-top: 0;
	padding-top: 0;
	font-size: 130%;
	line-height: 150%;
	text-transform: none;
}
h5 {
	font-size: 150%;
	line-height: 160%;
}
h6 {
	font-size: 100%;
	line-height: 170%;
}

