/**
 * @file
 * Cruises International 2017 Theme
 */



$map_pin_size: 30px;

.leaflet-tagged-marker {
	// margin: 0; // -70px 0 0 20px;
	// height: $map_pin_size;
	// width: $map_pin_size;
	cursor: pointer;
	div, i {
    left: -$map_pin_size / 2;
    min-width: $map_pin_size;
    top: -( ($map_pin_size * 2) + ($map_pin_size / 2) );
	}
	> img {
		// opacity: 0.5;
		display: none;
	}
	&:after {
		content: '';

		height: $map_pin_size;
		width: $map_pin_size;
		display: block;
		background-image: url(../images/map-pin.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-size: center center;
		position: absolute;
		top: -$map_pin_size;
		left: -$map_pin_size / 2;
		cursor: grab;
	}
	div.tag-inside-marker {
		cursor: grab;
		color: #000;
		font-weight: 500;
		font-size: 17px!important;
		font-family: $fontstack;
		top: -($map_pin_size * 2) + 8;
	}
	// &:last-child { // the idea here was to shift the last one slightly off
		// so that the returning and departing numbers don't overlap, however, it doesn't
		// factor in other ports that overlap.
	// 	div.tag-inside-marker {
	// 		left: -3px;
	// 		top: -($map_pin_size + ($map_pin_size / 2) ) + 7;
	// 	}
	// }
}

.leaflet-view {
	width: 100%;
	.view-itinerary-ports-map {
		width: 100%;
		// height: 400px;
		// float: left;
		// display: block;
		// background-color: rgba(red, 0.3);
	}
}
.view-display-id-map_pins,
.view-itinerary-ports-map {
	font-family: $fontstack;
	.leaflet-popup {
		font-family: $fontstack;
		left: 15px!important;
		top: -60px!important;
	}

	.leaflet-container a.leaflet-popup-close-button {
		color: #000;
		padding: 0 0 0;
		&:hover {
			color: $lightblue;
		}
	}

	.leaflet-popup-content {
		padding: 0 0;
		margin: 0 0;
		text-align: center!important;
	}
	.leaflet-popup-content-wrapper {
		text-align: center!important;
	}
	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
    background: transparent!important;
    box-shadow: 0 0 0 transparent!important;
	}
	.leaflet-popup-tip,
	.leaflet-popup-tip-container {
		// display: none;
		background: transparent!important;
		box-shadow: 0 0 0 transparent!important;
		border: 0!important;
	}

	.ports_map_popup {
		.ports_map_popup-photo {
			height: ($map_pin_size * 3) + 20;
			width: ($map_pin_size * 3) + 20;
			@include border-radius(100%);
			overflow: hidden;
			border: 3px solid $brandblue;
			margin: 0 auto;
			background-color: rgba(#fff, 0.5);
			img {
				// max-width: ($map_pin_size * 3) + 20;
				width: auto;
				height: ($map_pin_size * 3) + 20;
			}
		}
		.ports_map_popup-name {
			display: inline-block;
			font-family: $fontstack;
			@include border-radius(15px);
			background-color: $turq;
			color: #fff;
			font-weight: 500;
			padding: 4px 20px;
			margin: 7px 0 0;
			text-decoration: none;
			a {
				text-decoration: none;
				color: #fff;
				&:hover {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
}

.view-display-id-map_pins {
	.leaflet-marker-icon,
	.leaflet-tagged-marker {
		cursor: pointer;
		div, i {
	    left: -$map_pin_size / 2;
	    min-width: $map_pin_size;
	    top: -( ($map_pin_size * 2) + ($map_pin_size / 2) );
		}
		> img {
			// opacity: 0.5;
			display: none;
		}
		&:after {
			content: '';

			cursor: pointer;
			height: $map_pin_size;
			width: $map_pin_size;
			display: block;
			background-image: url(../images/destination-map-pin.png);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-size: center center;
			position: absolute;
			top: -$map_pin_size;
			left: -$map_pin_size / 2;
		}
		// &:hover,
		// &:active {
		// 	opacity: 0.3;
		// }
		div.tag-inside-marker {
			cursor: pointer;
			color: #000;
			font-weight: 500;
			font-size: 17px!important;
			font-family: $fontstack;
			top: -($map_pin_size * 2) + 8;
		}
		// &:last-child { // the idea here was to shift the last one slightly off
			// so that the returning and departing numbers don't overlap, however, it doesn't
			// factor in other ports that overlap.
		// 	div.tag-inside-marker {
		// 		left: -3px;
		// 		top: -($map_pin_size + ($map_pin_size / 2) ) + 7;
		// 	}
		// }
	}
}


