/**
 * @file
 * Cruises International 2017 Theme
 */

.royal-description-wrapper {
  .royal-description {
    text-align: center;
    padding-bottom: 1.5%;
  }
}


.container#tabs {
  width: 100%;
}


.onboard-wrapper,
.dinning-tab-wrapper,
.entertainment-tab-wrapper {
  background: rgba(245, 245, 245, 0.45);
  height: auto!important;
}

.line-break {
  border-bottom: 1px solid $brandblue;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5%;
}

.img-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

//.room-type-title-wrapper > .room-type-title{
//  padding: 0 0 10px;
//  margin: 30px 0 15px;
//  text-align: center;
//  font-weight: 400;
//  font-family: Times,Times New Roman,serif;
//
//}
.room-type-title {
  padding: 0 0 10px;
  margin: 30px 0 15px;
  text-align: center;
  font-weight: 400;
  font-family: Times, Times New Roman, serif;
  clear: both;
  font-size: 250%;
}

.box-images {
  padding: 0 2% 0 0!important;
}

.side-images {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 12px;
}

#box-images-larger {
  min-height: 30px;
  max-height: 386px;
  overflow: hidden;
  padding: 0 15px 0 0!important;
}

.downloads-table {
  > .row {
    border-bottom: 1px solid $mediumsilvergrey;
    &:last-child {
      border-bottom: 0;
    }
  }
}


.event-services-btn,
.view-more {
  float: right!important;
  clear: both;
}

.dinning-gallery-row-wrapper>.col-lg-6>.row-item {
  max-width: 130%;
}
