/**
 * @file
 * Cruises International 2017 Theme
 * Navigation
 */

nav {
	label,
	input {
		display: none;
	}
}


.region-navigationzone-wrapper.columns,
// #socialzone.columns,
.navigationzone.columns {
	margin-left: 0;
}


nav {
	font-size: 12px;
	line-height: 60px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-align: center;
	z-index: 99;
	position: relative;
	&:after {
		content: '';

		display: table;
		clear: both;
	}
	ul.menu {
		float: none;
		padding: 0;
		margin: 0; //  -15px;
		list-style: none;
		position: relative;
		text-align: left;
		li {
			width: auto;
			margin: 0 -3px 0 0!important;
			padding: 0!important;
			display: inline-block;
			float: none; // left;
			background-color: none;
			padding: 0 0 0!important;
			& a {
				color: $brandblue;
				display: block;
				padding: 0 15px;
				line-height: 30px;
				text-decoration: none;
				border-right: 1px solid $lightgrey;
				
				&:hover {
					background: $silvergrey;
					color: $brandblue;
				}
			}
			&:last-child a {
				border-right: 0;
			}
			& a.active {
				color: $brandblue;
			}
			& > a:after {
				// content: ' +';
			}
			& > a:only-child:after {
				// content: '';
			}
			&:hover {
				background: $silvergrey;
				color: $brandblue;
				margin-bottom: 0!important;
				a {
					background: $silvergrey;
					color: $brandblue;
				}
				& > ul.menu {
					display: inherit;
				}
			}
			ul.menu li:hover {
				background: $silvergrey;
				color: $brandblue;
			}
			&.home-icon {
				a {
					background: transparent url(../images/home-icon-turq_32.png) no-repeat 12px 4px;
					background-size: 40% auto;
					font-size: 0;
					height: 26px;
					width: 33px;
					a:hover {
						background: transparent url(../images/home-icon-turq_32.png) no-repeat 12px 4px;
						background-size: 40% auto;
						@include transition (none);
					}
					&.active {
						background: transparent url(../images/home-icon-turq_32.png) no-repeat 12px 4px;
						background-size: 40% auto;
						&:hover {
							background: transparent url(../images/home-icon-turq_32.png) no-repeat 12px 4px;
							background-size: 40% auto;
							@include transition (none);
						}
					}
				}
				&.active:hover a:hover,
				&.active:hover a,
				a:hover {
					a {
						background: transparent url(../images/home-icon-turq_32.png) no-repeat 12px 4px;
						background-size: 40% auto;
						@include transition (none);
					}
				}
			}
		}
		ul.menu {
			text-transform: none;
			display: none;
			position: absolute;
			z-index: 999;
			top: 42px;
			width: 250px;
			font-weight: normal;
			li {
				background-color: $silvergrey;
				color: $brandblue;
				width: 250px;
				float: left; // none;
				display: list-item;
				list-style: none;
				position: relative;
				padding: 8px 0 8px!important;
				a {
					border-right: 0;
					color: $brandblue;
					background: $silvergrey;
					line-height: 100%;
					padding: 5px 20px 5px;
					&:hover {
						color: $brandblue;
						background: $silvergrey;
					}
				}
			}
			ul.menu li {
				position: relative;
				top: -60px;
				left: 250px;
			}
		}
	}
	&.nine.columns {
		text-align: left;
		ul.menu {
			text-align: left;
			li {
			}
		}
	}
}

li.icon-link-item {
	text-indent: -9999px;
	font-size: 0;
	margin-left: 0px!important;
	width: 45px;
	vertical-align: middle;
	line-height: 60px;
	&:hover {
		background: transparent!important;
	}
	.icon-link {
		text-indent: -9999px;
		font-size: 0;
		position: relative;
		width: 35px;
		margin-left: 0px!important;
		line-height: 40px;
		&:hover {
			background: transparent!important;
			color: $brandblue!important;
		}
		.fa,
		i {
			font-size: 22px;
			text-indent: 0px;
			width: 20px;
			display: inline-block;
			float: left;
			line-height: 170%;
		}
	}
}
footer {
	li.icon-link-item {
		line-height: 25px;
		width: 20px;
		height: 24px;
		.icon-link {
			width: 20px;
			.fa,
			i {
				width: 20px;
				font-size: 13px;
			}
		}
	}
}

label[for="mobile-menu-icon"] {
	color: #fff;
}



.sticky-header {
	nav ul.menu.background--dark {
		li {
			& a,
			& a.active {
				color: $brandblue;
			}
			&:hover {
				color: $brandblue;
				a {
					color: $brandblue;
				}
			}
		}
	}
}

.tabs {
	margin-bottom: 0;
	min-height: 1px;
	ul {
		margin-bottom: 15px;
	}
}

.pager li > a,
.pager li > span {
  border-radius: 0;
}


.go-top {
	@include transition-property(all);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in-out);
	@include border-radius($br_small);
	display: none;
	cursor: pointer;
	height: 40px;
	width: 40px;
	position: fixed;
	right: 15px;
	bottom: 90px;
	line-height: 48px;
	font-size: 30px;
	background: $brandblue;
	text-decoration: none;
	color: #fff;
	text-align: center;
	z-index: 9999;
	&:hover {
		background: $darkgrey;
		color: #fff;
	}
	&.is-visible {
		/* the button becomes visible */
		display: block;
		@include opacity(0.9);
	}
	&.fade-out {
		/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
		@include opacity(0.4);
	}
}
