/**
 * @file
 * Cruises International 2017 Theme
 */

body.front {
	#block-system-main {
    > .content {
      vertical-align: top;
      > .panel-display {
        vertical-align: top;
        .panel-pane {
					// clear: both;
					// display: inline-block;
					// position: relative;
				}
        .pane-cfe-2017-cruise-destinations {
          margin-top: 0;
          padding-top: 0;
          h2.pane-title {
            // margin-top: 0;
            // padding-top: 0;            
          }
        }
      }
    }
  }
  .homepage-latest-deals {
  	article > h2 {
  		display: none;
  	}
  }
}

// Ash to Ash: WILL THIS CAUSE PROBLEMS ELSEWHERE?
.panel-pane {
	article > h2 {
		display: none;
	}
}


.see-all-cruise-deals-button {
	text-align: right;
	margin-top: -59px;
	a {
		height: 34px;
		line-height: 34px;
		padding-top: 0;
		padding-bottom: 0;
	}
}


.departing-text-line {
	color: $middlegrey;
	text-transform: uppercase;
	p {
		font-size: $text_size + 5;
		margin-bottom: 5px;
	}
}

#pricing-accordion,
#accordion {
  &.ui-accordion .ui-accordion-header {
    border: none!important;
    font-size: 12px!important;
    font-weight: normal!important;
    &:after {
      display: none!important;
    }
  }
  &.ui-accordion .ui-accordion-icons {
    // padding-left: 0;
  }
  &.ui-accordion .ui-accordion-header { // > .ui-accordion-header-icon
    .accordion-title {
      background-color: transparent!important;
      padding-left: 15px!important;
      span.accordion-title-wrapper {
        display: inline-block!important;
      }
    }
    > .ui-accordion-header-icon {
      color: $mediumsilvergrey!important;
      display: inline-block!important;
      left: -5px!important;
    }
    &.ui-accordion-header-active {
    	background-color: $brandblue;
    }
  }
  .ui-accordion-content {
    border: 1px solid $mediumsilvergrey!important;
    border-top: 1px solid $mediumsilvergrey!important;
  }
}

$pager_dots: 12px;
// homepage slideshow
.view-homepage-slideshow-2017 {
	.views-slideshow-cycle-processed {
		position: relative;
	}
	.views-slideshow-controls-bottom {
		position: absolute;
		z-index: 9999;
		margin-top: -50px;
		margin-bottom: 30px;
		display: block;
		width: 100%;
		text-align: right;
		padding-right: 6%;
		.views-slideshow-pager-field-item {
			display: inline-block;
			padding-left: 5px;
			a {
				display: inline-block;
				height: $pager_dots;
				width: $pager_dots;
				border-radius: 100%;
				background-color: #fff;
				border: 1px solid $brandblue; 
				font-size: 0;
			}
			&.active {
				a {
					height: $pager_dots;
					width: $pager_dots;
					border-radius: 100%;
					background-color: $brandblue;
					border: 1px solid #fff;
					font-size: 0;
				}			
			}
		}
	}
}


.slick__slide {
	width: 335px;
	ul, li {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		list-style-type: none;
		.grid__content {
			text-align: center;
			width: auto; // 340px;
			.cruise-factory-entity {
				&.cruise-factory-entity-destination-more-detail-teaser {
					&.cruise-factory-entity-base-destination-group {
						text-align: center;
						width: 320px; // 100%;
						.views-row .views-field {
							margin: 0 auto;
							text-align: center;
							&.views-field-page-title,
							&.views-field-field-page-title {
								// width: 100%;
								margin: 0 0 0 10px; // 0 1%;
								z-index: 999;
								position: absolute;
							}
						}
					}
				}
			}
		}
	}
}
.slick-dots {
	text-align: center;
	width: 100%;
	li {
		display: inline-block;
		height: $pager_dots;
		width: $pager_dots;
		border-radius: 100%;
		background-color: #fff;
		border: 1px solid $brandblue; 
		font-size: 0;
		margin: 0 3px;
		&.slick-active {
			height: $pager_dots;
			width: $pager_dots;
			border-radius: 100%;
			background-color: $brandblue;
			border: 1px solid #fff;
			font-size: 0;
		}
	}
}




.slideshow-2017-info-block-wrapper {
  position: absolute;
  top: 80px;
  left: 16%; // 80px;
  background: rgba(#fff, 0.7);
  padding: 30px 40px;
  width: 310px;
  &:after,
	&:before {
		content: " ";
		position: absolute;
		display: block;
		height: 25px;
		width: 25px;
		background-color: transparent;
		border-top: 1px solid #fff; 
		border-left: 1px solid #fff;
		top: -10px;
		left: -10px;
	}
	&:after {
		top: unset;
		left: unset;
		border-top: none;
		border-left: none;
		border-bottom: 1px solid #fff; 
		border-right: 1px solid #fff;
		bottom: -10px;
		right: -10px;		
	}
}

//
//
//
// this is how you disable the text block on the first slide:
//
//
// #views_slideshow_cycle_div_homepage_slideshow_2017-block_1_0 .slideshow-2017-info-block-wrapper {
// 	display: none!important;
// 	left: -999999px!important;
// 	&:after,
// 	&:before {
// 		display: none!important;
// 	}
// }

.slideshow-2017-info-block {
	width: 100%;
	position: relative;
	.container {
		margin-right: auto!important;
		margin-left: auto!important;
		> .field-content {
			@extend .container;
			position: relative;
			margin-right: auto!important;
			margin-left: auto!important;
		}
	}
	.slideshow-2017-heading {
		color: $brandblue;
		font-size: 30px;
		line-height: 100%;
		text-transform: uppercase;
		font-family: $headingstack;
		margin-bottom: 10px;
	}
	.slideshow-2017-sub_title {
		color: $brandblue;
		line-height: 120%;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.slideshow-2017-button {
		.ghost-button {}
	}
}


.groups-and-incentives {
	background-color: $brandblue;
	background-image: url(../images/groups-and-incentives.jpg);
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 350px;
	width: 100%;
	text-align: center;
	.flexbox-child {
		text-align: center;
		align-items: center;
	  justify-content: center;
	}
	> img {
		text-align: center;
	}
}


$cruiseline-teaser-width: 350px;
$cruiseline-teaser-height: 250px;

.view-cruiselines-custom-order,
.view--cfe-2017-cruiselines {
	&.view-display-id-custom_order_cruiseline_page,
	&.view-display-id-page {
		margin-bottom: 30px;
		.view-content {
			text-align: center;
			position: relative;
			vertical-align: top;
		}
		.views-row {
			position: relative;
			vertical-align: top;
			width: $cruiseline-teaser-width;
			height: $cruiseline-teaser-height;
			display: inline-block;
			float: none;
			// margin: 0 -1px -1px 0;
			padding: 0 0 0;
			margin: 0 -2px 0;
			border-width: 0;
			img {
				max-width: 90%;
				height: auto;
			}
		}
		.col-md-4 {
		  border-color: $lightgrey;
		  border-style: solid;
		  // border-width: 0 0 1px 0;
		  border-width: 0;
		  border-bottom-width: 1px;
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(8),
			&:nth-child(11) {
				border-color: $lightgrey;
	      border-style: solid;
	      // border-width: 0 1px 0;
	      border-left-width: 1px;
	      border-right-width: 1px;
				// .cruiseline-wrapper {
			  //   border-color: $lightgrey;
			  //   border-style: solid;
			  //   border-width: 0 1px 0;
			  // }
			}
			&:nth-child(1),
			&:nth-child(2),		
			&:nth-child(3) {
	      border-color: $lightgrey;
	      border-style: solid;
	      // border-width: 0 0 1px 0;
	      border-bottom-width: 1px;
			}
			&:nth-child(2) {
				border-left-width: 1px;
	      border-right-width: 1px;
			}
			&:last-child {
	      border-color: $lightgrey;
	      border-style: solid;
	      // border-width: 0 1px 0;
	      border-left-width: 1px;
	      border-right-width: 1px;
	      border-bottom-width: 0;
			}
			&:hover { // .cruiseline-wrapper {
	      border-color: $brandblue;
			}
		}
	}
	&.view-display-id-custom_order_footer_blocks,
	&.view-display-id-footer_logo_block {
		margin: 30px 0 0;
		.view-content {
			text-align: center;
			display: block;
			vertical-align: middle;
			.views-row {
				vertical-align: middle;
				display: inline-block;
				img {
					margin-bottom: 20px;
					max-width: none; // 100%; // auto;
					height: 28px; // auto;
					max-height: 28px; // 28px;
					width: auto;
					padding: 0 15px;
				}
			}
		}
	}
}

body.page-cruise-factory-entity-base-cruiselines {
	h1.page-title {
		width: 100%;
		text-align: center;
		font-size: 180%;
		// text-transform: none;
		line-height: 140%;
		border-bottom: 1px solid $mediumsilvergrey;
		padding: 0 0 10px;
		margin: 30px 0 15px;
	}
}

.pane-destination-page-ports-map {
	.leaflet-tagged-marker {
		div.tag-inside-marker {
			font-size:0!important;
		}
		&:after {
			content: '';
			height: 12px;
			width: 12px;
			display: block;
			background-image: url(../images/destination-map-pin.png);
			position: absolute;
			top: 1px;
			left: 1px;
			cursor: grab;
		}
	}
}

.view-ship-image-from-media-library {
	.views-row {
		margin-bottom: 30px;
	}
}


.view--cfe-2017-cruise-destinations {
	> .view-content {
		text-align: center;
		> .views-row {
			display: inline-block;
			float: none;
			margin: 0 -3px 0;
		}
	}
	&.view-display-id-map_pins {
		background: $map_ocean_colour;
		> .view-content {
			position: relative;
			> div {
				overflow: hidden;
				margin: 20px auto 30px;
				height: 450px;
				max-width: 1000px;
				width: 1000px;
				position: relative;
				&:before {
					display: inline-block;
					width: 190px;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					content: '';
					z-index: 999;
					pointer-events: none;
					@include filter-gradient($map_ocean_colour, $map_ocean_colour, horizontal); // IE6-9
					@include background-image(linear-gradient(left,  rgba($map_ocean_colour,1) 0%,rgba($map_ocean_colour,0.99) 50%,rgba($map_ocean_colour,0) 100%));
				}
				&:after {
					display: inline-block;
					width: 190px;
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					content: '';

					z-index: 999;
					pointer-events: none;
					@include filter-gradient($map_ocean_colour, $map_ocean_colour, horizontal); // IE6-9
					@include background-image(linear-gradient(left,  rgba($map_ocean_colour,0) 0%,rgba($map_ocean_colour,0.01) 1%,rgba($map_ocean_colour,1) 50%));
				}
				> .leaflet-container {
					margin-top: -100px;
					background: $map_ocean_colour;
					.leaflet-control-zoom {
						z-index: 9999;
						// display: none;
						margin-top: 120px!important;
					}
				}
			}
		}
	}
	&.view-display-id-page {
		> .view-content {
			> .views-row {
				padding-left: 0;
				padding-right: 0;
				> .entity-panels-entity {
					margin-left: 15px;
					margin-right: 0;
				}
			}
		}
	}
}
.pane-latest-news { // col-md-12
	padding-left: 0;
	padding-right: 0;
}

.view-display-id-homepage_featured_2017 {
	> .view-content {
		> .views-row {
			> .panel-display {
				> .center-wrapper {
					// flexbox-wrapper
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-webkit-flex: 1 1 auto;
					-ms-flex: 1 1 auto;
					flex: 1 1 auto;
					> .panel-panel {
						display: -webkit-flex;
						display: -ms-flex;
						display: flex;
						-webkit-flex: 1 1 auto;
						-ms-flex: 1 1 auto;
						flex: 1 1 auto;
					}
				}
			}
		}
	}
	.views-field-title {
		position: absolute;
		width: 100%;
		padding: 8px 10px;
		top: 0px;
		left: 0px;
		background: $shipmates_turq;
		color: #fff;
		overflow-wrap: break-word;
    white-space: normal;
		a {
			color: #fff;
		}
	}
	.views-field-field-button-link-1 {
	// .views-field-view-node {
		position: absolute;
		right: 30px;
		bottom: 5px;
	}
	.panel-panel,
	.panel-col-first {
		padding-left: 0;
		padding-right: 0;
	}
	.panel-col-first {
		margin-right: 20px;
	}
	.panel-col-last {
		.view-display-id-homepage_featured_2017_block_2 {
			margin-bottom: 30px;
			.views-row-1 {
				flex: 1 1 0;
				display: flex;
				// margin-bottom: 20px;
				margin-right: 10px;
				.views-field-field-button-link-1 {
				// .views-field-view-node {
					bottom: 18px;
	    		right: 9px;			
				}
			}
			.views-row-2 {
				margin-left: 10px;
				// margin-bottom: 20px;
				.views-field-title {
					background: transparent;
			    color: #fff;
			    font-weight: 400;
			    font-size: 140%;
			    line-height: 120%;
			    display: table-cell;
			    height: 60%;
			    left: 15%;
			    margin: 0 auto;
			    overflow-wrap: break-word;
			    padding: 8px 10px;
			    position: absolute;
			    right: 15%;
			    text-align: center;
			    top: 25%;
			    vertical-align: middle;
			    white-space: normal;
			    width: 75%;
					a {
						color: #fff;
					}
				}
				.views-field-field-image {
					background-color: $brandblue;
					img {
						@include opacity(0.3);
					}
				}
				.views-field-field-button-link-1 {
				// .views-field-view-node {
					display: none;
				}
				color: #fff;
				a {
					color: #fff;
				}
			}
		}
	}
	.view-display-id-homepage_featured_2017_block_1 {
		.views-field-title {
			background: transparent;
	    color: #fff;
	    font-weight: 400;
	    font-size: 190%;
	    line-height: 120%;
	    display: table-cell;
	    height: 60%;
	    left: 15%;
	    margin: 0 auto;
	    overflow-wrap: break-word;
	    padding: 8px 10px;
	    position: absolute;
	    right: 15%;
	    text-align: center;
	    top: 25%;
	    vertical-align: middle;
	    white-space: normal;
	    width: 75%;
			a {
				color: #fff;
			}
		}
		.views-field-field-image {
			background-color: $shipmates_turq;
			img {
				@include opacity(0.6);
			}
		}
		.views-field-field-button-link-1 {
		// .views-field-view-node {
			bottom: 5px;
	    right: 10px;			
		}
	}
	// .view-display-id-homepage_featured_2017_block_1,
	.view-display-id-homepage_featured_2017_block_2 {
		overflow: hidden;
		height: 241px;
		.views-field-title {
			position: absolute;
			width: 100%;
			padding: 8px 10px;
			top: 0px;
			left: 0px;
			background: $shipmates_turq;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
	.view-display-id-homepage_featured_2017_block_3 {
		margin-top: -2px;
		.views-field-title {			
			bottom: 255px;
			top: auto;
		}
		.views-field-field-button-link-1 {
		// .views-field-view-node {
			bottom: 5px;
	    right: 10px;
		}
	}
}


body.page-node-quiz-results {
	.region-content {
		fieldset {
			display: none;
		}
		#quiz_score_percent,
		#quiz_score_possible {
			font-size: 200%;
			line-height: 150%;
			text-align: center;
		}
	}
}


