/**
* @file
* Cruises International 2017 Theme
*/

// unset  jquery UI's fonts....
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: $fontstack;
}

// CRUISE 2017 TABBED DEAL PAGE
#cruises2017_cruiseline_tabs,
#cruises2017_deal_tabs,
.below-tabs-block {
	float: left;
	margin: 0 0 0;
	position: relative;
	width: 100%;
}
.terms-and-conditions-accordion {
	.ui-accordion-icons {
		// padding-left: 0;
	}
	.accordion-title {
		background-color: transparent;
		padding-left: 15px;
		border: 0;
		span.accordion-title-wrapper {
			display: inline-block;
		}
		span.ui-accordion-header-icon {
			display: inline-block;
			left: -5px;
		}
	}
	.ui-accordion-content {
		border: 1px solid $middlegrey;
		border-top: 1px solid $middlegrey;
	}
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	a.ui-button:active,
	.ui-button:active,
	.ui-button.ui-state-active:hover {
		border: 0;    
		background-color: #fff;
		font-weight: normal;
		color: $middlegrey;
		.ui-accordion-header-icon {
			background-image: url(https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_555555_256x240.png);
		}
	}
}


// the fallback price matrix is in the first column, 
// but it should be full width still
.panel-panel.col-md-9 {
	.view-display-id-pricing_matrix_fallback {
		width: 136%;
	}
}


ul.top-tab-links {
	width: 100%;
	clear: both;
	li.ui-state-default,
	li.ui-state-active,
	li.ui-state-hover,
	li.ui-tabs-active,
	li.ui-tabs-tab {
		margin: 0 2px 0;
		border-radius: 0;
		border: 0;
		box-shadow: 0 0 none;
		padding: 0 0 0;
		text-align: center;
		background: transparent;
		cursor: pointer;
		a,
		a.ui-tabs-anchor {
			width: 100%;
			padding: 20px 0;
			text-transform: uppercase;
			color: $brandblue;
			background: $mediumsilvergrey;
			cursor: pointer;
			text-align: center;
			margin: 0 auto;
			border: 0;
			&:hover,
			&:active,
			&.active {
				border: 0;
			}
			&:hover {
				background: $silvergrey;
				cursor: pointer;
			}
		}
	}
	li.ui-tabs-active {
		cursor: pointer;
		// background: transparent;
		a.ui-tabs-anchor,
		a {
			color: #fff;
			background: $brandblue;
			&:hover {
				color: #fff;
				background: $brandblue;
			}
		}
	}
}

.ui-tabs {
	.ui-tabs-nav {
		padding: 0 0 0;
	}
}

.ui-widget-header {
	border-radius: 0;
	border: 0;
	box-shadow: 0 0 none;
	background: transparent;
}

#overview-tab {
	.center-wrapper {
		align-items: stretch;
		> .panel-col-first {
			padding-left: 1px;
			padding-right: 15px;
			> .inside {
				display: block;
				width: 100%;
			}
		}
		> .cruise-deal-full-width-image {
			// align-self: stretch;
			background-color: rgba($lightblue, 0.3);
			padding: 0 0 0;
			margin: 0 2px 0 0;
			height: 318px; // 275px;
			overflow: hidden;
			> .inside {
				width: 100%;
				img {
					max-width: none;
					width: auto;
					// width: 100%;
					// top: -50%;
					// position: absolute;
				}
			}
		}
	}
}

// .cruise-factory-entity-cruise-factory-base-cruiselines .below-tabs-block,
.cruise-factory-entity-base-cruiselines .below-tabs-block,
.cruise-factory-entity-cruise-factory-complete-cruise .below-tabs-block,
.cruise-factory-entity-cruise-factory-complete-deal .below-tabs-block,
.panel-cruises2017_deal_tabs .panel-col-top,
.panel-cruises2017_deal_tabs .panel-col-bottom {
	padding-left: 0;
	padding-right: 0;
}

.view-display-id-itinerary_more_than_ten {
	.view-header {
		text-align: center;
		margin: 10px 0 0;
		#show-full-itinerary {
			font-size: 80%;
			height: auto;
			line-height: 100%;
			margin: 4px 0;
			max-width: 100%;
			padding: 8px 18px;
		}
	}
	.view-content {
		display: none;
		thead {
			display: none;
		}
	}
}

.view-display-id-terms_and_conditions {
	.views-row > div > div > *,
	p {
		display: inline;
	}
}

.views-field-final-cruise-description {
	h3,
	p {
		margin: 0 0 0;
	}
	br {
		display: block;
		height: 0;
		margin-bottom: 10px;
		width: 100%;
	}
}

.view-display-id-cabin_list_on_ship_id {
	h3.year-month-day-date-header {
		margin: 0 0 0;
		text-transform: none;
		font-weight: normal;
		font-family: $headingstack;
	}
}

.month-division {
	.month-division-title-wrapper {
		.month-division-title {
			margin: 0 0 10px;
			border-bottom: 1px solid $mediumsilvergrey;
			padding: 0 0 10px;
			text-transform: none;
			font-weight: normal;
		}
	}
	.individual-day-rows {}
}

#staterooms-rates-tab {
	.view-grouping-content {
		> h3 {
			margin: 0 0 0;
		}
	}
}


.date-nav-wrapper {
	margin-top: 30px;
	.date-heading h3 {
		font-size: $large_text_size!important;
		font-weight: normal!important;
		padding: 10px 30px!important;
		display: inline-block!important;
		@include border-radius(4px);
		border: 1px solid $turq;
		text-transform: none!important;
		&:empty {
			display: none!important;
		}
	}
	ul.pager {
		&:empty {
			display: none!important;
		}
	}
	.date-next a,
	.date-prev a {
		font-size: $large_text_size!important;
		font-weight: normal!important;
		background-color: transparent!important;
		border: 0!important;
		color: $middlegrey!important;
		display: inline-block!important;
		margin: 0 0!important;
		padding: 10px 0!important;
		text-decoration: none!important;
		text-transform: none!important;
		width: auto!important;
		&:hover {
			color: $lightblue!important;
			&:before,
			&:after {
				color: $lightblue!important;
			}
		}
	}
	.date-prev a {
		&:before {
			color: $brandblue;
			content: "\f104";
			font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
			margin-top: -4px;
			padding-right: 10px;
		}
	}
	.date-next a {
		&:after {
			color: $brandblue;
			content: "\f105";
			font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
			margin-top: -4px;
			padding-left: 10px;
		}
	}
}
h3.year-month-day-date-header {
	text-transform: none;
	border-bottom: 1px solid $mediumsilvergrey;
}






$ship-tab-icon-size: 30px;
#ship-tab {
	.view-display-id-ship_stats {
		.panel-col-top {
			text-align: center;
			margin-bottom: 40px;
			h2 {
				text-transform: uppercase;
				font-weight: normal;
				font-family: $headingstack;
				text-align: center;
				font-size: 250%;
				line-height: 170%;
				margin: 30px 0 0;
			}
			p {
				text-align: center;
			}
		}
		.center-wrapper {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			align-items: stretch;
			margin-bottom: 30px;
			min-height: auto;
			.panel-panel {
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-webkit-flex: 1 1 auto;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				> .inside {
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-webkit-flex: 1 1 auto;
					-ms-flex: 1 1 auto;
					flex: 1 1 auto;
					align-items: stretch;
					flex-wrap: wrap;
					height: 225px;
					> .views-field {
						display: block;
					}
				}
			}
			.panel-col-first {
				margin-left: 10%;
				.views-field {
					border: 1px solid $lightgrey;
					width: 50%;
					padding: 40px 0 20px;
					// margin: 0px -5px -1px 0px;
					margin: 0 -1px 0 0;
					display: inline-block;
					text-align: center;
					&:nth-child(1),
					&:nth-child(2) {
						margin-bottom: -1px;
					}
					.views-label {
						color: $middlegrey;
						font-size: $text_size;
						line-height: $ship-tab-icon-size;
						text-transform: uppercase;
					}
					.field-content {
						color: $brandblue;
						font-weight: 500;
						font-size: 180%;
						line-height: 120%;
					}
					&.views-field-base-star-rating {
						.views-label:before {
							content: '';
							display: inline-block;
							background-image: url(../images/ship_stats_icons-star-rating.png);
							background-size: 100% auto;
							height: $ship-tab-icon-size;
							width: $ship-tab-icon-size;
							margin: 0 8px -7px 0;
							background-repeat: no-repeat;
						}
					}
					&.views-field-base-crew-size {
						font-size: $text_size;
						font-weight: normal!important;
						margin-top: 0!important;
						.views-field-base-crew-size {
							border: 0;
							padding: 0 0 0;
							margin: 0 0 0;
							width: 100%;
							.views-label {
								color: $middlegrey;
								font-size: $text_size;
								line-height: $ship-tab-icon-size;
								text-transform: uppercase;
								&:before {
									content: '';
									display: inline-block;
									background-image: url(../images/ship_stats_icons-crew.png);
									background-size: 100% auto;
									height: $ship-tab-icon-size;
									width: $ship-tab-icon-size;
									margin: 0 8px -7px 0;
									background-repeat: no-repeat;
								}
							}
							.field-content {
								color: $brandblue;
								font-weight: 500;
								font-size: 180%;
								line-height: 120%;
							}
						}
					}
					&.views-field-base-length {
						.views-label:before {
							content: '';
							display: inline-block;
							background-image: url(../images/ship_stats_icons-length.png);
							background-size: 100% auto;
							height: $ship-tab-icon-size;
							width: $ship-tab-icon-size;
							margin: 0 8px -7px 0;
							background-repeat: no-repeat;
						}
					}
					&.views-field-base-speed {
						.views-label:before {
							content: '';

							display: inline-block;
							background-image: url(../images/ship_stats_icons-speed.png);
							background-size: 100% auto;
							height: $ship-tab-icon-size;
							width: $ship-tab-icon-size;
							margin: 0 8px -7px 0;
							background-repeat: no-repeat;
						}
					}
				}
			}
			.panel-col-last {
				margin-right: 10%;
			}
		}
		.center-wrapper ~ .center-wrapper {
			// min-height: none;
			.panel-panel {
				> .inside {
					height: unset;
					margin-bottom: 0;
				}
			}
		}
	}
}

.deckplans-accordion {
	.ui-accordion-icons {
		// padding-left: 0;
	}
	.accordion-title {
		background-color: transparent;
		padding-left: 12.3%;
		// margin-left: 10%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: $brandblue;
    text-transform: uppercase;
    @extend .arrow-down;

		span.accordion-title-wrapper {
			display: inline-block;
		}
		span.ui-accordion-header-icon {
			display: none; // inline-block;
			// left: -5px;
		}
	}
	.ui-accordion-content {
		border: 0; // 1px solid $middlegrey;
		border-top: 0; // 1px solid $middlegrey;
	}
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	a.ui-button:active,
	.ui-button:active,
	.ui-button.ui-state-active:hover {
		border: 0;    
		background-color: #fff;
		font-weight: normal;
		color: $middlegrey;
		.ui-accordion-header-icon {
			// background-image: url('//code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_555555_256x240.png');
		}
	}
}





.view-deck-plans-on-ship {
	// background: rgba(#ccc, 0.5);
	margin: 30px 0 10px;
	padding-bottom: 10px;
	display: block;
	width: 100%;
	border-bottom: 1px solid $brandblue;
	// min-height: 400px;
	.views-slideshow-cycle-main-frame-row {
		// background: rgba(#ccc, 0.5);
		width: 100%;
		display: block;
	}
	.views-slideshow-cycle-main-frame {
		width: 100%;
		.panel-display {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			align-items: stretch;
			flex-wrap: wrap;
			.panel-col-first {
				align-self: stretch;
				background: $silvergrey;
				// display: block;
				display: flex;
				align-items: stretch;
				align-self: stretch;
				text-align: center;
				padding: 20px 20px 20px;
				.inside {
					width: 100%;
					text-align: center;
					.views-field-base-image {
						background: #fff;
						align-items: stretch;
						align-self: stretch;
						border: 1px solid $brandblue;
						padding: 30px;
						height: 100%;
						vertical-align: middle;
						.field-content {
							height: 100%;
							vertical-align: middle;
							align-items: stretch;
							align-self: stretch;
							a {
								height: 100%;
								min-height: 700px;
								vertical-align: middle;
								align-items: stretch;
								align-self: stretch;
								position: relative;
								display: block;
								img {
									position: absolute;
									left: 50%;
									top: 50%;
									transform: translate(-50%, -50%);
								}
							}
						}
					}
				}
			}
			.panel-col-last {
				align-self: stretch;
				display: block;
				text-align: center;
				padding: 20px 20px 20px;
				img {
					// max-height: 400px;
					display: inline-block;
				}
			}
		}
	}
	.views_slideshow_cycle_slide {}
	.views_slideshow_slide {}
	.views-row-odd {}
	.views-row-even {}
	.views-slideshow-controls-text {
		text-align: center;
		.views-slideshow-controls-text-previous {
			display: block;
			position: absolute;
			left: 10px;
		}
		.views-slideshow-controls-text-next {
			display: block;
			position: absolute;
			right: 10px;
		}
	}
	.views-slideshow-controls-top,
	.views-slideshow-controls-bottom {
		text-align: center;
		.widget_pager {
			margin: 10px auto 20px;
			.views-slideshow-pager-field-item {
				background-color: $lightgrey;
				border-radius: 100%;
				height: 10px;
				width: 10px;
				display: inline-block;
				margin-left: 8px;
				cursor: pointer;
				&:hover {
					background-color: $silvergrey;
				}
				&.active {
					background-color: $brandblue;
				}
			}
		}
	}
}

.view-2017-port-images-on-port-name {
	.views-row {
		margin-bottom: 20px;
	}
}



#highlights-tab {}

#gallery-tab {}

.ui-widget.ui-widget-content {
	border-radius: 0;
	border: 0;
	box-shadow: 0 0 none;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-right,
.ui-corner-br .ui-corner-bl,
.ui-corner-tr,
.ui-corner-tl {
	border-radius: 0;
}

.ui-tabs .ui-tabs-panel {
	padding: 20px 0 30px;
}

body.page-cruise-factory-entity-cruise-factory-complete-cruise,
body.page-cruise-factory-entity-cruise-factory-complete-deal {
	h1.page-title {
		width: 100%;
		text-align: center;
		font-size: 180%;
		text-transform: none;
		line-height: 140%;
		border-bottom: 1px solid $brandblue;
		padding: 0 0 30px;
		margin: 30px 0 0;
	}
}

.view-display-id-itinerary_block,
.view-display-id-itinerary_first_ten,
.view-display-id-itinerary_more_than_ten {
	th,
	td {
		&:nth-child(1) {
			width: 10%;
		}
		&:nth-child(2) {
			width: 50%;
		}
		&:nth-child(3) {
			width: 20%;
		}
		&:nth-child(4) {
			width: 20%;
		}
	}
}

.top_line_cruise_summary {
	text-align: center;
	width: 100%;
	display: block;
	float: left;
	> div {
		display: inline-block;
	}
	color: $middlegrey;
	font-size: 130%;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 130%;
	padding: 0 0 30px;
	margin: 30px 0 10px;
	.cruiseline {}
	.cruiseline {}
	.shipname {}
	.bullet {
		width: 40px;
		color: $brandblue;
	}
}

.cruise_page_overview_block_detail {
	width: 100%;
	text-align: center;
	.cruise-length {
		margin: 0 0 8px;
		padding: 5px 10px 5px;
		border: 1px solid $middlegrey;
		.cruise-length-subtitle {
			color: $middlegrey;
			font-size: $text_size;
			line-height: 80%;
		}
		.cruise-length-nights {
			color: $brandblue;
			font-weight: 500;
			font-size: 180%;
			line-height: 160%;
		}
	}
	.price-block {
		margin: 0 0 8px;
		padding: 5px 10px 5px;
		border: 1px solid $middlegrey;
		&.price-on-request {
			.price-block-subtitle {
				fcolor: $middlegrey;
				font-size: $text_size;
				line-height: 80%;
			}
			.price {
				text-transform: uppercase;
				color: $brandblue;
				font-weight: 500;
				font-size: 100%;
				line-height: 120%;
			}
		}
		.price-block-subtitle {
			color: $middlegrey;
			font-size: $text_size;
			line-height: 80%;
		}
		.price {
			color: $brandblue;
			font-weight: 500;
			font-size: 180%;
			line-height: 160%;
		}
	}
	.sailing-date-block {
		margin: 0 0 8px;
		padding: 5px 10px 5px;
		border: 1px solid $middlegrey;
		.sailing-date-subtitle {
			color: $middlegrey;
			font-size: $text_size;
			line-height: 80%;
		}
		.sailing-date {
			color: $brandblue;
			font-weight: 500;
			font-size: 180%;
			line-height: 160%;
		}
	}
	a.more-sailing-dates-button {
		margin: 0 0 0;
		padding: 5px 10px 5px;
		border: 2px solid $brandblue;
		display: inline-block;
		width: 100%;
		font-size: 130%;
		font-weight: 500;
		text-decoration: none;
		color: $brandblue;
		&:after {
			content: "\f105";
			font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
			margin-top: -4px;
			padding-left: 10px;
		}
		&:hover {
			background-color: $brandblue;
			color: #fff;
			text-decoration: none;
		}
	}
}

.view-display-id-port_images_on_port_id,
.view-display-id-itinerary_top_5_photos {
	> .view-content {
		display: flex;
		flex: 1 1 auto;
		> .views-row {
			display: inline-block;
			margin-right: 8px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.cruise_itinerary_intro {
	text-align: center;
	h2 {
		text-transform: uppercase;
		font-weight: normal;
		font-family: $headingstack;
		text-align: center;
		font-size: 250%;
		line-height: 250%;
	}
	p {
		text-align: center;
	}
}

#cruises2017_cruiseline_tabs {
	> .panel-col-top {
		padding: 0 2px 10px;
	}
}

.panel-cruises2017_cruiseline_tabs {
	.panel-col-first {
		padding: 0 0 0 2px;
		margin: 0 10px 0 0;
	}
	.panel-col-last {
		// padding: 0 2px 0 0;
		padding: 0 0 0 0;
		margin-right: -10px;
	}
}

.view-cruiseline-logo-from-media-library {
	&.view-display-id-gallery_images {
		.view-content {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			.views-row {
				-webkit-flex: 1 1 auto;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				margin: 0 10px 20px 0;
			}
		}
	}
	&.view-display-id-gallery_image_first_large {
		.view-content {
			.views-row {}
		}
	}
	&.view-id-cruiseline_logo_from_media_library {
		img {
			max-width: 90%;
			height: auto;
		}
	}

}

body.front {
	.pane-homepage-search-box-view {
		display: none;
	}
	// #facet_filters {
	//   margin: 15px 0 20px;
	// }
}

.cruise-factory-entity {
	&.cruise-factory-entity-full {
		&.cruise-factory-entity-base-destination-group {
			#cruises2017_destination_tabs {
				> .panel-col-top {
					margin-bottom: 30px;
				}
			}
			.views-field-base-destination-photo-1 {
				padding: 10px 0 20px;
			}
		}
		&.cruise-factory-entity-base-ships {
			.pane-cruise-factory-entity-base-description {
				margin: 20px 0 10px;
			}
			.two-column-top {
				// .center-wrapper {
				display: -webkit-inline-flex;
				display: -ms-inline-flex;
				display: inline-flex;
				-webkit-flex: 1 1 auto;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				align-items: stretch;
				width: 100%;
				.pane-ship-image-from-media-library {
					width: 100%;
				}
				> .panel-col-first {
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-webkit-flex: 1 1 auto;
					-ms-flex: 1 1 auto;
					flex: 1 1 auto;
					> .inside {
						display: -webkit-flex;
						display: -ms-flex;
						display: flex;
						-webkit-flex: 1 1 auto;
						-ms-flex: 1 1 auto;
						flex: 1 1 auto;
						align-items: stretch;
						flex-wrap: wrap;
						> .panel-separator {
							display: none;
						}
						> .panel-pane {
							display: block;
							border: 1px solid $lightgrey;
							width: 48%;
							padding: 40px 0 20px;
							// margin: 0 -1px 0 0;
							margin: 0 -1px -1px 0;
							display: inline-block;
							text-align: center;
							&:nth-child(1),
							&:nth-child(2) {
								margin-bottom: -1px;
							}
							.pane-title {
								display: inline-block;
								color: $middlegrey;
								font-size: $text_size;
								line-height: $ship-tab-icon-size;
								text-transform: uppercase;
							}
							.pane-content {
								color: $brandblue;
								font-weight: 500;
								font-size: 180%;
								line-height: 120%;
							}
						}
					}
				}
				> .panel-col-last {
					margin-right: -10px;
					display: flex;
					flex: 1 1 auto;
					> .inside {
						align-items: stretch;
						display: flex;
						flex: 1 1 auto;
						flex-wrap: wrap;
						div {
							display: block;
						}
					}
				}
			}
			.pane-cruise-factory-entity-base-star-rating {
				.pane-title:before {
					content: '';

					display: inline-block;
					background-image: url(../images/ship_stats_icons-star-rating.png);
					background-size: 100% auto;
					height: $ship-tab-icon-size;
					width: $ship-tab-icon-size;
					margin: 0 8px -7px 0;
					background-repeat: no-repeat;
				}
			}
			.pane-cruise-factory-entity-base-pass-capacity {
				.pane-title:before {
					content: '';

					display: inline-block;
					background-image: url(../images/ship_stats_icons-crew.png);
					background-size: 100% auto;
					height: $ship-tab-icon-size;
					width: $ship-tab-icon-size;
					margin: 0 8px -7px 0;
					background-repeat: no-repeat;
				}
			}
			.pane-cruise-factory-entity-base-length {
				.pane-title:before {
					content: '';

					display: inline-block;
					background-image: url(../images/ship_stats_icons-length.png);
					background-size: 100% auto;
					height: $ship-tab-icon-size;
					width: $ship-tab-icon-size;
					margin: 0 8px -7px 0;
					background-repeat: no-repeat;
				}
			}
			.pane-cruise-factory-entity-base-speed {
				.pane-title:before {
					content: '';

					display: inline-block;
					background-image: url(../images/ship_stats_icons-speed.png);
					background-size: 100% auto;
					height: $ship-tab-icon-size;
					width: $ship-tab-icon-size;
					margin: 0 8px -7px 0;
					background-repeat: no-repeat;
				}
			}
		}
	}
}



.view-display-id-cabin_list_on_ship_id,
.view-display-id-render_pricing_for_cruise {
	> .view-content > .views-row {
		border-bottom: 1px solid $mediumsilvergrey;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
}

.view-display-id-cabin_list_on_ship_id,
.view-display-id-pricing_matrix {
	.panel-panel {
		padding: 0 0 0;
	}
	.center-wrapper {
		display: flex;
		flex: 1 1 auto;
	}
	.panel-col-first {
		img {
			max-height: 250px;
			width: auto;
			margin: 0 auto;
		}
	}
	.panel-col-last {
		align-items: center;
		display: flex;
		padding-left: 50px;
		// .from-price-top-line-text,
		// .no-price-top-line-text {
		//   color: $middlegrey;
		// }
		// .no-price-bottom-text,
		// .price-per-guest-subtext {
		//   color: $middlegrey;
		//   margin-bottom: 20px;
		// }
		// .price-big-text,
		// .no-price-interested-text {
		//   display: block;
		//   color: $brandblue;
		//   font-weight: 500;
		//   font-size: 180%;
		//   line-height: 100%;
		// }
		// .views-field-final-price {
		//   .views-label {
		//     color: $middlegrey;
		//     display: inline-block;
		//   }
		//   .field-content {
		//     display: block;
		//     color: $brandblue;
		//     font-weight: 500;
		//     font-size: 180%;
		//     line-height: 100%;
		//   }
		// }
		h3 {
			margin: 0 0 0;
			text-transform: none;
			font-weight: normal;
			font-family: $headingstack;
		}
		.view-display-id-cabin_detail_on_cabin_id {
			.panel-col-last {
				padding: 0px 20px;
				border-right: 1px solid $mediumsilvergrey;
			}
		}
		.views-field-base-description {
			font-size: 90%;
			line-height: 160%;
		}
	}
	.view-display-id-cabin_list_on_ship_id {
		.view-header p {
			text-align: center;
			border-bottom: 1px solid $mediumsilvergrey;
			padding: 0 0 10px;
			margin: 0 0 10px;
		}
		.panel-col-last {
			// text-align: right;
			padding-left: 50px;
		}
		> .view-content > .views-row .inside {
			margin-bottom: 0;
			margin-right: 0;
		}
		.panel-col-first {
			width: 31%;
			img {
				max-height: 220px;
				// width: auto;
				margin: 0 auto;
			}
		}
		.panel-col-middle {
			border-right: 1px solid $mediumsilvergrey;
			padding: 0 20px;
			width: 44%;
		}
		.panel-col-last {
			width: 25%;
		}
		h3 {
			margin: 0 0 0;
			font-family: $headingstack;
			text-transform: none;
			font-weight: normal;
		}
		.views-field-base-description {
			font-size: 90%;
			line-height: 160%;
		}
	}
}

.view-display-id-pricing_matrix_fallback {
	.views-row {
		margin: 0 0 0;
		padding: 0 0 0;
	}
	.views-field {
		border-bottom: 1px solid $mediumsilvergrey;
		margin: 0 0 15px;
		padding: 0 0 15px;
	}
	// border: 1px solid red;
	.views-label {
		height: 140px;
		display: block;
		color: $brandblue;
		line-height: 100%;
		font-size: 200%;
		font-weight: lighter!important;
		text-align: center;
		vertical-align: middle;
		align-items: center;
		align-self: center;
		display: flex;
		justify-content: center;
	}
	.cabin-generic-descriptions {
		h3 {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		p {
			margin-top: 0;
		}
	}
	.cabin-generic-prices {
		height: 140px;
		border-left: 1px solid $mediumsilvergrey;
		align-items: center;
		padding-left: 50px;
	}
	.views-field {
		.views-label {
			background-color: $silvergrey; // $mediumsilvergrey;
		}
	}
}


table.table td {
	vertical-align: top;
}


.from-price-top-line-text,
.no-price-top-line-text {
	color: $middlegrey;
}
.no-price-bottom-text,
.price-per-guest-subtext {
	color: $middlegrey;
	margin-bottom: 20px;
}
.price-big-text,
.no-price-interested-text {
	display: block;
	color: $brandblue;
	font-weight: 500;
	font-size: 180%;
	line-height: 100%;
}
.views-field-final-price {
	.views-label {
		color: $middlegrey;
		display: inline-block;
	}
	.field-content {
		display: block;
		color: $brandblue;
		font-weight: 500;
		font-size: 180%;
		line-height: 100%;
	}
}

