/**
 * @file
 * Cruises International 2017 Theme
 */

@media only screen and (max-width: 1200px) {



  $cruiseline-teaser-width-responsive: 320px;
  $cruiseline-teaser-height-responsive: 48px;

  .view-cruiselines-custom-order,
  .view--cfe-2017-cruiselines {
    &.view-display-id-custom_order_cruiseline_page,
    &.view-display-id-page {
      .view-content {
        text-align: center;
        position: relative;
        vertical-align: top;
      }
      .views-row {
        position: relative;
        vertical-align: top;
        width: $cruiseline-teaser-width-responsive;
        height: auto; // $cruiseline-teaser-height-responsive;
        display: inline-block;
        float: none; // margin: 0 -1px -1px 0;
        padding: 0 0 0;
        margin: 0 -2px 0;
      }
      .col-sm-6 {
        border-color: $lightgrey;
        border-style: solid;
        border-width: 0 0 0 0;
        .cruiseline-wrapper,
        .cruiseline-hover {
          // display: block!important;
          // height: auto; // $cruiseline-teaser-height-responsive!important;
          // display: none!important;
        }
        &:nth-child(odd) {
          border-width: 0 1px 1px 0;
        }
        &:nth-child(even) {
          border-width: 0 0 1px 0;
        }
        &:nth-last-child(1),
        &:nth-last-child(2) {
          border-bottom-width: 0;
        }
        &:hover {
          border-color: $brandblue;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -40px;
        }
      }
    }
  }

  .view-homepage-slideshow-2017 .views-slideshow-controls-bottom{
    padding-right: 8%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -130px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -150px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -60px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -110px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -60px;
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -102px;
        }
      }
    }
  }
}


@media only screen and (max-width: 980px) {
  nav {
    label,
    input {
      display: none;
    }
    ul.menu {
      padding: 0 0 0; // !important;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -80px !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -58px !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -46px !important;
        }
      }
    }
  }
}

//ipad
@media only screen and (max-width: 769px) {

  #slideshow_zone{
    .views-slideshow-cycle-main-frame-row{
      .views-field-field-slideshow-2017-image{
        img{
          position: relative;
          left: -98px;
        }
      }
    }
  }

  .col-sm-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .box-images {
    padding: 0 0 0 0!important;
    margin: 0 0 10px 0!important;
  }
  #box-images-larger {
    padding: 0 0 0 0!important;
    margin: 0 0 10px 0!important;
  }


  #ships-tab {
    .cruise-factory-entity {
      &.cruise-factory-entity-teaser {
        &.cruise-factory-entity-base-ships {
          height: 250px;
          width: 100%;
          display: block;
          text-align: center;
          margin-bottom: 10px;
          overflow: hidden;
        }
      }
    }

    .cruiseline-wrapper:hover .cruiseline-hover {
      display: block!important;
      position: relative;
      top: -100%;
      background: transparent;
    }

    .cruiseline-wrapper {
      height: 250px;
      display: block;
      text-align: center;
      margin-bottom: 20px;
      overflow: visible;
      margin-top: 40px; // 14%;
    }

    .cruiseline-hover {
      display: block;
      position: relative;
      top: -100%;
      background: transparent;
      .cruiseline-hover-wrapper {
        text-align: center;
        display: inline-block;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        position: relative;
        top: -30%;
        width: 100%;
        .cruiseline-name {
          width: 100%;
          text-align: center;
          a {
            text-align: center;
            display: inline-block;
            white-space: pre-line;
            padding: 15px 0px;
            background: transparent;
            color: $brandblue;
            max-width: 80%;
            width: 80%;
            text-decoration: none;
            h2 {
              font-size: 130%!important;
              text-align: center;
            }
          }
        }
      }
    }
  }


  #contentblock {
    &.col-md-12 {
      padding: 0 15px;
      >div>div>div {
        padding: 0 0 0;
      }
    }
  }

  header #logo {
    height: 70px;
  } // .tab-icon {
  //   padding: 20px 5px !important;
  //   width: 100%!important;
  // }
  ul.top-tab-links {
    display: flex;
    flex: 1 1 auto;
    li.ui-state-default,
    li.ui-state-active,
    li.ui-state-hover,
    li.ui-tabs-active,
    li.ui-tabs-tab {
      background: $mediumsilvergrey; // transparent;
      a,
      a.ui-tabs-anchor {
        padding: 20px 30px;
      }
    }
    li.ui-tabs-active {
      cursor: pointer; // background: transparent;
      a.ui-tabs-anchor,
      a {
        color: #fff;
        background: $brandblue;
        &:hover {
          color: #fff;
          background: $brandblue;
        }
      }
    }
  }
  .navigationzone {
    background-color: $brandblue;
  }

  .view-display-id-homepage_featured_2017_block_1 {
    background: $shipmates_turq;
  }

  .view-homepage-slideshow-2017 {
    .views-field-nothing {
      top: -45px;
      position: relative;
      padding: 20px 0 0;
      margin: 0 0 -20px;
    }
    .views-slideshow-cycle-main-frame-row-item {
      vertical-align: top;
    }
    .slideshow-2017-info-block {
      height: 150px;
      vertical-align: top;
    }
    .views-field-field-slideshow-2017-image {
      top: -45px;
      position: relative;
    }

    .views-field-field-slideshow-2017-image img {
      height: inherit;
      width: inherit;
      top: 44px;
    }
  }
  .views-field-field-button-link-1 {
    bottom: unset!important;
    right: unset!important;
    position: relative!important;
  }

  .view-display-id-homepage_featured_2017 {
    >.view-content {
      >.views-row {
        >.panel-display {
          >.center-wrapper {
            display: block;
            flex: initial;
            >.panel-panel {
              display: block;
              flex: initial;
            }
          }
        }
      }
    }
    .views-field-title {
      position: relative; // width: 100%;
      // padding: 8px 10px;
      top: initial;
      left: initial;
      background: $shipmates_turq; // color: #fff;
      // overflow-wrap: break-word;
      // white-space: normal;
      // a {
      // color: #fff;
      // }
    }
    .views-field-view-node {
      position: relative;
      right: initial;
      bottom: initial;
    }
    .panel-panel,
    .panel-col-first {
      padding-left: 0;
      padding-right: 0;
    }
    .panel-col-first {
      margin-right: 0;
    }
    .panel-col-last {
      .view-display-id-homepage_featured_2017_block_2 {
        margin-bottom: 0;
        .views-row-1 {
          background: $shipmates_turq;
          flex: initial;
          display: block; // margin-bottom: 20px;
          margin-right: 0;
          .views-field-view-node {
            bottom: initial;
            right: initial;
          }
        }
        .views-row-2 {
          background: $brandblue;
          margin-left: 0;
          flex: initial;
          display: block; // margin-bottom: 20px;
          .views-field-title {
            // background: transparent;
            //   color: #fff;
            //   font-weight: 400;
            //   font-size: 140%;
            //   line-height: 120%;
            display: block;
            height: initial;
            left: initial; // margin: 0 auto;
            // overflow-wrap: break-word;
            // padding: 8px 10px;
            position: relative;
            right: initial; // text-align: center;
            top: initial; // vertical-align: middle;
            // white-space: normal;
            width: 75%; // a {
            //  color: #fff;
            // }
          }
          .views-field-field-image {
            // background-color: $brandblue;
            // img {
            //  @include opacity(0.3);
            // }
          } // .views-field-view-node {
          //  display: none;
          // }
          // color: #fff;
          // a {
          //  color: #fff;
          // }
        }
      }
    }
    .view-display-id-homepage_featured_2017_block_1 {
      .views-field-title {
        // background: transparent;
        //   color: #fff;
        //   font-weight: 400;
        //   font-size: 190%;
        //   line-height: 120%;
        display: block;
        height: initial;
        left: initial; // margin: 0 auto;
        // overflow-wrap: break-word;
        // padding: 8px 10px;
        position: relative;
        right: initial; // text-align: center;
        top: initial; // vertical-align: middle;
        // white-space: normal;
        width: 75%; // a {
        //  color: #fff;
        // }
      }
      .views-field-field-image {
        // background-color: $shipmates_turq;
        // img {
        //  @include opacity(0.6);
        // }
      }
      .views-field-view-node {
        bottom: initial;
        right: initial;
      }
    } // .view-display-id-homepage_featured_2017_block_1,
    .view-display-id-homepage_featured_2017_block_2 {
      // overflow: hidden;
      height: initial;
      .views-field-title {
        position: relative; // width: 100%;
        // padding: 8px 10px;
        top: initial;
        left: initial; // background: $shipmates_turq;
        // color: #fff;
        // a {
        //  color: #fff;
        // }
      }
    }
    .view-display-id-homepage_featured_2017_block_3 {
      margin-top: 0;
      .views-field-title {
        bottom: initial;
        top: initial;
      }
      .views-field-view-node {
        bottom: initial;
        right: initial;
      }
    }
  } ////////////////////////////
  //////From Iphone View//////
  ////////////////////////////
  ////////////////////////////
  .cruise-factory-entity.cruise-factory-entity-wider-teaser {
    &.cruise-factory-entity-cruise-factory-complete-cruise,
    &.cruise-factory-entity-cruise-factory-complete-deal {
      >div>.center-wrapper {
        .panel-col-first,
        .panel-col-last {
          padding-right: 0!important;
          padding-left: 0!important;
        }
      }
      .wide-teaser-wrapper {
        >.nights-and-date {
          left: 0;
        }
        .middle-column-2017 {
          line-height: 120%;
          padding-top: 5px;
          .ports {
            margin: 0 auto 10px;
            border-bottom: 1px solid $lightgrey;
            padding-bottom: 10px;
          }
          .bottom-row-details {
            margin: 0 auto;
          }
        }

        .price-column {
          .price {
            padding: 5px 0px 10px;
            .price-tag {
              width: 100%;
              .price-tag-from {
                color: $middlegrey; // $brandblue;
                font-size: $text_size - 2;
                line-height: $line_height;
                display: inline;
              }
              .price-tag-price {
                color: $brandblue;
                font-size: $text_size + 8;
                line-height: $line_height;
                display: inline;
              }
              .price-tag-postfix {
                color: $middlegrey; // $brandblue;
                font-size: $text_size - 2;
                line-height: $line_height;
                display: inline;
              }
            }
          }
          .link {
            left: 0;
          }
        }
      }
    }
  }


  .cruise-factory-entity.cruise-factory-entity-teaser {
    &.cruise-factory-entity-base-cruiselines {
      height: auto;
      .cruiseline-wrapper {
        display: block!important;
        height: auto;
        padding: 10px 0;
        .cruiseline-hover {
          display: none!important;
        }
        .cruiseline-info {
          height: auto;
          display: block!important;
        }
        &:hover {
          display: block!important;
          height: auto;
          padding: 10px 0;
          .cruiseline-hover {
            display: none!important;
          }
          .cruiseline-info {
            height: auto;
            display: block!important;
          }
        }
      }
    }
  }

  .cruiseline-wrapper:hover {
    display: block!important;
    .cruiseline-hover {
      display: none!important;
    }
  }

  .view-cruiselines-custom-order.view-display-id-custom_order_cruiseline_page .views-row,
  .view--cfe-2017-cruiselines.view-display-id-page .views-row {
    position: relative;
    vertical-align: top;
    width: auto;
    height: auto; // 100px;
    display: block;
    float: none;
    padding: 0 0 0;
    margin: 0 -2px 0;
  }
  .view--cfe-2017-cruise-destinations.view-display-id-map_pins>.view-content>div::after {
    display: none;
  }
  .view--cfe-2017-cruise-destinations.view-display-id-map_pins>.view-content>div::before {
    display: none;
  }
  .view--cfe-2017-cruise-destinations.view-display-id-map_pins>.view-content>div {
    width: auto;
  }
  .panel-pane.pane-views.pane-popular-cruises-block {
    clear: both;
  }

  body {
    overflow-x: hidden;
  } //.views-field-final-name .field-content a{
  //  position: relative;
  left: 0; // 10%;
  //}
  // span.date-display-single {
  // font-size: $text_size;
  // line-height: $line_height;
  // }
  .cruise-factory-entity {
    &.cruise-factory-entity-teaser,
    &.cruise-factory-entity-wider-teaser,
    &.cruise-factory-entity-destination-more-detail-teaser {
      &.cruise-factory-entity-cruise-factory-complete-deal,
      &.cruise-factory-entity-cruise-factory-complete-cruise {
        .views-field-final-name h3 {
          padding-bottom: 10px;
          line-height: 80%;
        }
        .wide-teaser-wrapper {
          >.nights-and-date {
            padding-bottom: 0!important;
            display: block;
            margin: 0 5% 10px;
            width: 90%;
            min-width: 90%;
            max-width: 90%;
            border: 1px solid $lightgrey!important;
            font-size: $text_size + 5;
            line-height: $line_height;
            .nights-and-date-date {
              display: inline-block;
              font-size: $text_size + 5;
              line-height: $line_height;
              padding: 0 5px;
              border-left: 1px solid $lightgrey;
            }
            .nights-and-date-nights {
              font-size: $text_size + 5;
              line-height: $line_height;
              display: inline-block;
              padding: 0 5px;
              color: $brandblue;
              text-transform: uppercase;
              border: none;
            }
          }
        }
      }
    }
  } // THIS IS TOO VAGUE - APPLIES TO TOO MANY INSTANCES:
  .field-content {
    a {
      font-size: 14px;
      line-height: auto;
      text-align: left;
      word-spacing: 0.5px;
    }
    img {
      max-width: 100%; // margin-left: 10%;// TOO VAGUE
    }
  }

  .field-content>.cruiseline-wrapper>.cruiseline-info>.cruiseline-logo>.cruiseline-logo-link>.view-cruiseline-logo-from-media-library>.view-content>div>img {
    margin: 0;
  }


  h2.pane-title {
    height: auto;
    width: 100%;
    display: block;
    clear: both;
  }
  nav ul.menu li:hover a {
    background: transparent;
  }

  .region-footer {
    width: 120%;
    align-items: initial;
    display: block;
    .block {
      display: block;
      margin-left: -10px;
      width: 80%;
      padding-right: 10px;
    }
  }
  .cruise-factory-entity.cruise-factory-entity-cruise-factory-complete-cruise,
  .cruise-factory-entity.cruise-factory-entity-cruise-factory-complete-deal {
    &.cruise-factory-entity-wider-teaser {
      border-bottom: 1px solid $mediumsilvergrey;
      margin: 0 -30px 20px;
      padding-bottom: 0; // 20px;
      >.panel-display {
        >.center-wrapper {
          //background: red;
          //display: -webkit-flex;
          //display: -ms-flex;
          display: block; //-webkit-flex: 1 1 auto;
          //-ms-flex: 1 1 auto;
          flex: initial;
          align-items: initial;
          >.panel-col-first,
          >.panel-col-last {
            //display: -webkit-flex;
            //display: -ms-flex;
            display: block; //-webkit-flex: 1 1 auto;
            //-ms-flex: 1 1 auto;
            flex: initial;
            align-items: initial;
            >.inside {
              display: block; //inline-block;
              align-self: initial;
              .panel-pane {
                &:last-child {
                  // border-color: 1px solid red;
                  align-self: initial;
                }
              }
            }
          }
          >.panel-col-first {
            align-self: initial;
          }
        }
      }
    }
  }

  nav ul.menu ul.menu {
    min-height: 50px;
    display: none;
  }

  #block-system-main-menu {
    width: 130%;
    min-height: 270px;
  }
  #logozone {
    z-index: 999;
    position: relative;
  }
  .responsive-call-us-number {
    float: left;
    position: relative;
    top: -28px;
  }
  nav ul.menu li a {
    color: white;
  } //ul .menu{
  //  background-color: white;
  //  position:relative;
  //  top:30px;
  //}
  .field-view {
    height: auto;
  } //.ghost-button{
  //  position: relative;
  //  top: -65%;
  //}
  // TOO VAGUE
  div {
    .views-field {
      // width: 300px;// TOO VAGUE
      height: auto;
      text-align: center; // margin-bottom: 10px; // TOO VAGUE
      .views-field-nothing {
        height: auto!important;
      }
    }
  }

  .view-display-id-destination_more_detail_teaser {
    &:after {
      // content: '';
      // border: 1px solid $lightgrey;
      // display: block;
      // height: 100%;
      // left: -2%;
      // position: absolute;
      // top: 20px;
      // width: 104%;
      // z-index: -1;
      display: none;
    }
  }
  .field-content span {
    //width: 10px;
  }
  .contentblock {
    background-color: transparent;
  }
  .flexbox-views-wrapper .view-content .flexbox-child,
  .flexbox-wrapper {
    display: block;
    flex: initial;
    .flexbox-child {
      float: left;
      display: block;
      background-color: transparent;
      margin-top: -9px;
    }
  }
  #sticky-wrapper {
    background-color: $brandblue; //min-height: 250px;
    height: auto!important;
    .header {
      .navigationzone {
        background-color: $brandblue;
        margin-top: -60px;
        float: right;
      }
    }
  }
  header {
    height: 22%;
  }



  body.front #facet_filters {
    border: 1px solid #e8e8e8;
    box-shadow: 0 9px 14px rgba(232, 232, 232, .6);
    padding: 13px 0;
    background: #fff; //margin: 25px 0 80px;
    position: relative;
    top: 0; // 60px;
    margin: 20px auto 10px;
    z-index: -999;
    width: 100%;
  }
  .pane-latest-news {
    padding-left: 0;
    padding-right: 0;
    clear: both;
    display: block;
  }
  .view-latest-news {
    >.view-content {
      max-width: 100%;
      >.views-row {
        max-width: 100%;
      }
    }
    .views-row-1 .views-field-field-image,
    .views-row-2 .views-field-field-image,
    .views-row-3 .views-field-field-image {
      img {
        opacity: 1.0!important;
      }
    }

    .view-display-id-homepage_featured_2017_block_1,
    .view-display-id-homepage_featured_2017_block_2,
    .view-display-id-homepage_featured_2017_block_3 {
      .views-field-field-image {
        height: 180px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
        vertical-align: middle;
        overflow: hidden;
        img {
          width: auto;
          max-width: none;
          min-height: 180px;
          height: auto;
          opacity: 1.0!important;
        }
      }
      .views-field-title {
        background-color: $shipmates_turq;
      }
      .views-field-field-button-link-1 {
        display: block!important;
        margin-bottom: 10px;
      }
    }
    .view-display-id-homepage_featured_2017_block_3 {
      background-color: $shipmates_turq;
    }
  }

  .call-us-now-wrapper {
    display: inline-block;
    text-align: center;
    position: relative;
    left: -50px;
    width: 200px;
    .call-us-now-number {
      text-align: center;
      display: block;
      font-size: 100%;
      line-height: 100%;
    }
    .call-us-now {
      text-align: center;
      display: block;
      font-size: 100%;
      line-height: 100%;
    }
  }
  h1.page-title {
    text-transform: uppercase;
    font-weight: normal;
    font-family: Times, Times New Roman, serif;
    text-align: center;
    font-size: 200%;
    line-height: 200%;
  }
  h2 {
    text-transform: none;
    font-weight: normal;
    font-size: 150%;
    line-height: 150%;
  }
  h3 {
    font-size: 140%;
    line-height: 150%;
    position: relative;
    left: 0; // 10%;10%;
  }
  h4 {
    font-size: 150%;
    line-height: 150%;
  }
  h5 {
    font-size: 140%;
    line-height: 150%;
  }
  h6 {
    font-size: 100%;
    line-height: 160%;
  }




  nav {
    background: $brandblue; // transparent;
    color: #fff;
    font-size: 120%;
    line-height: 250%;
    text-align: left;
    display: inline;
    padding: 0 4%;
    width: 92%;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    &>.region-navigationzone-wrapper {
      // background: rgba(#000, 0.8);
      ul {
        padding-bottom: 20px;
      }
    }
    &.nine.columns {
      text-align: left;
    }
    label,
    input {
      // display: block;
    }
    label {
      cursor: pointer;
      user-select: none;
      position: relative;
      float: right;
      text-align: right;
      display: block;
      width: auto;
      font-size: 200%;
      line-height: 150%;
      right: -20px;
      top: -54px;
    }
    .region-navigationzone-wrapper {
      @include transition-property(height, opacity);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in-out);
      overflow-y: hidden;
      max-height: 0;
      height: 0;
      .region-navigationzone {
        width: 90%;
        z-index: 999;
        overflow-x: hidden;
      }
    }
    .right-header-menu {
      li:nth-child(1) {
        &:after {
          display: none;
        }
      }
    }
    input:checked~.region-navigationzone-wrapper,
    input:checked~.region-navigationzone-wrapper>* {
      // .region .block .content ul {
      overflow-y: hidden;
      min-height: 271px;
      height: 100%;
      .region-navigationzone {
        width: 90%;
        /*
                                  max-height: 650px;
                                  height: 100%;
                                  */
      }
      @include transition-property(all);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in-out);
    }
    a {
      color: #fff;
      &.active,
      &:hover {
        color: #fff;
      }
    }
    &:after {
      content: '';

      display: table;
      clear: both;
    }
    ul.menu {
      float: none;
      padding: 0 0 0;
      margin: 0 0 0;
      list-style: none;
      position: relative;
      top: 0; // 45px;
      text-align: center;
      min-height: 135px;
      width: 100%;
      li {
        width: 100%;
        display: block;
        float: left;
        background-color: none;
        &.icon-link-item {
          text-indent: 0;
          font-size: inherit;
          margin-left: 0;
          width: auto;
          &:hover {
            background: transparent;
          }
          .icon-link {
            text-indent: 0;
            font-size: inherit;
            position: relative;
            width: auto;
            margin-left: 0;
            &:hover {
              background: inherit;
              color: inherit;
            }
            .fa,
            i {
              display: none; // font-size: 13.2px;
              // text-indent: 0px;
              // width: 20px;
              // display: inline-block;
              // float: left;
              // line-height: 170%;
            }
          }
        }
        & a.active {
          color: #fff;
        }
        &>a:after {
          content: ' +';
        }
        &>a:only-child:after {
          content: '';
        }
        &:hover {
          background: $brandblue;
          color: #fff;
          a {
            color: #fff;
          }
          &>ul.menu {
            display: none;
          }
        }
        ul.menu li:hover {
          background: $brandblue;
        }
      }
      ul.menu {
        display: none;
        position: relative;
        top: auto;
        padding: 5px 0 15px 5%;
        width: 95%;
        li {
          background-color: $brandblue;
          width: 100%;
          float: left; // none;
          display: list-item;
          list-style: none;
          position: relative;
          a {
            color: #fff;
            line-height: 100%;
            padding: 0 10px 10px;
            &:hover {
              color: $textcolour;
            }
          }
        }
        ul.menu li {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }
    a {
      display: block;
      padding: 0 20px;
      line-height: 30px;
      text-decoration: none;
      &:hover {
        background: $brandblue;
      }
    }
    &.nine.columns {
      ul.menu {
        text-align: left; // padding-left: 0;
        // margin-left: 0;
        li {
          // display: inline-block;
          // float: none;
        }
      }
    }
  }

  #ship-tab {
    .view-display-id-ship_stats {
      .center-wrapper {
        display: block;
        .panel-panel {
          display: block;
          width: 100%;
          >.inside {
            display: block;
            >.views-field {
              display: block;
            }
          }
        }
        .panel-col-first {
          margin-left: 0;
          .views-field {
            width: 100%;
            margin-bottom: -1px;
          }
        }
        .panel-col-last {
          margin-right: 0;
        }
      }
    }
  }




  .view-display-id-itinerary_block,
  .view-display-id-itinerary_first_ten,
  .view-display-id-itinerary_more_than_ten {
    th,
    td {
      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 85%;
      }
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  } ////////////////////////////
  //////From Iphone View//////
  ////////////////////////////
  ////////////////////////////
  .view-display-id-custom_order_cruiseline_page,
  .view--cfe-2017-cruiselines {
    .col-xs-12 {
      border-color: $lightgrey;
      border-style: solid;
      border-width: 1px 1px 0 1px!important;
      &:last-child {
        border-width: 1px 1px 1px 1px!important;
      }
      &:first-child {
        // border-width-top: 1px!important;
      }
    }
  }

  nav {
    label,
    input {
      display: none;
    }
    ul.menu {
      li {
        &.icon-link-item {
          text-indent: none;
          font-size: 12px;
          margin-left: 0!important;
          width: auto;
          .icon-link {
            text-indent: none;
            font-size: 12px;
            width: auto;
            margin-left: 0!important;
            .fa,
            i {
              display: none;
            }
          }
        }
      }
    }
  }
}



/*temp ernest responsive work*/

//@media only screen and (max-width: 480px) {
//  .call-us-now-wrapper {
//    display: inline-block;
//    text-align: center;
//    width: 200px;
//    .call-us-now-number {
//      text-align: center;
//      display: block;
//      font-size: 100%;
//      line-height: 100%;
//
//    }
//    .call-us-now {
//      text-align: center;
//  HH    display: block;
//      font-size: 100%;
//      line-height: 100%;
//      color: red;
//    }
//  }
//}

/* ----- Non-Retina Mobile Phone ------- */

@media only screen and (max-device-width: 480px),
(max-width: 480px) {

   
body.page-new-shipmate-register{
  #user-register-form{
    .form-wrapper{
      width:100%;
    }
    }
  .form-item{
    width:100%!important;
    &.form-type-password{
      width:100%;
      margin-left:0!important;
    }
  }
}
body.front {
 #slideshow_zone{
  //width:100%;
  margin:0 -20%;
 }
 #block-system-main{
  >.content{
    >.panel-display{
      .pane-cfe-2017-cruise-destinations{
        margin-top: 0;
        padding-top: 0;
        height: 460px;
      }   
    }
  }
 } 
}
.view-homepage-slideshow-2017 .slideshow-2017-info-block{
  position:relative;
  height: 150px;
  vertical-align: top;
  left: 10px;
  .slideshow-2017-button{
    margin-top: -4%;
    margin-left: 2%;
  }
}

#views_slideshow_cycle_teaser_section_homepage_slideshow_2017-block_1{
  max-height:260px!important;
  .views-slideshow-cycle-main-frame-row{
    //width:458px!important;
  }
}

.view-homepage-slideshow-2017{
  .views-slideshow-controls-bottom{
    z-index: 9999;
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 6%;
    top: 185px;
    margin-right: 25%;
    margin-left: 25%;
  }

  .slideshow-2017-info-block{
    .slideshow-2017-heading,
    .slideshow-2017-sub_title{
      width: 93%;
      position: relative;
      left: 4%;
    }
    .slideshow-2017-heading{
      height:40px;
      font-size:20px;
    }
    .slideshow-2017-sub_title{
      font-size:14px;
    }
  }
} 


  body.page-site-search{
    .cruise-factory-entity{
      &.cruise-factory-entity-wider-teaser{
        &.cruise-factory-entity-base-destination-group{
          width: 100%;
          height: auto;
          margin: 0 0 20px;
        }
      }
    }
  }

body.android{
 .wrapper-wrapper{
  overflow-x:hidden;
  width:100%;
  } 
}
.view-homepage-slideshow-2017{
   .views-field-field-slideshow-2017-image{
    overflow-x: hidden;
    img{
      max-width:100%;
      //width: 90% !important;
      //margin-top: 45px;
      height: auto;
    }
   }  
}
body.android #views_slideshow_cycle_teaser_section_homepage_slideshow_2017-block_1{
  overflow-x:hidden;  
}

body.page-cruise-destinations{
  #contentblock{
    .clearfix{
      .content{
        padding-left:0;
        padding-right:0;
        
      }
    }
  }
}

 #cruises-tab{
  padding-bottom:0!important;
 }

  .view--cfe-2017-cruise-destinations {
    &.view-display-id-page {
      >.view-content {
        >.views-row {
          >.entity-panels-entity {
            position: relative;
            width: 100%;
            display: block;
            margin-right: auto;
            margin-left: auto;
            overflow: hidden;
          }
        }
      }
    }
  }


  body.page-cruise-factory-entity-base-destination-group {
    #cruises-tab {
      .panel-col-top {
        .inside {
          text-align: center;
          display: -webkit-flex;
          display: -ms-flex;
          display: grid;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;

          .facets-within-panels {
            float: none !important;
            display: -webkit-flex;
            display: -ms-flex;
            display: block;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding-bottom: 20px;
          }
        }
      }
    }
  }



  .col-xs-no-padding {
    padding-left: 0;
    padding-right: 0;
  }


  .select2-drop {
    color: #777 !important;
    border: 1px solid #777 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    max-width: 230px;
  }
  .slick-dots {
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    top: -35px!important;
    left: -6%;
  }
  .region-facet-filters {
    .block-facetapi {
      margin: 0 !important;
      border-bottom: 1px solid $mediumsilvergrey;
      padding-bottom: 20px;
    }
  }
  .page-welcome {
    .tabs {
      display: none;
    }
  }
  .navigationzone {
    background-color: $brandblue;
    position: relative;
    top: -66px;
    z-index: 99999;
  }
  .cruise-factory-entity.cruise-factory-entity-wider-teaser {
    &.cruise-factory-entity-cruise-factory-complete-cruise,
    &.cruise-factory-entity-cruise-factory-complete-deal {
      >div>.center-wrapper {
        .panel-col-first,
        .panel-col-last {
          padding-right: 0!important;
          padding-left: 0!important;
        }
      }
      .wide-teaser-wrapper {
        >.nights-and-date {
          left: 0;
        }
        .middle-column-2017 {
          line-height: 120%;
          padding-top: 5px;
          .ports {
            margin: 0 auto 10px;
            border-bottom: 1px solid $lightgrey;
            padding-bottom: 10px;
          }
          .bottom-row-details {
            margin: 0 auto;
          }
        }

        .price-column {
          .price {
            padding: 5px 0px 10px;
            .price-tag {
              width: 100%;
              .price-tag-from {
                color: $middlegrey; // $brandblue;
                font-size: $text_size - 2;
                line-height: $line_height;
                display: inline;
              }
              .price-tag-price {
                color: $brandblue;
                font-size: $text_size + 8;
                line-height: $line_height;
                display: inline;
              }
              .price-tag-postfix {
                color: $middlegrey; // $brandblue;
                font-size: $text_size - 2;
                line-height: $line_height;
                display: inline;
              }
            }
          }
          .link {
            left: 0;
          }
        }
      }
    }
  }

  .cruise-factory-entity.cruise-factory-entity-teaser {
    &.cruise-factory-entity-base-cruiselines {
      height: auto;
      .cruiseline-wrapper {
        display: block!important;
        height: auto;
        padding: 10px 0;
        .cruiseline-hover {
          display: none!important;
        }
        .cruiseline-info {
          height: auto;
          display: block!important;
        }
        &:hover {
          display: block!important;
          height: auto;
          padding: 10px 0;
          .cruiseline-hover {
            display: none!important;
          }
          .cruiseline-info {
            height: auto;
            display: block!important;
          }
        }
      }
    }
  }


  #ships-tab {
    .cruise-factory-entity {
      &.cruise-factory-entity-teaser {
        &.cruise-factory-entity-base-ships {
          height: 250px;
          width: 100%;
          display: block;
          text-align: center;
          margin-bottom: 10px;
          overflow: hidden;
        }
      }
    }

    .cruiseline-wrapper:hover .cruiseline-hover {
      display: block!important;
      position: relative;
      top: -100%;
      background: transparent;
    }

    .cruiseline-wrapper {
      height: 250px;
      display: block;
      text-align: center;
      margin-bottom: 20px;
      overflow: visible;
      margin-top: 40px; // 14%;
    }

    .cruiseline-hover {
      display: block;
      position: relative;
      top: -100%;
      background: transparent;
      .cruiseline-hover-wrapper {
        text-align: center;
        display: inline-block;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        position: relative;
        top: -30%;
        width: 100%;
        .cruiseline-name {
          width: 100%;
          text-align: center;
          a {
            text-align: center;
            display: inline-block;
            white-space: pre-line;
            padding: 15px 0px;
            background: transparent;
            color: $brandblue;
            max-width: 80%;
            width: 80%;
            text-decoration: none;
            h2 {
              font-size: 130%!important;
              text-align: center;
            }
          }
        }
      }
    }
  }
  #views_slideshow_cycle_main_deck_plans_on_ship-block_1 {
    .panel-2col-bricks .panel-col-first {
      float: left;
      width: 45%;
      margin: 1%;
    }

    .panel-2col-bricks .panel-col-last {
      float: left;
      width: 45%;
      margin: 1%;
    }
  }
  .bottom-logo-inline {
    max-width: 30%;
    margin: 0 1% 0 0;
    img {
      width: 100%;
    }
  }

  .panel-panel {
    &.panel-col {
      >div {
        h2.pane-title {
          font-size: 17px !important;
          color: $brandblue;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
  #node-2701 {
    //display: none;
  }
  .see-form {
    display: block!important;
  }
  #topzone {
    ul li {
      font-size: 12px;
    }
  }
  #overview-tab {
    .center-wrapper {
      align-items: stretch;
      >.panel-col-first {
        padding-left: 0!important;
        padding-right: 0!important;
      }
      >.cruise-deal-full-width-image {
        height: 230px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    #ip-geoloc-map-of-view-itinerary_ports_map-map_block-95c28fe937da5619959066326845c9ac {
      width: 100%;
    }

    .ghost-button {
      //width: 40%;
      margin-left: 30%;
      margin-right: 30%;
    }
  }
  .see-all-cruise-deals-button {
    a.button {

      display: block;
      margin-top: 25%;
      width: 58%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #cruises2017_deal_tabs {
    .panel-col-top,
    .panel-col-first,
    .panel-col-last,
    .panel-col-last {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }


  .top_line_cruise_summary {
    font-size: 72%;
    margin: 10px 0 10px;
    padding: 0 0 0;
    .bullet {
      width: 20px;
    }
  }
  .view-display-id-pricing_matrix_fallback .views-label {
    height: 80px;
    font-size: 140%;
  }

  .tab-icon {
    font-size: 0!important;
    height: 25px!important;
    padding: 25px 5px!important; // padding: 25px 30px!important;
    width: 100%!important; // width: 25px!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: auto 60%!important;
    &.ships {
      background-image: url(../images/tab-icon-ship.png)!important;
    }
    &.info {
      background-image: url(../images/tab-icon-moreinfo.png)!important;
    }
    &.highlights {
      background-image: url(../images/tab-icon-highlights.png)!important;
    }
    &.gallery {
      background-image: url(../images/tab-icon-gallery.png)!important;
    }
    &.deals {
      background-image: url(../images/tab-icon-deals.png)!important;
    }
    &.map {
      background-image: url(../images/tab-icon-map.png)!important;
    }
    .ui-tabs-active & {
      background-color: transparent!important;
      filter: grayscale(100%) brightness(0%) invert(100%);
      -webkit-filter: grayscale(100%) brightness(0%) invert(100%);
    }
  }
  body.page-cruise-factory-entity-cruise-factory-complete-deal,
  body.page-cruise-factory-entity-cruise-factory-complete-cruise {
    .tab-icon {
      font-size: 0!important;
      height: 20px!important;
      padding: 20px 5px!important; // padding: 20px 25px!important;
      width: 100%!important; // width: 20px!important;
    }
    h1.page-title {
      padding: 0 0 12px;
      margin: 12px 0 0;
    }
  }
  .ui-tabs-active {
    background-color: $brandblue!important;
  }


  .panel-cruises2017_cruiseline_tabs {
    .panel-col-first {
      padding: 0 0 0 0;
      margin: 0 0 10px 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $large_text_size!important;
    line-height: 120%!important;
  }
  h2,
  h3 {
    font-size: $large_text_size + 2!important;
    line-height: 80%!important;
  }
  h1 {
    font-size: $large_text_size + 4!important;
    line-height: 120%!important;
  }



  .views-row {
    &.views-row-1 {
      &.views-row-odd {
        &.view-row-first {
          &.views-row-last {
            img {
              width: 90%;
              height: auto;
            }
          }
        }
      }
    }
  }

  .view--cfe-2017-cruise-destinations {
    &.view-display-id-map_pins {
      >.view-content {
        >div {
          height: 364px;
        }
      }
    }
  }
  .cruise-factory-entity {
    & .cruise-factory-entity-teaser {
      & .cruise-factory-entity-base-ships {
        height: 250px;
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        overflow: hidden;
      }
    }
  }
  .cruise-factory-entity.cruise-factory-entity-teaser {
    &.cruise-factory-entity-base-cruiselines {
      height: auto;
      .cruiseline-wrapper {
        display: block!important;
        height: auto;
        padding: 10px 0;
        .cruiseline-hover {
          display: none!important;
        }
        .cruiseline-info {
          height: auto;
          display: block!important;
        }
        &:hover {
          display: block!important;
          height: auto;
          padding: 10px 0;
          .cruiseline-hover {
            display: none!important;
          }
          .cruiseline-info {
            height: auto;
            display: block!important;
          }
        }
      }
    }
  }

  .wrapper-for-facets-and-content {
    margin-top: 10px;
  }
  .region-facet-filters {
    display: grid;
    margin-top: 10px;
    padding-bottom: 20px;
  }

  .slideshow-2017-info-block-wrapper {
    position: relative; // absolute;
    top: 0; // 10px; // 20px;
    left: 0; // 5%;
    background: rgba(#fff, 0.7);
    padding: 10px 40px 0;
    width: 100%; // 90%;
  }

  .cruiseline-wrapper:hover .cruiseline-info {
    display: flex!important;
    .cruiseline-hover {
      display: none!important;
    }
  }

  .view-cruiselines-custom-order.view-display-id-custom_order_cruiseline_page .views-row,
  .view--cfe-2017-cruiselines.view-display-id-page .views-row {
    position: relative;
    vertical-align: top;
    width: auto;
    height: auto; // 100px;
    display: block;
    float: none;
    padding: 0 0 0;
    margin: 0 -2px 0;
  }
  .view--cfe-2017-cruise-destinations.view-display-id-map_pins>.view-content>div::after {
    display: none;
  }
  .view--cfe-2017-cruise-destinations.view-display-id-map_pins>.view-content>div::before {
    display: none;
  }
  .view--cfe-2017-cruise-destinations.view-display-id-map_pins>.view-content>div {
    width: auto;
  }
  .panel-pane.pane-views.pane-popular-cruises-block {
    clear: both;
  }

  body ,html{
    overflow-x: hidden;
    max-width:100%;
  } //.views-field-final-name .field-content a{
  //  position: relative;
  //  left:10%;
  //}
  // span.date-display-single {
  //   font-size: $text_size;
  //   line-height: $line_height;
  // }
  .cruise-factory-entity {
    &.cruise-factory-entity-teaser,
    &.cruise-factory-entity-wider-teaser,
    &.cruise-factory-entity-destination-more-detail-teaser {
      &.cruise-factory-entity-cruise-factory-complete-deal,
      &.cruise-factory-entity-cruise-factory-complete-cruise {
        .views-field-final-name h3 {
          padding-bottom: 10px;
        }
        .wide-teaser-wrapper {
          >.nights-and-date {
            padding-bottom: 0!important;
            display: block;
            margin: 0 5% 10px;
            width: 90%;
            min-width: 90%;
            max-width: 90%;
            border: 1px solid $lightgrey!important;
            font-size: $text_size + 5;
            line-height: $line_height;
            .nights-and-date-date {
              display: inline-block;
              font-size: $text_size + 5;
              line-height: $line_height;
              padding: 0 5px;
              border-left: 1px solid $lightgrey;
            }
            .nights-and-date-nights {
              font-size: $text_size + 5;
              line-height: $line_height;
              display: inline-block;
              padding: 0 5px;
              color: $brandblue;
              text-transform: uppercase;
              border: none;
            }
          }
        }
      }
    }
  }
  .field-content {

    // THIS IS TOO VAGUE - APPLIES TO TOO MANY INSTANCES:
    a {
      font-size: 14px;
      line-height: auto;
      text-align: left;
      word-spacing: 0.5px;
    }
    img {
      max-width: 100%; // margin-left: 10%; // TOO VAGUE
    }
  }

  .field-content>.cruiseline-wrapper>.cruiseline-info>.cruiseline-logo>.cruiseline-logo-link>.view-cruiseline-logo-from-media-library>.view-content>div>img {
    margin: 0;
  }


  h2.pane-title {
    height: auto;
    width: 100%;
    display: block;
    clear: both;
  }
  nav ul.menu li:hover a {
    background: transparent;
  }

  .region-footer {
    width: 120%;
    align-items: initial;
    display: block;
    .block {
      display: block;
      margin-left: -10px;
      width: 80%;
      padding-right: 10px;
    }
  }
  .cruise-factory-entity.cruise-factory-entity-cruise-factory-complete-cruise,
  .cruise-factory-entity.cruise-factory-entity-cruise-factory-complete-deal {
    &.cruise-factory-entity-wider-teaser {
      border: 1px solid $mediumsilvergrey;
      margin: 0 0 20px;
      padding: 0 0 0; // 20px 10px;
      >.panel-display {
        >.center-wrapper {
          //background: red;
          //display: -webkit-flex;
          //display: -ms-flex;
          display: block; //-webkit-flex: 1 1 auto;
          //-ms-flex: 1 1 auto;
          flex: initial;
          align-items: initial;
          >.panel-col-first,
          >.panel-col-last {
            //display: -webkit-flex;
            //display: -ms-flex;
            display: block; //-webkit-flex: 1 1 auto;
            //-ms-flex: 1 1 auto;
            flex: initial;
            align-items: initial;
            >.inside {
              display: block; //inline-block;
              align-self: initial;
              .panel-pane {
                &:last-child {
                  // border-color: 1px solid red;
                  align-self: initial;
                }
              }
            }
          }
          >.panel-col-first {
            align-self: initial;
          }
        }
      }
    }
  }
  nav ul.menu ul.menu {
    height: 50px;
    display: none;
  }

  #block-system-main-menu {
    width: 130%;
    min-height: 270px;
  }
  #logozone {
    z-index: 9999999;
    position: relative;
    top: -7px;
  }
  .responsive-call-us-number {
    float: left;
    position: relative;
    top: -28px;
  }
  nav ul.menu li a {
    color: white;
  } //ul .menu{
  //  background-color: white;
  //  position:relative;
  //  top:30px;
  //}
  .field-view {
    height: auto;
  } //.ghost-button{
  //  position: relative;
  //  top: -65%;
  //}
  // TOO VAGUE
  div {
    .views-field {
      // width: 300px; // TOO VAGUE
      height: auto;
      text-align: center; // margin-bottom: 10px; // TOO VAGUE
      .views-field-nothing {
        height: auto!important;
      }
    }
  }

  .view-display-id-destination_more_detail_teaser {
    &:after {
      // content: '';
      // border: 1px solid $lightgrey;
      // display: block;
      // height: 100%;
      // left: -2%;
      // position: absolute;
      // top: 20px;
      // width: 104%;
      // z-index: -1;
      display: none;
    }
  }
  .field-content span {
    //width: 10px;
  }
  .contentblock {
    background-color: transparent;
  }
  .flexbox-views-wrapper .view-content .flexbox-child,
  .flexbox-wrapper {
    display: block;
    flex: initial;
    .flexbox-child {
      float: left;
      display: block;
      background-color: transparent;
      margin-top: -9px;
    }
  }

  #sticky-wrapper {
    background-color: $brandblue; //min-height: 250px;
    height: auto!important;
    .header {
      .navigationzone {
        background-color: $brandblue;
        margin-top: -60px;
        float: right;
      }
    }
  }
  header {
    height: 120px;
  }



  body.front #facet_filters {

    border: 1px solid #e8e8e8;
    box-shadow: 0 9px 14px rgba(232, 232, 232, .6);
    padding: 13px 0;
    background: #fff; //margin: 25px 0 80px;
    position: relative;
    top: 0; // 60px;
    margin: 20px auto 10px;
    z-index: -999;
    width: 100%;
    .facet-heading-box-wrapper {
      padding: 5px;
      h2.facet-heading-box {
        margin-bottom: 0;
        font-size: 150%;
        text-align:center;
        .smaller-row {
          font-size: 100%;
          line-height: 100%;
          display: inline;
          padding-right: 9px;
        }
      }
    }
  }

  .pane-latest-news {
    padding-left: 0;
    padding-right: 0;
    clear: both;
    display: block;
  }

  .call-us-now-wrapper {
    display: inline-block;
    text-align: center;
    position: relative;
    left: -50px;
    width: 200px;
    .call-us-now-number {
      text-align: center;
      display: block;
      font-size: 100%;
      line-height: 100%;
    }
    .call-us-now {
      text-align: center;
      display: block;
      font-size: 100%;
      line-height: 100%;
    }
  }
  h1.page-title {
    text-transform: uppercase;
    font-weight: normal;
    font-family: Times, Times New Roman, serif;
    text-align: center;
    font-size: 200%;
    line-height: 200%;
  }
  h2 {
    text-transform: none;
    font-weight: normal;
    font-size: 150%;
    line-height: 150%;
  }
  h3 {
    font-size: 140%;
    line-height: 150%;
    position: relative; // left: 10%;
  }
  h4 {
    font-size: 150%;
    line-height: 150%;
  }
  h5 {
    font-size: 140%;
    line-height: 150%;
  }
  h6 {
    font-size: 100%;
    line-height: 160%;
  }




  nav {
    background: transparent;
    color: #fff;
    font-size: 120%;
    line-height: 250%;
    text-align: left;
    display: inline;
    padding: 0 4%;
    width: 92%;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    &>.region-navigationzone-wrapper {
      // background: rgba(#000, 0.8);
      ul {
        padding-bottom: 20px;
      }
    }
    &.nine.columns {
      text-align: left;
    }
    label,
    input {
      // display: block;
    }
    label {
      cursor: pointer;
      user-select: none;
      position: relative;
      float: right;
      text-align: right;
      display: block;
      width: auto;
      font-size: 200%;
      line-height: 150%;
      right: -20px;
      top: 5px;
    }
    .region-navigationzone-wrapper {
      @include transition-property(height, opacity);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in-out);
      overflow-y: hidden;
      max-height: 0;
      height: 0;
      .region-navigationzone {
        width: 90%;
        z-index: 999;
        overflow-x: hidden;
      }
    }
    .right-header-menu {
      li:nth-child(1) {
        &:after {
          display: none;
        }
      }
    }
    input:checked~.region-navigationzone-wrapper,
    input:checked~.region-navigationzone-wrapper>* {
      // .region .block .content ul {
      overflow-y: hidden;
      min-height: 271px;
      height: 100%;
      .region-navigationzone {
        width: 90%;
        /*
              max-height: 650px;
              height: 100%;
              */
      }
      @include transition-property(all);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in-out);
    }
    a {
      color: #fff;
      &.active,
      &:hover {
        color: #fff;
      }
    }
    &:after {
      content: '';

      display: table;
      clear: both;
    }
    ul.menu {
      float: none;
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      top: 0;
      text-align: center;
      min-height: 135px;
      width: 90%;
      padding-top: 20px;
      li {
        width: 100%;
        display: block;
        float: left;
        background-color: none;
        &.icon-link-item {
          text-indent: 0;
          font-size: inherit;
          margin-left: 0;
          width: auto;
          &:hover {
            background: transparent;
          }
          .icon-link {
            text-indent: 0;
            font-size: inherit;
            position: relative;
            width: auto;
            margin-left: 0;
            &:hover {
              background: inherit;
              color: inherit;
            }
            .fa,
            i {
              display: none; // font-size: 13.2px;
              // text-indent: 0px;
              // width: 20px;
              // display: inline-block;
              // float: left;
              // line-height: 170%;
            }
          }
        }
        & a.active {
          color: #fff;
        }
        &>a:after {
          content: ' +';
        }
        &>a:only-child:after {
          content: '';
        }
        &:hover {
          background: $brandblue;
          color: #fff;
          a {
            color: #fff;
          }
          &>ul.menu {
            display: none;
          }
        }
        ul.menu li:hover {
          background: $brandblue;
        }
      }
      ul.menu {
        display: none;
        position: relative;
        top: auto;
        padding: 5px 0 15px 5%;
        width: 95%;
        li {
          background-color: $brandblue;
          width: 100%;
          float: left; // none;
          display: list-item;
          list-style: none;
          position: relative;
          a {
            color: #fff;
            line-height: 100%;
            padding: 0 10px 10px;
            &:hover {
              color: $textcolour;
            }
          }
        }
        ul.menu li {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }
    a {
      display: block;
      padding: 0 20px;
      line-height: 30px;
      text-decoration: none;
      &:hover {
        background: $brandblue;
      }
    }
    &.nine.columns {
      ul.menu {
        text-align: left; // padding-left: 0;
        // margin-left: 0;
        li {
          // display: inline-block;
          // float: none;
        }
      }
    }
  }

  #ship-tab {
    .view-display-id-ship_stats {
      .center-wrapper {
        display: flex;
        flex-direction: column-reverse;
        .panel-panel {
          display: block;
          width: 100%;
          >.inside {
            display: block;
            height: auto;
            >.views-field {
              display: block;
              img {
                margin-bottom: 20px;
              }
            }
          }
        }
        .panel-col-first {
          margin-left: 0;
          .views-field {
            width: 100%;
            margin-bottom: -1px;
          }
        }
        .panel-col-last {
          margin-right: 0;
        }
      }
    }
  }




  .view-display-id-itinerary_block,
  .view-display-id-itinerary_first_ten,
  .view-display-id-itinerary_more_than_ten {
    th,
    td {
      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 85%;
      }
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }


  #footer ul.social-icons {
    margin-top: -30px;
  }
}





/* ------ Retina Mobile Phone -------- */

@media (-webkit-min-device-pixel-ratio: 1.25) and (max-device-width: 480px),
(min-resolution: 120dpi) and (max-device-width: 480px) {

  .view-homepage-slideshow-2017 .views-slideshow-controls-bottom{
    display: none !important;
  }
  .col-xs-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  #topzone {
    ul li {
      font-size: 12px;
    }
  }
  #overview-tab {
    .center-wrapper {
      align-items: stretch;
      >.panel-col-first {
        padding-left: 0!important;
        padding-right: 0!important;
      }
      >.cruise-deal-full-width-image {
        height: 230px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  #cruises2017_deal_tabs {
    .panel-col-top,
    .panel-col-first,
    .panel-col-last,
    .panel-col-last {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $large_text_size!important;
    line-height: 120%!important;
  }
  h2,
  h3 {
    font-size: $large_text_size + 2!important;
    line-height: 80%!important;
  }
  h1 {
    font-size: $large_text_size + 4!important;
    line-height: 120%!important;
  }

  .top_line_cruise_summary {
    font-size: 72%;
    margin: 10px 0 10px;
    padding: 0 0 0;
    .bullet {
      width: 20px;
    }
  }
  .view-display-id-pricing_matrix_fallback .views-label {
    height: 80px;
    font-size: 140%;
  }

  .tab-icon {
    font-size: 0!important;
    height: 25px!important;
    padding: 25px 30px!important;
    width: 25px!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: auto 60%!important;
    &.ships {
      background-image: url(../images/tab-icon-ship.png)!important;
    }
    &.info {
      background-image: url(../images/tab-icon-moreinfo.png)!important;
    }
    &.highlights {
      background-image: url(../images/tab-icon-highlights.png)!important;
    }
    &.gallery {
      background-image: url(../images/tab-icon-gallery.png)!important;
    }
    &.deals {
      background-image: url(../images/tab-icon-deals.png)!important;
    }
    &.map {
      background-image: url(../images/tab-icon-map.png)!important;
    }
    .ui-tabs-active & {
      background-color: transparent!important;
      filter: grayscale(100%) brightness(0%) invert(100%);
      -webkit-filter: grayscale(100%) brightness(0%) invert(100%);
    }
  }
  body.page-cruise-factory-entity-cruise-factory-complete-deal,
  body.page-cruise-factory-entity-cruise-factory-complete-cruise {
    .tab-icon {
      font-size: 0!important;
      height: 20px!important;
      padding: 20px 25px!important;
      width: 20px!important;
    }
    h1.page-title {
      padding: 0 0 12px;
      margin: 12px 0 0;
    }
  }
  .ui-tabs-active {
    background-color: $brandblue!important;
  }

  .view-display-id-itinerary_block,
  .view-display-id-itinerary_first_ten,
  .view-display-id-itinerary_more_than_ten {
    th,
    td {
      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 85%;
      }
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }

  .region-facet-filters {
    display: grid;
    margin-top: 10px;
    padding-bottom: 20px;
  }
}




/* ------------- Android ------------- */

body.android {
  .go-top {
    color: transparent;
    content: "";
    background-image: url(../images/android-up-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px auto;
    &:hover {
      color: transparent;
      content: "";
      background-image: url(../images/android-up-icon.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 35px auto;
    }
  }
  nav.navigationzone label {
    display:block;
    background-image: url(../images/android-menu-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 26px;
    color: transparent;
    content: "";
    width: 26px;
    position:relative;
    top: 150px;
    z-index: 99999999;
  }
}






/* ----------- Apple Watch ----------- */

@media (max-device-width: 42mm) and (min-device-width: 38mm) {}




/* ----------- Moto 360 Watch ----------- */

@media (max-device-width: 218px) and (max-device-height: 281px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  // Fixes the menu items on dropdown
  div.region.region-navigationzone {
    //        margin-top: 50px;
  } // Fixes the issue where everything is squeezed in next to eachother on small widths
  #socialzone {
    clear: both;
    width: 90%;
  }

  header nav ul.menu li.icon-link-item,
  nav ul.menu li.icon-link-item {
    text-indent: 0!important;
    font-size: inherit!important;
    margin-left: 0!important;
    width: auto!important;
    &:hover {
      background: transparent!important;
    }
    .icon-link {
      text-indent: 0!important;
      font-size: inherit!important;
      position: relative!important;
      width: auto!important;
      margin-left: 0!important;
      &:hover {
        background: inherit!important;
        color: inherit!important;
      }
      .fa,
      i {
        display: none!important; // font-size: 13.2px;
        // text-indent: 0px;
        // width: 20px;
        // display: inline-block;
        // float: left;
        // line-height: 170%;
      }
    }
  }

  nav ul.menu li.icon-link-item {
    text-indent: 0!important;
    font-size: inherit!important;
    margin-left: 0!important;
    width: auto!important;
    &:hover {
      background: transparent!important;
    }
    .icon-link {
      text-indent: 0!important;
      font-size: inherit!important;
      position: relative!important;
      width: auto!important;
      margin-left: 0!important;
      &:hover {
        background: inherit!important;
        color: inherit!important;
      }
      .fa,
      i {
        display: none!important; // font-size: 13.2px;
        // text-indent: 0px;
        // width: 20px;
        // display: inline-block;
        // float: left;
        // line-height: 170%;
      }
    }
  }

  header nav ul.menu li {
    clear: both;
    &.icon-link-item {
      text-indent: 0!important;
      font-size: inherit!important;
      margin-left: 0!important;
      width: auto!important;
      &:hover {
        background: transparent!important;
      }
      .icon-link {
        text-indent: 0!important;
        font-size: inherit!important;
        position: relative!important;
        width: auto!important;
        margin-left: 0!important;
        &:hover {
          background: inherit!important;
          color: inherit!important;
        }
        .fa,
        i {
          display: none!important; // font-size: 13.2px;
          // text-indent: 0px;
          // width: 20px;
          // display: inline-block;
          // float: left;
          // line-height: 170%;
        }
      }
    }
  }

  .visible-mobile {
    display: block!important;
  }

  .hidden-mobile {
    display: none!important;
  }
}
