/**
 * @file
 * Cruises International 2017 Theme
 */

.region-nav_right-wrapper {
	align-items: flex-start;
	padding: 0 0 0;
	margin: 0 0 0;
	@include transition-property(opacity);
	@include transition-duration(0.5s);
	// @include transition-timing-function(ease-in-out);
	@include transition-timing-function(cubic-bezier(0.5,0.25,0,1));
	.flexbox-wrapper {
		align-items: flex-start;
		justify-content: end;
		padding: 0 0 0;
		margin: 0 0 0;
	}
	.block {
		margin-top: 15px; 
		display: block;
		> h2 {
			position: absolute;
			font-size: 0;
			right: 0;
			height: 30px;
			width: 30px;
			background-image: url(../images/search-icon.png);
			background-size: 100% auto;
			background-position: center center;
			background-repeat: no-repeat;
			cursor: pointer;
			&.close-search {
				// background-color: red;
				// right: -30px;
				// left: -40px;
		  //   position: absolute;
		  //   background-image: url(../images/search-icon-close.png);
		  //   z-index: 100;
			}
		}
		> .content {
			right: 0;
			top: 15px;
			position: absolute;
			margin: 0;
			padding: 0;
			width: 200px;
			display: none;
			z-index: 99;
			background-color: transparent;
			// background-color: red;
			text-align: right;
			.form-type-textfield,
			.form-actions {
				background-color: transparent;
				display: inline-block;
				margin: 0;
				padding: 0;
				vertical-align: top;
			}
		}
		.search-form {
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		form {
			.form-type-textfield {
				input {
					width: 166px;
					margin: 0;
					padding: 0;
					border: 0;
					height: 30px;
					line-height: 30px;
					background-color: transparent; // #fff;
					border-bottom: 1px solid $middlegrey;
				}
			}
			.form-submit {
				font-size: 0;
				height: 30px;
				width: 30px;
				background-color: transparent; // #fff;
				background-image: url(../images/search-icon.png);
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
				cursor: pointer;
				border-radius: 0;
				padding: 0;
				margin: 0;
				border: 0;
				input {
					background-color: transparent;
					border: 0;
				}
			}
		}
	}
}

#edit-submit--3 {
	// search button on /site-search/
	background-color: transparent;
}
#custom-search-blocks-form-3 {
	.form-item,
	.form-actions {
		display: inline-block;
	}
	.form-submit {
		background-color: transparent;
	}
}


body.front .pane-cruise-deals-2017 {
	// > .view-content {
		display: none;
	// }
}


.error-highlight {
	border: 1px solid rgba($red, 0.7);
	box-shadow: (0 0 5px rgba($red, 0.4));
}

.item-list .pager,
.pager,
.pager-load-more {
	clear: both;
	width: 100%;
	float: none;
	padding: 20px 0 10px;
	//  &.pager-load-more {
	& li {
		margin: 0;
		padding: 0 0 0;
		& > a {
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			background-color: rgba($brandblue, 1.0);
			width: 100%;
			display: inline-block;
			&:hover {
				color: #fff;
				text-decoration: none;
				width: 100%;
				display: inline-block;
				background-color: rgba($brandblue, 0.7);
			}
		}
	}
}


.busy-updating {
	border: 1px solid $lightgrey;
	background: rgba($silvergrey, 0.5); // $lightblue;
	color: $brandblue;
	text-align: center;
	padding: 10px 20px;
	border-radius: 2px;
	width: 60%;
	max-width: 600px;
	margin: 10px auto 50px;
	h1,h2,h3,h4,h5,h6 {
		color: $brandblue;
		text-align: center;
	}
	p, li ul ol {
		color: $textcolour;
		text-align: center;
	}
}

