/**
 * @file
 * Cruises International 2017 Theme
 */


//////////////////////////
///  FROM OLD THEME   ////
//////////////////////////

// @import 'compass/css3';
// @import 'variables';
// @import 'colors';
@import 'hexagon';
// @import "../bootstrap-sass/bootstrap/mixins";
// @import "../bootstrap-sass/bootstrap/variables";
// @import '../bootstrap-sass/bootstrap/_buttons.scss';
// @import '../bootstrap-sass/bootstrap.scss';
//
h2.no-fold {
  &:before,
  &:after {
    display: none!important;
  }
}




.view-user-profile {
  .views-field-picture {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .views-label {
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 500;
    color: $middlegrey;
    border-bottom: 1px solid #efefef;
    width: 100%;
    display: inline-block;
  }
  .field-content {
    font-weight: normal;
    margin-bottom: 10px;
    color: #000;
    a {
      color: #000;
      &:hover {
        color: #000;
      }
      &.btn-ghost {
        color: $shipmates_turq; // $lightblue;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}



/* Manage my suscription form styling */

.webform-client-form-860 {
  .form-group {
    display: block;
    float: left;
    width: 100%;
  }
  label[for="edit-submitted-where-d-you-live"],
  label[for="edit-submitted-are-you-trade-or-consumer"] {
    display: block;
  }
}


/* / Manage my suscription form styling */

.toboggan-unified {
  #login-message {
    margin: 10px 0;
  }
  #login-links {
    margin-bottom: 20px;
    a {
      // thi is found in _btn.scss line 23-ish
    }
  }
  .login-forgot {
    padding-bottom: 15px;
    margin-top: -5px;
    a {
      color: $green;
    }
  }
  .form-item-pass-pass1 {
    margin-bottom: 0;
  }
  .password-suggestions {
    display: none!important;
  }
  .password-strength {
    height: 4px;
    float: none;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 5px;
    line-height: 100%;
    .password-strength-title,
    .password-strength-text {
      display: none;
    }
    .password-indicator {
      height: 4px;
      .indicator {
        background: $shipmates_turq; // $lightblue;
        height: 4px;
        width: 0;
      }
    }
  }
}

// Custom settings for login toboggan buttons on shipmates login
.logintoboggan-shipmates {
  width: 50%!important;
  text-align: center!important;
  float: left!important;
}

// required form elements
.form-control.error {
  box-shadow: 0 0 3px $red;
}
.error {
  box-shadow: 0 0 3px $red;
}

.view-display-id-shipmates_all_deals {
  .views-field-field-inside-cabin {
    width: 140px;
  }
  .views-field-field-sailingdate {
    width: 145px;
  }
}

body.node-type-training-workshops {
  .entity-entityform-type {
    background: rgba($ribbonblue, 0.6)!important;
    label {
      @include text-shadow (0 0 10px $ribbonblue);
    }
  }
}

// body.no-sidebars .content-area .row > section
body.no-sidebars.node-type-course-material-infographic-styl {
  .page-header {
    background-color: #fff;
    color: #045c74;
  }
  .tabs--primary {
    a.active {
      color: #045c74;
    }
  }
  .content-area {
    .row > section {
      background-color: #045c74;
      @include filter-gradient(#045c74, #003245, horizontal);
      $experimental-support-for-svg: true;
      @include background-image(radial-gradient(center, ellipse cover, #045c74 310px, #003245 1000px));
      // @include background-image(radial-gradient(center, ellipse cover, #045c74 31%, #003245 100%));
      color: #fff;
      .field-name-body {
        font-size: 120%;
        line-height: 220%;
        font-weight: lighter;
        margin-bottom: 70px;
        border-bottom: 1px solid #4a5c7f;
      }
      .field-name-field-infographic-slides {
        .field-items {
          .odd {
            .field-name-field-icon {
              float: left!important;
            }
            .field-name-field-text-content {
              float: right!important;
            }
          }
          .even {
            .field-name-field-icon {
              float: right!important;
            }
            .field-name-field-text-content {
              float: left!important;
            }
          }
        }
        .field-items > .field-item {
          .btn-ghost {
            border-color: #fff;
          }
          &:nth-child(2) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #42d68c);
              @include text-shadow(0 0 6px #42d68c);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #42d68c;
            }
          }
          &:nth-child(3) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #fdc00f);
              @include text-shadow(0 0 6px #fdc00f);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #fdc00f;
            }
          }
          &:nth-child(4) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #d9553e);
              @include text-shadow(0 0 6px #d9553e);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #d9553e;
            }
          }
          &:nth-child(5) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #2488dd);
              @include text-shadow(0 0 6px #2488dd);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #2488dd;
            }
          }
          &:nth-child(6) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #db5647);
              @include text-shadow(0 0 6px #db5647);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #db5647;
            }
          }
          &:nth-child(7) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #fae46c);
              @include text-shadow(0 0 6px #fae46c);
              @include box-shadow(0 0 6px #003245);
            }
          }
          &:nth-child(8) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #42d68c);
              @include text-shadow(0 0 6px #42d68c);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #42d68c;
            }
          }
          &:nth-child(9) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #fdc00f);
              @include text-shadow(0 0 6px #fdc00f);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #fdc00f;
            }
          }
          &:nth-child(10) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #d9553e);
              @include text-shadow(0 0 6px #d9553e);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #d9553e;
            }
          }
          &:nth-child(11) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #2488dd);
              @include text-shadow(0 0 6px #2488dd);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #2488dd;
            }
          }
          &:nth-child(12) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #db5647);
              @include text-shadow(0 0 6px #db5647);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #db5647;
            }
          }
          &:nth-child(13) {
            .field-name-field-icon .field-item {
              // #42d68c
              // #fdc00f
              // #d9553e
              // #2488dd
              // #db5647
              // #fae46c
              @include hexagon(100px, #fae46c);
              @include text-shadow(0 0 6px #fae46c);
              @include box-shadow(0 0 6px #003245);
            }
            .field-name-field-section-title {
              border-bottom-color: #fae46c;
            }
          }
          /*        &:last-child {
						background: #fff!important;
						color: #003245;
						@include border-radius (4px);
						.field-name-field-icon .field-item {
							@include hexagon(100px, #003245);
							@include text-shadow(0 0 6px #003245);
							@include box-shadow(0 0 6px #ccc);
							a {
								color: #498ecc!important;
								font-size: 200%!important;
							}
						}
						.field-name-field-section-title {
							border-bottom-color: #003245;
						}
					} */
        }
      }
      .field-collection-container,
      .field-collection-view {
        border-bottom: 0;
        margin-bottom: 20px;
      }
      .field-collection-view {
        padding-bottom: 70px;
      }
      .field-name-field-section-title {
        border-bottom: 1px solid #4a5c7f;
        font-size: 220%;
        font-weight: 100;
        margin: 10px 0 20px;
      }
      .field-name-field-text-content {
        width: 80%;
        display: block;
        line-height: 170%;
        font-size: 100%;
        .field-item {
          width: 80%;
        }
      }
      .field-name-field-icon {
        width: 20%;
        .field-item {
          @include hexagon(100px, #4a5c7f);
          text-align: center;
          line-height: 20px;
          font-size: 50px;
          @include text-shadow(0 0 6px #003245);
          @include box-shadow(0 0 6px #003245);
        }
      }
      a {
        color: #fff;
      }
    }
  }
}

// this is for massive buttons!
.btn-huge {
  font-size: 200%!important;
  padding: 10px 40px!important;
}

#block-views-take-this-quiz-block {
  background: #fff;
  color: #000;
  @include border-radius(4px);
  padding: 10px 15px 35px;
  text-align: center;
  h2 {
    font-size: 30px;
    padding-bottom: 25px;
  }
  .btn {
    color: $shipmates_turq; // $lightblue;
    border-color: $shipmates_turq; // $lightblue;
    &:hover {
      background: $shipmates_turq; // $lightblue;
      border-color: $shipmates_turq; // $lightblue;
      color: #fff;
    }
  }
}

.node-trade-blog-post {
  .field-name-field-photo {
    .field-item {
      display: inline-block;
      width: auto;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

body.page-node-edit.node-type-course-material-infographic-styl,
body.no-sidebars.page-node-edit.node-type-course-material-infographic-styl {
  .content-area .row > section .field-name-field-icon {
    width: 100%!important;
  }
}

body.page-user-edit {
  #block-block-12 .btn,
  #edit-actions #edit-submit {
    width: 100px;
  }
  .field-name-field-sales-points,
  .field-name-field-challenge-points,
  .field-name-field-booking-points,
  .field-name-field-points,
  .field-name-field-badges {
    display: none;
  }
  fieldset {
    padding: 0;
    border: 0;
    border-color: transparent;
    box-shadow: none;
  }
  .panel-body,
  .date-padding {
    padding: 0;
  }
  .panel-heading {
    display: none;
  }
  form {
    label {
      font-size: 85%;
      text-transform: uppercase;
      font-weight: 500;
      color: $middlegrey;
      width: 100%;
      display: inline-block!important;
    }
    .form-type-checkbox {
      label {
        font-size: 100%;
        text-transform: none;
        font-weight: normal;
        color: #333;
        display: inline-block!important;
      }
    }
  }
  .password-strength-text,
  div.password-confirm {
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 500;
    & span {
      background: $green;
      padding: 2px;
      color: #fff;
      &:empty {
        padding: 0;
        display: none;
      }
    }
    .error {
      background: $red;
      padding: 2px;
      color: #fff;
    }
  }
  td.field-multiple-drag,
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  .password-strength {
    color: $shipmates_turq; // $lightblue!important;
  }
  .password-strength-title {
    display: none;
  }
  .password-indicator {
    height: 2px;
    .indicator {
      height: 2px;
      background: $shipmates_turq; // $lightblue;
    }
  }
}

.form-item-mail {
  .help-block {
    display: none;
  }
}

.form-type-password {
  .help-block {
    font-size: 80%;
    line-height: 100%;
  }
}

#edit-picture {
  padding-left: 65px;
  .form-item-picture-delete {
    margin-top: 0;
    padding-top: 0;
  }
  .user-picture {
    float: left;
    margin-left: -65px;
    img {
      width: 50px;
      height: auto;
    }
  }
}

.form-item-field-preferred-method-of-commun-und,
.form-item-field-whichlines-und {
  width: 100%;
  clear: both;
  display: block;
  float: left;
  .form-type-radio,
  .form-type-checkbox {
    width: 30%;
    float: none;
    display: inline-block;
    min-width: 200px;
  }
}

.form-item-field-preferred-method-of-commun-und {
  .form-type-radio {
    width: 15%;
    min-width: 90px;
  }
}

.view {
  table.views-table {
    caption {
      color: #fff;
      background: $shipmates_turq; // $lightblue;
      h2 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 10px;
      }
    }
  }
}

.views-exposed-widget {
  &.views-reset-button {
    .form-submit {
      color: $green;
      border: 1px solid $green;
      background-color: transparent;
      &:hover {
        color: #fff!important;
        background-color: $green;
        border: 1px solid $green;
      }
    }
  }
}

.view-all-marketing-collateral {
  .views-field-field-brochure-download-file {
    .file .file-icon {
      display: none;
    }
  }
}

.views-field-changed {
  .btn-ghost {
    display: inline-block!important;
    margin-left: 3px!important;
    padding: 1px 7px!important;
  }
}

img.shipmates-logo {
  height: auto;
  max-width: 100%;
}

#edit-submit-hidden {
  display: none;
}


/* QUIZ STYLING */

form.answering-form {
  padding: 10px 0;
}

// Hid by Hennie
// .quiz_progress {
//  display: none;
// }
ul.h5p-sc-alternatives {
  li.h5p-sc-alternative {
    @include opacity(0.5);
  }
  li.h5p-sc-selected {
    @include opacity(1.0);
  }
  li.h5p-sc-alternative {
    .h5p-sc-label,
    .h5p-sc-status:after {
      color: $darkgrey!important;
    }
    &.h5p-sc-reveal-correct,
    &.h5p-sc-reveal-correct .h5p-sc-progressbar {
      background: $green!important;
      color: #fff!important;
      font-weight: 500!important;
      .h5p-sc-label,
      .h5p-sc-status:after {
        color: #fff!important;
      }
    }
    &.h5p-sc-selected.h5p-sc-reveal-wrong {
      .h5p-sc-label,
      .h5p-sc-status:after {
        color: #fff!important;
      }
      & .h5p-sc-progressbar {
        background: $red!important;
        color: #fff!important;
        font-weight: 500!important;
      }
    }
  }
}

.h5p-sc-sound-control,
.h5p-sc-status {
  font-family: "FontAwesome", fontawesome!important;
}

body.page-shipmates .region-content {
  min-height: 1030px;
}

.answering-form {
  #edit-navigation {
    text-align: right;
  }
}


/* / QUIZ STYLING */

#homebox-block-views_trade_blog_slideshow-block {
  .portlet-header {
    display: none;
  }
  .portlet-content {
    padding: 0 0 0!important;
  }
  #views_slideshow_controls_text_previous_trade_blog_slideshow-block {
    float: left;
  }
  #views_slideshow_controls_text_pause_trade_blog_slideshow-block {
    display: none;
  }
  #views_slideshow_controls_text_next_trade_blog_slideshow-block {
    float: right;
  }
}

#homebox {
  #homebox-column-2 {
    .portlet-maximize {
      display: none;
    }
  }
  .portlet-content {
    padding: 5px 10px 20px;
  }
  #homebox-add-link {
    display: none;
  }
  .homebox-column {
    background: none;
    margin: 0;
    padding: 0;
  }
  .homebox-portlet {
    border: 0;
    margin: 5px 2px 10px;
    padding: 0;
    .homebox-portlet-inner {
      border: 1px solid $shipmates_turq; // $lightblue;
    }
    .portlet-minus {
      border: 0; //1px solid #fff;
      background: url(../images/minus.gif) repeat scroll 0 0 transparent;
    }
    .portlet-plus {
      border: 0; //1px solid #fff;
      background: url(../images/plus.gif) repeat scroll 0 0 transparent;
    }
    .portlet-maximize {
      border: 0; //1px solid #fff;
      background: url(../images/maximize.gif) repeat scroll 0 0 transparent;
    }
    .portlet-minimize {
      border: 0; //1px solid #fff;
      background: url(../images/minimize.gif) repeat scroll 0 0 transparent;
    }
    .portlet-header {
      background: $shipmates_turq; // $lightblue;
      color: #fff;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      border-bottom: 0;
    }
  }

  .item-list .pager,
  .pager,
  .pager-load-more {
    & li {
      & > a {
        background-color: rgba($shipmates_turq, 1.0);
        &:hover {
          background-color: rgba($shipmates_turq, 0.7);
        }
      }
    }
  }

}


/* EDIT PRICES */

.page-admin-structure-entity-type-priceguide-priceguide-add {
  .panel-col-first {
    width: 70%;
  }
  .panel-col-last {
    width: 30%;
  }
  fieldset.filter-wrapper {
    display: none;
  }
  .pane-priceguide-field-last-update {
    width: 100%;
    overflow: hidden;
    .panel-heading,
    .panel-body {
      width: 100%;
    }
    fieldset {
      width: 100%;
    }
  }
}

.view-add-new-price-guide {
  float: left;
  margin-top: 30px;
  width: 100%;
  .views-row {
    float: left;
  }
}

.add-new-deal-box {
  margin-left: -10px;
  width: 444px;
  height: 177px;
  float: left;
  margin-right: 21px;
  margin-bottom: 10px;
  @include text-shadow(0 0 5px $green);
  .views-row & {
    display: none;
  }
  .add-new-deal {
    width: 100%;
    height: 177px;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    display: block;
    text-align: center;
    background: rgba($green, 0.7);
    &:before {
      display: block;
      width: 100%;
      text-align: center;
      padding-top: 0;
      margin-bottom: -15px;
      color: #fff;
      font-size: 90px;
      content: "\f067";
      font-family: "FontAwesome", FontAwesome, fontawesome;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
      background: rgba($green, 0.95);
    }
  }
  .details-box {
    @include text-shadow(0 0 2px $green);
    margin-top: -40px;
    margin-bottom: 50px;
    width: 100%;
    padding: 0 5%;
    cursor: pointer;
    pointer-events: none;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    font-size: 90%;
  }
}


/* / EDIT PRICES */

// body.page-new-deals-bulk-loading,
// body.page-shipmates {
table,
td,
tr,
tbody,
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  // font-size: 12px;
  &.views-table,
  &.cols-5,
  &.table {
    // font-size: 12px;
  }
}

// }
body.page-shipmates-marketing-all {
  .jumbotron {
    padding: 0 30px 10px;
  }
}

.entityform.entitytype-event_registration-form {
  .field-name-field-event-name {
    display: none;
  }
}

.icon-grid-heading {
  margin-top: 30px;
  border-bottom: 4px solid $brandblue!important;
  margin: 50px auto 30px;
  text-align: center!important;
  width: 90%;
  display: block;
  h2 {
    background: transparent!important;
    color: $brandblue!important;
    font-size: 270%!important;
    font-weight: 500!important;
    margin: 0 auto -30px !important;
    padding: 0 30px!important;
    background: #fff!important;
    width: auto!important;
    text-align: center!important;
    display: inline-block!important;
    &:after {
      content: ""!important;
      border-bottom: none!important;
      border-right: none!important;
      margin: 0!important;
      padding: 0!important;
    }
    &:before {
      content: "";
      border-bottom: none!important;
      border-left: none!important;
      height: 1px;
      margin: 0!important;
      padding: 0!important;
    }
  }
}

.icon-grid-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.icon-grid {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin-bottom: 30px;
}

.field-name-body,
#block-system-main {
  .icon-data-wrapper {
    display: none;
  }
}

.fancybox-outer {
  .field-name-body,
  #block-system-main {
    .icon-data-wrapper {
      display: block!important;
    }
  }
  .icon-data-wrapper {
    display: block!important;
  }
  & > .howitworks-infoblock,
  & > div {
    width: 100%;
    display: block;
  }
  div.content {}
  .text-content-right,
  .picture-left {
    max-width: 800px;
    padding: 0 2% 2%;
    margin-bottom: 20px;
    width: 96%;
    float: none;
    display: block;
    &.no-image {
      width: 96%;
    }
  }
  .picture-left {
    padding: 4% 2% 2%;
    background: $silvergrey;
    img {
      @include box-shadow(0 0 5px $lightgrey);
    }
  }
}

body.page-user-login {
  .main-content-block {
    .region-content {
      margin-left: 10%;
      margin-top: 20%;
      display: flex;
      flex-direction: column-reverse;
      > .block {
        padding-bottom: 15px;
      }
    }
  }
}
.page-user-login{
  #login-links{
    display: none;
  }
  #login-message{
    display:none;
  }
  // #user-login {
  //   #text {
  //     display:none;
  //   }
  // }
  // #login-form {
  //   margin-left: 10%;
  //   margin-top: 20%;
  // }
}

#login-page-img-col {
  padding-right: 0!important;
}

#wrapper-user {
  width: 100%!important;
}




//////////////////////////
///  FROM OLD THEME   ////
//////////////////////////




// body.user-role-shipmate,
body.shipmates,
body.page-shipmates,
body.page-new-shipmate,
body.page-new-shipmate-register,
body.page-node-449,
body.page-user,
body.page-user-login {

	h1, h2, h3, h4, h5, h6 {
		color: $shipmates_turq;
	}

	header {
		background: $shipmates_turq;
	}
	#logozone {
		min-height: 90px;
		img {
			display: none;
		}
		&:after {
			height: 80px;
			width: 250px;
			position: relative;
			display: block;
			content: "";
			background-image: url(../images/shipmates-logo@2x.png);
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	}
	#post_footer {
		background: $shipmates_turq;
		color: #fff;
		a {
			color: #fff;
		}
	}

	.region-content {
		a {
			color: $shipmates_turq;
		}
	}

	.public_button, input.form-submit,
  button, .btn, .button {
		@include buttonclass($shipmates_turq, $shipmates_turq);
    padding: 5px 18px;
    line-height: 21px;
    height: 30px;
    font-weight: 400;
	}
	
	// image shift to match $shipmates_turq
	.region-nav_right-wrapper .block > h2,
	ul.social-icons li a:before {
		-webkit-filter: brightness(150%) hue-rotate(-385deg);
		filter: brightness(150%) hue-rotate(-385deg);
	}
	
	.go-top {
		background-color: $shipmates_turq;
	}

} 
