/**
 * @file
 * Cruises International 2017 Theme
 */

.rrssb-item-list,
.block-rrssb {
  max-width: 450px!important;
  .rrssb-buttons {
    font-size: 9px;
    &.large-format {
      font-size: 12.5px;
    }
  }
}
