/**
 * @file
 * Cruises International 2017 Theme
 */

img {
  max-width: 100%;
  height: auto;
}


.price-column {
  display: flex;
  float: none;
  flex-direction: column;
  flex: 1 1 0%;
  width: 22%;
  max-width: 190px;
  min-width: 190px;
  .price {
    flex: 1 1 auto;
  }
  .price-on-request {
    .price-tag-price {
      font-size: $extra_large_text_size; // 190%;
      text-transform: uppercase;
    }
  }
  .price-tag-from {
    text-transform: uppercase;
    color: $lightgrey;
    font-size: $text_size; // 110%;
  }
  .price-tag-price {
    font-weight: 500;
    color: $brandblue;
    font-size: $extra_large_text_size; // 220%;
    width: 120%;
  }
  .price-tag-postfix {
    color: $lightgrey;
    font-size: $text_size; // 100%;
  }
  .btn {
    width: 100%;
    text-align: center;
    margin: 0 0 0;
  }
}



.view-id-latest_news.view-display-id-page,
.view-id-latest_news.view-display-id-block_1 {
// .view-latest-news {
  .views-row {
    border-bottom: 1px solid $lightgrey;
    padding: 0 0 20px;
    margin: 0 0 20px;
    .view-display-id-block_1 & {
      border-bottom: 0;
    }
  }
  .views-field-field-date {
    color: $middlegrey;
    font-size: 90%;
  }
  .views-field-title h3 {
    margin: 0 0 5px;
  }
  h2.recent-articles-subhead {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 90%;
    color: $brandblue;
    border-bottom: 1px solid $brandblue;
    padding-bottom: 5px;
    margin: 20px 0 10px;
  }
  .panel-2col-bricks {
    .panel-col-first,
    .panel-col-last {
      width: inherit!important;
    }
  }
}



.star-ratings {
  &.special {
    text-transform: uppercase;
    color: $brandblue;
    font-size: 80%;
    background: $yellow;
    display: inline-block;
    padding: 0 20px;
  }
  &.river {
    text-transform: uppercase;
    color: $brandblue;
    font-size: 80%;
    background: $yellow;
    display: inline-block;
    padding: 0 20px;
  }
}


$cruise-teaser-width: 350px;
$cruise-teaser-height: 250px;

$cruise-teaser-width-zoomed: 380px;
$cruise-teaser-height-zoomed: 271px;

$cruise-teaser-responsive-width: 320px;
$cruise-teaser-responsive-height: 228px;


.view-display-id-top_three_destinations {
  > .view-content {
    margin: 0 -2% 0 -2%;
    > .views-row {
      padding-left: 0!important;
      padding-right: 0!important;
      //height: 50px;
      .pane-content {
        position: relative;
      }
      // &.col-md-4,
      // &.col-sm-6,
      // &.col-xs-12 {
      //   padding-left: 0!important;
      //   padding-right: 0!important;
      // }
    }
  }
}


.cruise-factory-entity {
  // port teaser
  &.cruise-factory-entity-teaser.cruise-factory-entity-base-ports {}
  // cruise-factory-entity-cruise-factory-complete-cruise
  &.cruise-factory-entity-wider-teaser,
  &.cruise-factory-entity-teaser {
    &.cruise-factory-entity-base-ships {
      height: $cruise-teaser-height;
      width: 100%;
      display: block;
      // text-align: center;
      margin-bottom: 30px;
      .views-field-title-1 {
      // ,
      // &.views-field-page-title,
      // &.views-field-field-page-title {
        margin-top: 0;
        padding: 0 0 0;
        font-size: $text_size; // 170%;
        line-height: $line_height; // 160%;
        text-align: left;
        h2, h3 {
          text-align: left;
          margin-top: 0;
          padding: 0 0 0;
          text-transform: uppercase;
          color: $brandblue;
          padding-bottom: 20px;
          font-size: 170%;
          line-height: 160%;
          font-weight: 500;      
          a {
            color: $brandblue;
            &:hover {
              color: $lightblue;
              text-decoration: none;
            }
          }
        }
      }
      .cruiseline-wrapper {
        // border: 1px solid $lightgrey;
        height: $cruise-teaser-height;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        overflow: hidden;
        .cruiseline-info { // initial state
          text-align: center;
          height: $cruise-teaser-height;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;
          // display: none;
          .cruiseline-logo {
            border: 1px solid $brandblue;
            text-align: center;
            display: inline-block;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            height: $cruise-teaser-height;
            width: $cruise-teaser-width;
              img {
                max-height: $cruise-teaser-height;
                max-width: $cruise-teaser-width;
              }
            .cruiseline-logo-link {
            }
          }
        }
        .cruiseline-hover { // hover
          text-align: center;
          display: none;
          display: block;
          height: $cruise-teaser-height;
          display: none;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;
          background: $brandblue;
          color: #fff;
          .cruiseline-hover-wrapper { 
            text-align: center;
            display: inline-block;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            .cruiseline-star-rating {
              color: $yellow;
            }
            .cruiseline-name {
              display: inline-block;
              line-height: 100%;
              margin: 25px 0;
              width: 100%;
              a {
                display: inline-block;
                white-space: pre-line;
                padding: 15px 30px;
                background: #fff;
                color: $brandblue;
                max-width: 80%;
                width: 80%;
                color: $brandblue;
                text-decoration: none;
                h2 {
                  margin: 0 0 0;
                  padding: 0 0 0;
                  line-height: 100%;
                  font-size: 140%;
                }
                &:hover {
                  text-decoration: none;
                }
              }
            }
            .cruiseline-link {
              a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
              }
            }
          }
        }
        &:hover {
          .cruiseline-info {
            display: none;
          }
          .cruiseline-hover {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
          }
        }
      }
    }
    &.cruise-factory-entity-base-cruiselines {
      height: $cruise-teaser-height;
      width: 100%;
      display: block;
      text-align: center;
      .cruiseline-wrapper {
        // border: 1px solid $lightgrey;
        height: $cruise-teaser-height;
        display: block;
        text-align: center;
        .cruiseline-info { // initial state
          text-align: center;
          height: $cruise-teaser-height;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;
          // display: none;
          .cruiseline-logo {
            text-align: center;
            display: inline-block;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
              img {
                max-height: auto; // $cruise-teaser-height;
                max-width: 90%; // $cruise-teaser-width;
              }
            .cruiseline-logo-link {
            }
          }
        }
        .cruiseline-hover { // hover
          text-align: center;
          display: none;
          display: block;
          height: $cruise-teaser-height;
          display: none;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;
          background: $brandblue;
          color: #fff;
          .cruiseline-hover-wrapper { 
            text-align: center;
            display: inline-block;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            .cruiseline-star-rating {
              color: $yellow;
            }
            .cruiseline-name {
              display: inline-block;
              line-height: 100%;
              margin: 25px 0;
              width: 100%;
              a {
                display: inline-block;
                white-space: pre-line;
                padding: 15px 30px;
                background: #fff;
                color: $brandblue;
                max-width: 80%;
                width: 80%;
                color: $brandblue;
                text-decoration: none;
                h2 {
                  margin: 0 0 0;
                  padding: 0 0 0;
                  line-height: 100%;
                  font-size: 140%;
                }
                &:hover {
                  text-decoration: none;
                }
              }
            }
            .cruiseline-link {
              a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
              }
            }
          }
        }
        &:hover {
          .cruiseline-info {
            display: none;
          }
          .cruiseline-hover {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
          }
        }
      }
    }
    &.cruise-factory-entity-base-destination-group {
      width: 100%; // $cruise-teaser-width;
      height: auto; // $cruise-teaser-height;
      .views-row {
        cursor: pointer;
        .views-field {
          cursor: pointer;
          &.views-field-base-destination-photo-1 {
            width: 100%; // $cruise-teaser-width;
            height: auto; // $cruise-teaser-height;
            overflow: hidden;
            img {
              text-align: center;
              margin: 0 0;
              @include transition-property(all);
              @include transition-duration(0.2s);
              @include transition-timing-function(ease-in-out);
            }
          }
          &.views-field-page-title,
          &.views-field-field-page-title {
            margin-top: 0;
            padding: 0 0 0;
            font-size: $text_size; // 170%;
            line-height: $line_height; // 160%;
            h2, h3 {
              margin-top: 0;
              padding: 0 0 0;
              text-transform: uppercase;
              color: $brandblue;
              padding-bottom: 20px;
              font-size: 170%;
              line-height: 160%;
              font-weight: 500;      
            }
            a {
              color: $brandblue;
              &:hover {
                color: $lightblue;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    &.cruise-factory-entity-cruise-factory-complete-cruise,
    &.cruise-factory-entity-cruise-factory-complete-deal {
      //&.cruise-factory-entity-wider-teaser {
      border-bottom: 1px solid $mediumsilvergrey;
      margin: 0 -30px 20px;
      padding-bottom: 20px;
      > .panel-display {
        > .center-wrapper {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: stretch;
          > .panel-col-first,
          > .panel-col-last {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            align-items: stretch;
            > .inside {
              display: inline-block; // inline-grid;
              align-self: stretch;
              .panel-pane {
                &:last-child {
                  // border-color: 1px solid red;
                  align-self: end;
                  align-self: flex-end;
                }
              }
            }

        }
          > .panel-col-first {
            align-self: start;
          }
        }
      }
      h2, h3, h4, h5, h6 {
        margin: 0 0 0;
        padding: 0 0 0;
      }
      .views-field-final-name h3 {
        color: $brandblue;
        padding-bottom: 20px;
        a {
          color: $brandblue;
          &:hover {
            color: $lightblue;
            text-decoration: none;
          }
        }
      }
      .panel-panel .inside {
        margin: 0 0 0;
      }
      > .panel-panel {
        padding: 0 0 0;
      }
      // cruise-factory-entity-cruise-factory-complete-deal
      .panel-col-first {
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .wide-teaser-wrapper {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        align-items: stretch;
        box-sizing: border-box;
        > * {
          box-sizing: border-box;
        }
        > .nights-and-date {
          border: 1px solid $mediumsilvergrey;
          display: flex;
          float: none;
          flex-direction: column;
          flex: 1 1 0%;
          padding: 13px;
          font-weight: 500;
          text-align: center;
          width: 23%;
          max-width: 200px;
          min-width: 200px;
          .nights-and-date-nights {
            flex: 1 1 auto;
            border-bottom: 1px solid $mediumsilvergrey;
            padding: 10px;
            color: $brandblue;
            font-size: 170%;
            text-transform: uppercase;
          }
          .nights-and-date-date {
            padding: 10px;
            color: $brandblue;
            font-size: 150%;
            text-transform: uppercase;
          }
        }
        > .middle-column-2017 {
          display: flex;
          float: none;
          flex-direction: column;
          flex: 1 1 0%;
          width: 55%;
          padding: 0 20px 0 30px;
          font-size: 90%;
          .ports {
            flex: 1 1 auto;
            color: $middlegrey;
            font-weight: 300;
            position: relative;
            // left: 10%;
            max-width: 90%;
            .embarkport {
              font-weight: 500;
              display: inline;
              color: $darkgrey; // $middlegrey;
            }
            .all-ports-list {
              display: inline;
              * {
                font-weight: 300;
                display: inline;
              }
            }
            .render_port_list {
              .port_list_block {}
            }
          }
          .bottom-row-details {
            color: $brandblue;
            position: relative;
            // left: 10%;
            max-width: 90%;
            > * {
              display: inline;
            }
            .destination-group {
              font-weight: 500;
            }
            .cruiseline {
              font-style: italic;
            }
            .shipname {
              font-weight: 500;
            }
            .referencenumber {
              font-weight: 500;
            }
          }
        }
        > .price-column {
          display: flex;
          float: none;
          flex-direction: column;
          flex: 1 1 0%;
          width: 22%;
          max-width: 190px;
          min-width: 190px;
          .price {
            flex: 1 1 auto;
          }
          
          .price-on-request {
            .price-tag-price {
              font-size: $extra_large_text_size; // 190%;
              text-transform: uppercase;
            }
          }

          .price-tag-from {
            text-transform: uppercase;
            color: $lightgrey;
            font-size: $text_size; // 110%;
          }
          .price-tag-price {
            font-weight: 500;
            color: $brandblue;
            font-size: $extra_large_text_size; // 220%;
            width: 120%;
          }
          .price-tag-postfix {
            color: $lightgrey;
            font-size: $text_size; // 100%;
          }
          .btn {
            width: 100%;
            text-align: center;
            margin: 0 0 0;
          }
        }
      }     
    }
  }
  &.cruise-factory-entity-teaser {
    &.cruise-factory-entity-base-destination-group {
      width: $cruise-teaser-width;
      height: $cruise-teaser-height;
      text-align: center;
      margin: 0 15px 30px;
      .views-row {
        cursor: pointer;
        .views-field {
          cursor: pointer;
          &.views-field-base-destination-photo-1 {
          // &:first-child {
            width: $cruise-teaser-width;
            height: $cruise-teaser-height;
            overflow: hidden;
            text-align: center;
            img {
              text-align: center;
              // margin: -15px -10px;
              // width: $cruise-teaser-width-zoomed;
              // max-width: none;
              // height: $cruise-teaser-height-zoomed;
              margin: 0 0;
              width: $cruise-teaser-width;
              max-width: none;
              height: $cruise-teaser-height;
              @include transition-property(all);
              @include transition-duration(0.2s);
              @include transition-timing-function(ease-in-out);
            }
          }
          &.views-field-page-title,
          &.views-field-field-page-title {
          // &:last-child {
            cursor: pointer;
            width: $cruise-teaser-width;
            height: $cruise-teaser-height;
            position: absolute;
            top: 0;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            h2 {
              cursor: pointer;
              max-width: 80%;
              text-align: center;
              display: inline-block;
              -webkit-flex: 1 1 auto;
              -ms-flex: 1 1 auto;
              flex: 1 1 auto;
              text-transform: uppercase;
              font-weight: 400!important;
              font-weight: lighter!important;
              color: #fff;
              line-height: 100%;
              font-size: 16px;
              letter-spacing: 0.05em;
              a {
                cursor: pointer;
                @include transition-property(all);
                @include transition-duration(0.2s);
                @include transition-timing-function(ease-in-out);
                text-decoration: none;
                font-weight: lighter;
                display: inline-block;
                color: #fff;
                padding: 18px 40px;
                background: rgba($brandblue,0.7);
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        &:hover {
          .views-field {
            &.views-field-base-destination-photo-1 {
              width: $cruise-teaser-width;
              height: $cruise-teaser-height;
              overflow: hidden;
              img {
                // margin: 0 0;
                // width: $cruise-teaser-width;
                // max-width: none;
                // height: $cruise-teaser-height;
                margin: -15px -10px;
                width: $cruise-teaser-width-zoomed;
                max-width: none;
                height: $cruise-teaser-height-zoomed;
              }
            }
            &.views-field-page-title,
            &.views-field-field-page-title {
            // &:last-child {
              h2 {
                a {
                  background: rgba($brandblue,0.9);
                }
              }
            }
          }
        }
      }
    }
    &.cruise-factory-entity-base-ships {
      height: $cruise-teaser-height;
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 30px;
      .cruiseline-wrapper {
        // border: 1px solid $lightgrey;
        height: $cruise-teaser-height;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        overflow: hidden;
        .cruiseline-info { // initial state
          text-align: center;
          height: $cruise-teaser-height;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;
          // display: none;
          .cruiseline-logo {
            border: 1px solid $brandblue;
            text-align: center;
            display: inline-block;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            height: $cruise-teaser-height;
            width: $cruise-teaser-width;
              img {
                max-height: $cruise-teaser-height;
                max-width: $cruise-teaser-width;
              }
            .cruiseline-logo-link {
            }
          }
        }
        .cruiseline-hover { // hover
          text-align: center;
          display: none;
          display: block;
          height: $cruise-teaser-height;
          display: none;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          align-items: center;
          justify-content: center;
          background: $brandblue;
          color: #fff;
          .cruiseline-hover-wrapper { 
            text-align: center;
            display: inline-block;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            .cruiseline-star-rating {
              color: $yellow;
            }
            .cruiseline-name {
              display: inline-block;
              line-height: 100%;
              margin: 25px 0;
              width: 100%;
              a {
                display: inline-block;
                white-space: pre-line;
                padding: 15px 30px;
                background: #fff;
                color: $brandblue;
                max-width: 80%;
                width: 80%;
                color: $brandblue;
                text-decoration: none;
                h2 {
                  margin: 0 0 0;
                  padding: 0 0 0;
                  line-height: 100%;
                  font-size: 140%;
                }
                &:hover {
                  text-decoration: none;
                }
              }
            }
            .cruiseline-link {
              a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
              }
            }
          }
        }
        &:hover {
          .cruiseline-info {
            display: none;
          }
          .cruiseline-hover {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
          }
        }
      }
    }
  }
  &.cruise-factory-entity-destination-more-detail-teaser {
    &.cruise-factory-entity-base-destination-group {
      width: $cruise-teaser-width;
      height: auto;
      // text-align: center;
      margin: 0 15px 30px;
      .views-row {
        cursor: pointer;
        .views-field {
          cursor: pointer;
          &.views-field-base-destination-photo-1 {
          // &:first-child {
            width: $cruise-teaser-width;
            height: $cruise-teaser-height;
            overflow: hidden;
            text-align: center;
            img {
              text-align: center;
              margin: -15px -10px;
              width: $cruise-teaser-width-zoomed;
              max-width: none;
              height: $cruise-teaser-height-zoomed;
              margin: 0 0;
              width: $cruise-teaser-width;
              max-width: none;
              height: $cruise-teaser-height;
              @include transition-property(all);
              @include transition-duration(0.2s);
              @include transition-timing-function(ease-in-out);
            }
          }
          &.views-field-page-title,
          &.views-field-field-page-title {
            // &:last-child {
            cursor: pointer;
            width: $cruise-teaser-width;
            height: $cruise-teaser-height;
            position: absolute;
            top: 0;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            h2 {
              cursor: pointer;
              max-width: 80%;
              text-align: center;
              display: inline-block;
              -webkit-flex: 1 1 auto;
              -ms-flex: 1 1 auto;
              flex: 1 1 auto;
              text-transform: uppercase;
              font-weight: 400!important;
              font-weight: lighter!important;
              color: #fff;
              line-height: 100%;
              font-size: 16px;
              letter-spacing: 0.05em;
              a {
                cursor: pointer;
                @include transition-property(all);
                @include transition-duration(0.2s);
                @include transition-timing-function(ease-in-out);
                text-decoration: none;
                font-weight: lighter;
                display: inline-block;
                color: #fff;
                padding: 18px 40px;
                background: rgba($brandblue,0.7);
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        &:hover {
          .views-field {
            &.views-field-base-destination-photo-1 {
              width: $cruise-teaser-width;
              height: $cruise-teaser-height;
              overflow: hidden;
              img {
                margin: 0 0;
                width: $cruise-teaser-width;
                max-width: none;
                height: $cruise-teaser-height;
                margin: -15px -10px;
                width: $cruise-teaser-width-zoomed;
                max-width: none;
                height: $cruise-teaser-height-zoomed;
              }
            }
            &.views-field-page-title,
            &.views-field-field-page-title {
            // &:last-child {
              h2 {
                a {
                  background: rgba($brandblue,0.9);
                }
              }
            }
          }
        }
      }
    }
  }
}

.view-display-id-destination_more_detail_teaser {
  &:after {
    content: '';
    border: 1px solid $lightgrey;
    display: block;
    height: 100%;
    left: -2%;
    position: absolute;
    top: 20px;
    width: 104%;
    z-index: -1;
  }
  .views-field-base-description {
    text-align: center;
    font-size: 90%;
    line-height: 160%;
    margin: 20px 0 20px;
    max-width: 100%;
  }
  .views-field-nothing {
    text-align: center;
    margin: 0 0 20px;
  }

}

.view-all-destinations-button {
  margin-right: -19px;
  margin-top: -16px;
  margin-bottom: 44px;
  margin-left: 0;
}


@media only screen and (max-width: 1200px) {

  .cruise-factory-entity {
    &.cruise-factory-entity-teaser,
    &.cruise-factory-entity-destination-more-detail-teaser,
    &.cruise-factory-entity-wider-teaser {
      /* &.cruise-factory-entity-base-destination-group {
        width: $cruise-teaser-width - 50;
        height: $cruise-teaser-height - 30;
        .views-row {
          .views-field {
            &.views-field-base-destination-photo-1 {
            // &:first-child {
              width: $cruise-teaser-width - 50;
              height: $cruise-teaser-height - 30;
              img {
                width: $cruise-teaser-width-zoomed - 50;
                height: $cruise-teaser-height-zoomed - 30;
              }
            }
            &.views-field-page-title,
            &.views-field-field-page-title {
            // &:last-child {
              width: $cruise-teaser-width - 50;
              height: $cruise-teaser-height - 30;
            }
          }
          &:hover {
            .views-field {
              &.views-field-base-destination-photo-1 {
              // &:first-child {
                width: $cruise-teaser-width - 50;
                height: $cruise-teaser-height - 30;
                img {
                  margin: 0 0;
                  width: $cruise-teaser-width - 50;
                  max-width: none;
                  height: $cruise-teaser-height - 30;
                }
              }
              &.views-field-page-title,
              &.views-field-field-page-title {
              // &:last-child {
                h2 {
                  a {
                    background: rgba($brandblue,0.9);
                  }
                }
              }
            }
          }
        }
      } */
    }
    &.cruise-factory-entity-destination-more-detail-teaser {
      &.cruise-factory-entity-base-destination-group {
        height: auto;
      }
    }
  }
            
}


/* ----- Non-Retina Mobile Phone ------- */

@media only screen and (max-device-width: 480px),
(max-width: 480px) {

  #gallery-tab
  { .view-ship-image-from-media-library {
    .views-row{
      margin-bottom: 9px;

      img{
        max-width: 100%;
        width: 129%;
      }
      > .views-field & .views-field-field-image-download-file{
        height: auto;
        text-align: center;
        width: 105%;
        position: relative;
        left: -2.5%;
      }
      }
    }
  }

  .view-display-id-destination_more_detail_teaser {
    &:after {
      display: none;
     // content: '';
     // border: 1px solid red; //$lightgrey;
     //// display: block;
     // height: 300%;
     // left: -2%;
     // position: absolute;
     // top: 20px;
     // width: 104%;
     // z-index: -1;
    }
    .views-field-base-description {
      text-align: center;
      font-size: 90%;
      line-height: 160%;
      margin: 20px 0 20px;
    }
    .views-field-nothing {
      text-align: center;
      margin: 0 0 20px;
    }

  }

  .cruise-factory-entity {
    &.cruise-factory-entity-teaser,
    &.cruise-factory-entity-destination-more-detail-teaser,
    &.cruise-factory-entity-wider-teaser {
      &.cruise-factory-entity-base-cruiselines {
        height: auto; //$cruise-teaser-responsive-height;
        .cruiseline-wrapper {
          height: auto;// $cruise-teaser-responsive-height;
          .cruiseline-info {
            height: auto;// $cruise-teaser-responsive-height;
          }
        }
      }
      /* &.cruise-factory-entity-base-destination-group {
        .views-field {
          width: $cruise-teaser-responsive-width;
          height: auto;
          text-align: center;
          margin-bottom: 10px;
          &.views-field-base-destination-photo-1 {
          // &:first-child {
            width: $cruise-teaser-responsive-width;
            height: $cruise-teaser-responsive-height;
            overflow: hidden;
            text-align: center;
            img {
              text-align: center;
              margin: 0 0;
              width: $cruise-teaser-responsive-width;
              max-width: none;
              height: $cruise-teaser-responsive-height;
              // @include transition-property(all);
              // @include transition-duration(0.2s);
              // @include transition-timing-function(ease-in-out);
            }
          }
          &.views-field-page-title,
          &.views-field-field-page-title {
          // &:last-child {
            width: $cruise-teaser-responsive-width;
            height: $cruise-teaser-responsive-height;
            line-height: 100%;
            font-size: 16px;
            a {
              padding: 10px 20px;
            }
          }
          &:hover {
            width: $cruise-teaser-responsive-width;
            //height: $cruise-teaser-responsive-height;
            text-align: center;
            margin-bottom: 10px;
            &.views-field-base-destination-photo-1 {
            // &:first-child {
              width: $cruise-teaser-responsive-width;
              height: $cruise-teaser-responsive-height;
              overflow: hidden;
              text-align: center;
              img {
                text-align: center;
                margin: 0 0;
                width: $cruise-teaser-responsive-width;
                max-width: none;
                height: $cruise-teaser-responsive-height;
              }
            }
            &.views-field-page-title,
            &.views-field-field-page-title {
            // &:last-child {
              width: $cruise-teaser-responsive-width;
              height: $cruise-teaser-responsive-height;
              line-height: 100%;
              font-size: 16px;
              a {
                padding: 10px 20px;
              }
            }
          }
        }
      } */
      &.cruise-factory-entity-cruise-factory-complete-cruise,
      &.cruise-factory-entity-cruise-factory-complete-deal {
        margin: 0 -15px 20px;
        .wide-teaser-wrapper {
          display: block;
          width: 100%;
          > .nights-and-date {
            display: block;
            margin: 0 auto;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            border:none;
            height: 10%;
            padding: 0 !important;
            padding-bottom: 5% !important;
            position:relative;
            left:10%;
            .nights-and-date-nights{
              border:none!important;
              font-size: 20px; // !important;
              word-spacing: 0.5px!important;
              padding:0;
            }
            .nights-and-date-date {
              padding: 0;
              color: $brandblue;
              font-size: 150%;
              text-transform: uppercase;
            }
          }
          > .middle-column-2017 {
            display: block;
            width: 100%;
            padding: 0 0 0;
            * {
              display: block;
              width: 100%;
            }
          }
          > .price-column {
            display: block;
            margin: 0 auto;
            width: 100%;
            min-width: 100%;
            max-width: 100%;

            .link{
              position:relative;
              left:10%;
            }
          }
        }
      }
    }
    &.cruise-factory-entity-destination-more-detail-teaser {
      &.cruise-factory-entity-base-destination-group {
        height: auto;
      }
    }
  }

}
/* ------ Retina Mobile Phone -------- */

@media (-webkit-min-device-pixel-ratio: 1.25) and (max-device-width: 480px),
(min-resolution: 120dpi) and (max-device-width: 480px) {

}

