/**
 * @file
 * Cruises International 2017 Theme
 */


// GIF OPTION
div#views_infinite_scroll-ajax-loader,
.ajax-throbber,
.flag-throbber {
	// background-color: rgba(#fff, 0.5);
  background-image: url(../images/throbber.gif)!important;
}

div#views_infinite_scroll-ajax-loader {
  background-position: center center;
  background-repeat: no-repeat;
  margin: 10px auto -10px;
  text-align: center;
  height: 16px;
  width: 16px;
  img {
    display: none!important;
  }
}

// auto-complete form fields
html.js {
  input {
    &.form-autocomplete {
      margin-top: 10px;
      margin-bottom: -10px;
      // background-color: rgba(#fff, 0.5);
      background-image: url(../images/throbber.gif);
      background-position: 110% 0px;
      background-repeat: no-repeat;
    }
    &.throbbing {
      background-position: 100% -16px;
    }
  }
}

// ajax progresses
.ajax-progress {
  margin-top: 10px;
  margin-bottom: -10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  .throbber {
    background: transparent url(../images/throbber.gif) no-repeat 0px 0px;
    float: left;
    height: 16px;
    width: 16px;
    margin: 0; // 2px;
  }
}

// for custom throbbers
#throbber.throbber,
.throbber {
  background: transparent url(../images/throbber.gif) no-repeat 0 0;
  float: none;
  height: 24px;
  width: 24px;
  padding: 0 0 0; 
  margin: 0 0 0; // 2px;
  display: inline-block;
  background-position: 0 0;
  &.opacityoff {
    background-position: 0 40px;
  }
}
