/**
 * @file
 * Cruises International 2017 Theme
 */

@import "compass/css3";

// COLOURS


$map_ocean_colour: #a3ccff;

$lightblue: #498ecc;
$brandblue: #003767;
$ribbonblue: #498ecc;
$navyblue: #09324e;
$yellow: #e5c644;

$turq: #03b0a5;
$shipmates_turq: #045c74;

$silvergrey: #e8e8e8;
$mediumsilvergrey: #d7d7d7;
$lightgrey: #b2b2b2;
$middlegrey: #777;
$darkgrey: #303133;

$green: #6eba51;
$darkgreen: #5fa542;
$footergrey: #757679;
$red: #DE2007;


$fontstack: "Gill Sans", Gill Sans, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
$headingstack: Times, Times New Roman, serif;

$text_size: 14px;
$large_text_size: 21px;
$extra_large_text_size: 32px;
$line_height: 170%;

$textcolour: $darkgrey;
$linkcolour: $brandblue;

// BORDER RADIUS

$br: 1px;
$br_small: 1px;


@mixin buttonclass($color, $bordercolour) {
	-webkit-appearance: none;
	cursor: pointer;
	background-color: $color;
	border-color: $bordercolour;
	// border-bottom: 5px solid $bordercolour;
	@include border-radius($br_small);
	color: #fff!important;
	display: inline-block;
	font-size: $text_size;
	font-weight: 500;
	text-transform: uppercase;
	vertical-align: middle;
	width: auto;
	border: 0;
	max-width: 100%;
	margin: 4px 0 4px 0;
	padding: 8px 18px;
	line-height: 24px; // 20px;
	height: 40px;
	text-decoration: none;
	white-space: nowrap;
	&:hover {
		text-decoration: none;
		// line-height: 20px; // line-height: 18px;
		// height: 40px; // height: 36px;
		background-color: darken($color, 10%);
		border-color: $color;
		border: 0;
		// border-bottom: 3px solid $bordercolour;
		color: #fff!important;
		// margin: 4px 0 4px 0; // margin: 8px 0 4px 0;
	}
}

@mixin large-button($color, $bordercolour) {
	@include buttonclass($lightblue, $brandblue);
	margin: 4px 0 4px 0; // -6px;
	padding: 13px 30px!important;
	height: 50px!important;
	max-width: none;
	text-decoration: none;
	&:hover {
		height: 50px!important;
		margin: 4px 0 4px 0; // -6px;
		text-decoration: none;
	}
}

.btn,
input.form-submit, button,
.button {
	@include buttonclass($lightblue, $brandblue);
}
.btn-turq {
	@include buttonclass($turq, $turq);
}

.btn-brandblue {
	@include buttonclass($brandblue, $lightblue);
}

.hs-button.primary.large,
.hs-button.primary,
.hs-button {
	@include buttonclass($lightblue, $brandblue);
	box-sizing: border-box!important;
	background-image: none!important;
	border: 0!important;
	@include box-shadow(0 0 0 transparent!important);
	text-shadow: 0 0 0 none!important;
	&:hover:not(.inactive),
	&:focus:not(.inactive),
	&.hovered:not(.inactive),
	&:hover {
		box-sizing: border-box!important;
		background-image: none!important;
		border: 0 0 0!important;
		border-color: transparent!important;
		@include box-shadow(0 0 0 transparent!important);
		text-shadow: 0 0 0 none!important;
	}
}




.btn-small {
	font-size: 12px;
  font-weight: 500;
  height: 30px;
  line-height: 11px;
  padding: 8px 18px;
  text-transform: none;
  &:after {
  	font-size: 70%;
  	padding: 0 0 0 12px!important;
  }
}

.large-button {
	@include large-button($lightblue, $brandblue);
}

.ghost-button {
	@include buttonclass(transparent, $brandblue);
	color: $brandblue!important;
	border: 1px solid $brandblue!important;
	text-decoration: none!important;
	&:hover {
		text-decoration: none!important;
		border: 1px solid $brandblue!important;
		background-color: $brandblue!important;
		color: #fff!important;
		text-decoration: none;
	}
	&.white {
		@include buttonclass(transparent, #fff);
		color: #fff;
		border: 1px solid #fff!important;
		&:hover {
			border: 1px solid #fff!important;
			background-color: #fff!important;
			color: $brandblue!important;
		}
	}
}


@mixin ghostbutton($color, $bordercolour) {
	@include buttonclass(transparent, $bordercolour);
	color: $color!important;
	border: 1px solid $bordercolour!important;
	text-decoration: none!important;
	&:hover {
		text-decoration: none!important;
		border: 1px solid $bordercolour!important;
		background-color: $bordercolour!important;
		color: #fff!important;
		text-decoration: none;
	}
}
.arrow-right {
	&:after {
	  // color: #fff;
	  content: "\f105";
	  font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
	  margin-top: -4px;
	  padding-left: 10px;
	}
}
.arrow-left {
	&:before {
	  // color: #fff;
	  content: "\f104";
	  font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
	  margin-top: -4px;
	  padding-right: 10px;
	}
}
.arrow-down {
	&:after {
	  // color: #fff;
	  content: "\f105";
	  display: inline-block;
	  font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
	  margin-top: 0;
	  padding: 0 8px 0 11px;
	  @include transform(rotate(90deg));
	}
}
.arrow-down-solid {
	&:after {
	  // color: #fff;
	  content: "\25bc";
	  display: inline-block;
	  font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
	  margin-top: 0;
	  padding: 0 8px 0 11px;
	}
}
.arrow-up {
	&:after {
	  // color: #fff;
	  content: "\f105";
	  display: inline-block;
	  font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
	  margin-top: 0;
	  padding: 0 11px 0 8px;
	  @include transform(rotate(-90deg));
	}
}

.expanding-formatter-trigger a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:after {
		@include transition-property(all);
		@include transition-duration(1s);
		@include transition-timing-function(ease-in-out);
	  // color: #fff;
	  content: "\f105";
	  display: inline-block;
	  font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
	  padding: 0 8px 0 11px;
	  @include transform(rotate(90deg));
	}
	.expanded & {
		&:after {
			@include transition-property(all);
			@include transition-duration(1s);
			@include transition-timing-function(ease-in-out);
		  // color: #fff;
		  content: "\f105";
		  display: inline-block;
		  font-family: "Font-Awesome", "fontawesome", Font-Awesome, fontawesome;
		  padding: 0 11px 0 8px;
		  @include transform(rotate(-90deg));
		}
	}
}
.expanding-formatter[data-css3="1"][data-effect="slide"] {
	@include transition(height 2s ease-in-out 0s!important);
}

