.field-type-icon-field .icon-picker-icons-list {
  font-size: 250%;
}
.field-type-icon-field .icon-picker-icons-list small {
  font-size: 10px;
}
.field-type-icon-field .icon-picker-icons-list .icon-wrapper {
  display: inline-block;
  min-width: 2em;
  height: auto;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.field-type-icon-field .icon-picker-icons-list .icon-wrapper {
  color: #000;
}

.field-type-icon-field .icon-picker-icons-list .icon-wrapper:hover {
  color: red;
  border-color: red;
}

.field-type-icon-field .icon-picker-icons-list .icon-wrapper.selected {
  border-color: #00008b;
  background-color: #808080;
}

.field-type-icon-field .selection-preview .icon-wrapper {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  padding: 1em;
}

.field-type-icon-field .selection-preview .select-icon,
.field-type-icon-field .selection-preview .remove-icon {
  margin-right: 1em;
  cursor: pointer;
}
