/**
 * @file
 * Cruises International 2017 Theme
 */
.expanding-formatter {
  overflow: hidden;
  position: relative;
}
.expanding-formatter.expanded .expanding-formatter-ellipsis {
  display: none;
}
.expanding-formatter[data-inline="1"] p {
  margin: 0 0 1.2em;
}
.expanding-formatter[data-inline="1"] p:nth-child(2) {
  margin-top: 1.2em;
}
.expanding-formatter[data-inline="1"] p:first-child,
.expanding-formatter[data-inline="1"] p:last-child {
  display: inline;
  margin-bottom: 0;
}
.expanding-formatter[data-inline="1"] .expanding-formatter-summary,
.expanding-formatter[data-inline="1"] .expanding-formatter-content {
  display: inline;
}
.expanding-formatter[data-inline="1"] .expanding-formatter-trigger {
  display: inline-block;
  margin-bottom: 5px;
}
.expanding-formatter .expanding-formatter-ellipsis {
  margin-right: .25em;
}
.expanding-formatter[data-css3="1"].collapsed.sliding .expanding-formatter-ellipsis, .expanding-formatter[data-css3="1"].collapsed[data-effect="slide"]:not(.sliding) .expanding-formatter-content {
  display: none;
}
.expanding-formatter[data-css3="1"].collapsed .trigger {
  display: inline;
}
.expanding-formatter[data-css3="1"][data-effect="slide"] {
  -moz-transition: height 500ms ease;
  -o-transition: height 500ms ease;
  -webkit-transition: height 500ms ease;
  transition: height 500ms ease;
}
.expanding-formatter[data-css3="1"][data-effect="fade"] .expanding-formatter-content {
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  overflow: hidden;
}
.expanding-formatter[data-css3="1"][data-effect="fade"] .expanding-formatter-trigger {
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.expanding-formatter[data-css3="1"][data-effect="fade"].fading .expanding-formatter-trigger {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.expanding-formatter[data-css3="1"][data-effect="fade"].collapsed .expanding-formatter-content {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
.expanding-formatter[data-css3="1"][data-effect="fade"].collapsed .expanding-formatter-trigger {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.expanding-formatter[data-css3="1"][data-effect="fade"].collapsed.fading .expanding-formatter-content, .expanding-formatter[data-css3="1"][data-effect="fade"].collapsed.fading .expanding-formatter-trigger {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.expanding-formatter[data-css3="1"][data-effect="fade"].expanded .expanding-formatter-content,
.expanding-formatter[data-css3="1"][data-effect="fade"].expanded .expanding-formatter-trigger {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.expanding-formatter[data-css3="1"][data-effect="fade"].expanded.fading .expanding-formatter-content, .expanding-formatter[data-css3="1"][data-effect="fade"].expanded.fading .expanding-formatter-trigger {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
