/**
 * @file
 * Cruises International 2017 Theme
 */
.rrssb-item-list,
.block-rrssb {
  max-width: 450px !important;
}
.rrssb-item-list .rrssb-buttons,
.block-rrssb .rrssb-buttons {
  font-size: 9px;
}
.rrssb-item-list .rrssb-buttons.large-format,
.block-rrssb .rrssb-buttons.large-format {
  font-size: 12.5px;
}
