/**
 * @file
 * Cruises International 2017 Theme
 */
div#views_infinite_scroll-ajax-loader,
.ajax-throbber,
.flag-throbber {
  background-image: url(../images/throbber.gif) !important;
}

div#views_infinite_scroll-ajax-loader {
  background-position: center center;
  background-repeat: no-repeat;
  margin: 10px auto -10px;
  text-align: center;
  height: 16px;
  width: 16px;
}
div#views_infinite_scroll-ajax-loader img {
  display: none !important;
}

html.js input.form-autocomplete {
  margin-top: 10px;
  margin-bottom: -10px;
  background-image: url(../images/throbber.gif);
  background-position: 110% 0px;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -16px;
}

.ajax-progress {
  margin-top: 10px;
  margin-bottom: -10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ajax-progress .throbber {
  background: transparent url(../images/throbber.gif) no-repeat 0px 0px;
  float: left;
  height: 16px;
  width: 16px;
  margin: 0;
}

#throbber.throbber,
.throbber {
  background: transparent url(../images/throbber.gif) no-repeat 0 0;
  float: none;
  height: 24px;
  width: 24px;
  padding: 0 0 0;
  margin: 0 0 0;
  display: inline-block;
  background-position: 0 0;
}
#throbber.throbber.opacityoff,
.throbber.opacityoff {
  background-position: 0 40px;
}
