
.panel-six_six_six_six_stacked {
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-six_six_six_six_stacked .panel-col-top,
.panel-six_six_six_six_stacked .panel-col-middle,
.panel-six_six_six_six_stacked .panel-col-bottom {
  width: 100%;
  clear: both;
}

.panel-six_six_six_six_stacked .panel-col-top .inside,
.panel-six_six_six_six_stacked .panel-col-middle .inside {
  margin-bottom: 0;
}

.panel-six_six_six_six_stacked .panel-col-first {
  float: left;
  width: 50%;
}
* html .panel-six_six_six_six_stacked .panel-col-first {
  width: 50%;
}

.panel-six_six_six_six_stacked .panel-col-first .inside {
  margin: 0 0 0 0;
}

.panel-six_six_six_six_stacked .panel-col-last {
  float: left;
  width: 50%;
}
* html .panel-six_six_six_six_stacked .panel-col-last {
  width: 50%;
}

.panel-six_six_six_six_stacked .panel-col-last .inside {
  margin: 0 0 0 0;
}

.panel-six_six_six_six_stacked .panel-separator {
  margin: 0 0 0 0;
}

body.page-admin .two-column-top .panel-col-first {
  width: 50%;
}

body.page-admin .two-column-top .panel-col-last {
  width: 50%;
}

body.page-admin .two-column-lower .panel-col-first {
  width: 50%;
}

body.page-admin .two-column-lower .panel-col-last {
  width: 50%;
}
