.panel-cruises2017_destination_tabs {
  /*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-cruises2017_destination_tabs .panel-col-top,
.panel-cruises2017_destination_tabs .panel-col-bottom {
  width: 100%;
  clear: both;
}

.panel-cruises2017_destination_tabs .panel-col-top .inside {
  margin-bottom: 0;
}

.panel-cruises2017_destination_tabs .panel-col-first {
  /*float: left;*/
  /*width: 30%;*/
}

* html .panel-cruises2017_destination_tabs .panel-col-first {
  /*width: 70%;*/
}

.panel-cruises2017_destination_tabs .panel-col-first .inside {
  margin: 0 0 0 0;
}

.panel-cruises2017_destination_tabs .panel-col-last {
  /*float: left;*/
  /*width: 30%;*/
}

.panel-cruises2017_destination_tabs .panel-col-last .inside {
  margin: 0 0 0 0;
}

.panel-cruises2017_destination_tabs .panel-separator {
  margin: 0 0 0 0;
}
