
.panel-2col-stacked {
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom {
  width: 100%;
  clear: both;
}

.panel-2col-stacked .panel-col-top .inside {
  margin-bottom: 0;
}

.panel-2col-stacked .panel-col-first {
  float: left;
  width: 50%;
}
* html .panel-2col-stacked .panel-col-first {
  width: 50%;
}

.panel-2col-stacked .panel-col-first .inside {
  margin: 0 0 0 0;
}

.panel-2col-stacked .panel-col-last {
  float: left;
  width: 50%;
}

.panel-2col-stacked .panel-col-last .inside {
  margin: 0 0 0 0;
}

.panel-2col-stacked .panel-separator {
  margin: 0 0 0 0;
}
