.panel-seventy_thirty_split {
  /*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-seventy_thirty_split .panel-col-top,
.panel-seventy_thirty_split .panel-col-bottom {
  width: 100%;
  clear: both;
}

.panel-seventy_thirty_split .panel-col-top .inside {
  margin-bottom: 0;
}

.panel-seventy_thirty_split .panel-col-first {
  /*float: left;*/
  /*width: 30%;*/
}

* html .panel-seventy_thirty_split .panel-col-first {
  /*width: 70%;*/
}

.panel-seventy_thirty_split .panel-col-first .inside {
  margin: 0 0 0 0;
}

.panel-seventy_thirty_split .panel-col-last {
  /*float: left;*/
  /*width: 30%;*/
}

.panel-seventy_thirty_split .panel-col-last .inside {
  margin: 0 0 0 0;
}

.panel-seventy_thirty_split .panel-separator {
  margin: 0 0 0 0;
}

/*
*
* SOME BASICS FROM SKELETON:
* Skeleton V2.0.4
*
*
*/

body.page-admin .panel-seventy_thirty_split .column,
body.page-admin .panel-seventy_thirty_split .columns {
/*  float: left;
*/}

body.page-admin .panel-seventy_thirty_split .three.columns {
/*  width: 22%;
  float: left;
*/}

body.page-admin .panel-seventy_thirty_split .nine.columns {
/*  width: 74.0%;
  float: left;
*/}

body.page-admin .panel-seventy_thirty_split .twelve.columns {
/*  width: 100%;
  margin-left: 0;
*/}

body.page-admin .panel-seventy_thirty_split .one-third.column {
/*  width: 30.6666666667%;
*/}

body.page-admin .panel-seventy_thirty_split .two-thirds.column {
/*  width: 65.3333333333%;
*/}
