<h3 class="rtecenter">Cruises International is the largest international cruise line representative in Southern Africa.</h3>

<p class="rtecenter">&nbsp;</p>

<p>From our Johannesburg headquarters,&nbsp;Cruises International connects would-be travellers to some of the top cruise lines in the world and each year we send thousands of passengers on the voyage of their dreams.</p>

<p>Founded in 1992 by George Argyropoulos, Cruises International was the first agency of its kind specialising in representing and marketing selected international cruise lines. With highly skilled and motivated staff Cruises International has grown to be the biggest in Southern Africa, now representing nine cruise lines. These lines are Celebrity Cruises, Royal Caribbean International, Crystal Cruises, Seabourn, Azamara Club Cruises, Oceania Cruises, SeaDream Yacht Club and AmaWaterways. Cruises International also arranges private yacht charters, conferences and incentives at sea.</p>

<p>Cruises International has agencies in Kenya, Mauritius, Nigeria and other countries in Africa.</p>

<p><img alt="George argyropoulos" class="img-responsive" src="/sites/default/files/file-uploads/george-argyropoulos.png" style="float:left; height:225px; padding-right:5px; width:300px" title="George argyropoulos" /></p>

<p><strong>George Argyropoulos – A Unique Vision</strong></p>

<p>Upon his arrival from Athens in 1991, Cruises International Managing Director George Argyropoulos recognised a gap in the South African travel industry and opened a company specialising solely in cruises. Armed only with charm, confidence and optimism, George set out to market cruising as a mainstream overseas holiday option and soon earned the position of GSA for top cruise lines such as Royal Caribbean, Celebrity Cruises and Epirotiki (later becoming known as Royal Olympic Cruises).</p>

<p>Over the years George has built up the Johannesburg-based company to represent some of the worlds most recognised and luxurious cruise lines, adding to his portfolio lines such as Crystal Cruises, the Yachts of Seabourn and Oceania Cruises.</p>

<p>With these lines his company is able to offer itineraries covering the globe. These include Alaska, the Caribbean, the Mediterranean, Europe, Australia and New Zealand, Dubai and the UAE, Panama Canal and South America to the Greek Islands, Turkey, Asia and Scandinavia and of course the all-encompassing World Cruise. Cruises International can offer a cruise to suit all tastes (and budgets) as well as the expertise to support agents throughout the selling process.</p>

<p>Soon George identified a trend towards luxury cruising in the South African market and he moved to create a new brand within Cruises International called The Luxury Portfolio, and markets the luxury lines Crystal, Oceania, Azamara and the Yachts of Seabourn to the rapidly growing market for five and six star cruising. Targeted marketing and events has introduced South African travellers to the unparalleled experience of a luxury cruise.</p>

<p><a href="http://www.cruises.co.za/sites/default/files/file-uploads/cruises_int_updated_company_profile_2015.pdf" target="_blank"><img alt="Download Our Profile" class="img-responsive" src="/sites/default/files/file-uploads/download-profile-01_0.png" title="Download Our Profile" /></a></p>

<h3>Services offered by Cruises International</h3>

<p>Staffed by a team of highly experienced travel professionals, Cruises International offers the travel industry as well as the public a comprehensive package of services related to the cruise industry.</p>

<p>Cruises International is in a position to support travel agents selling cruise products with information as well as resources. The public are also invited to contact Cruises International directly for a personalised and professional service.</p>

<p>Cruises International's groups and incentives division has taken groups from some of South Africa's leading companies on cruises, growing this market as a new and successful avenue for corporate travel. All inclusive packages mean there are no surprises and our corporate clients have found this a most satisfactory route for incentivising and rewarding staff and top clients.</p>

<h2>International cruise lines represented by Cruises International.</h2>

<table border="0" cellpadding="1" cellspacing="1" class="table table-hover table-striped">
	<tbody>
		<tr>
			<td style="text-align: center; width: 30%;"><img alt="Royal Caribbean International" class="img-responsive" src="/sites/default/files/Royal-Caribbean-International.png" title="Royal Caribbean International" /></td>
			<td style="width: 70%;">
			<h3>Royal Caribbean International</h3>

			<p>Undoubtedly Cruises International's most popular line, Royal Caribbean International offers a cruise experience for every taste. Onboard, they offer unique activities such as a rock-climbing wall and a wave simulator. There are shopping malls, health spas and nightclubs. Royal Caribbean is the ultimate resort at sea and is ideally suited to family holidays, offering supervised activities for kids and appropriate entertainment for the elderly. Shore &amp; Land Excursions offer everything from glacier trekking in Alaska to swimming with dolphins in Bermuda.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="Celebrity Cruises" class="img-responsive" src="/sites/default/files/Celebrity-Cruises.png" title="Celebrity Cruises" /></td>
			<td>
			<h3>Celebrity Cruises</h3>

			<p>This is a 5-star cruise line offering superb on-board ambiance, and first class service on their award-winning fleet of ships. Highlights are exquisite dining experiences and top-class entertainment.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="Crystal Cruises" class="img-responsive" src="/sites/default/files/Crystal-Cruises_3.png" title="Crystal Cruises" /></td>
			<td>
			<h3>Crystal Cruises</h3>

			<p>Crystal Cruises has been voted the world's best large ship for a record number of years and it's easy to see why. The ships offer six-star refined service and a Crystal Cruise is tailor made for guests who like the option of more onboard facilities than on offer on smaller ships. Crystal also offers an unsurpassed onboard lifestyle and world-class enrichment programmes.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="Seabourn" class="img-responsive" src="/sites/default/files/Seabourn_3.png" title="Seabourn" /></td>
			<td>
			<h3>Seabourn</h3>

			<p>Seabourn offer an all inclusive cruise package meaning that all alcohol and tips are paid for before you cruise. The ships are intimate 208-guest vessels that can visit destinations inaccessible to the large cruise liners. All the state rooms are full suites and service is impeccable and personalised.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="Oceania Cruises" class="img-responsive" src="/sites/default/files/Oceania-Cruises_3.png" title="Oceania Cruises" /></td>
			<td>
			<h3>Oceania Cruises</h3>

			<p>Oceania ships are intimate taking only 684 guests. This enables you to reach the world's most alluring and exotic destinations which the larger ships cannot access. Along with this level of intimacy goes personal service of the highest standard.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="Azamara Club Cruises" class="img-responsive" src="/sites/default/files/Azamara-Club-Cruises_3.png" title="Azamara Club Cruises" /></td>
			<td>
			<h3>Azamara Club Cruises</h3>

			<p>The newest name in cruising is an altogether welcome addition for passengers wanting to cruise far from the madding crowd. Azamara Club Cruises is an exciting new venture from parent company Royal Caribbean Cruises Ltd. In today's world of floating fun palaces there's no disputing the relative intimacy of these two identical 694-passenger vessels. Also evident is the high crew-to-passenger ratio – epitomised by butler service throughout.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="SeaDream Yacht Club  left" class="img-responsive" src="/sites/default/files/SeaDream-Yacht-Club_3_left2-01.png" title="SeaDream Yacht Club  left" /></td>
			<td>
			<h3>SeaDream Yacht Club "It's yachting, not cruising".</h3>

			<p>SeaDream yachting is different from big ship cruising. Unlike cruises, you will be pampered by SeaDream's award–winning service and cuisine. You can be as active or as relaxed as you want to be while experiencing the ultimate in luxury, privacy and personalization. SeaDream visits the intimate yachting playgrounds, harbors and ports where large cruise ships cannot go. April – November in Europe and the Mediterranean and November – April, in the Caribbean.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="Ama Waterways" class="img-responsive" src="/sites/default/files/Ama-Waterways_3.png" title="Ama Waterways" /></td>
			<td>
			<h3>AmaWaterways</h3>

			<p>AMA Waterways, continues to evolve the river cruising experience every year. It transports you to the heart of a destination, surrounded by a panorama of history. Immerse yourself in the provincial landscapes of Europe that inspired painters, poets and writers. Marvel at the moments of imperial Russia or explore the ancient wonders of the Mekong. Sail on AMA waterways for a premium experience.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; "><img alt="Windstar" src="/sites/default/files/file-uploads/windstarcolour.png" style="height:81px; width:200px" title="Windstar logo fixed" /></td>
			<td>
			<h3>Windstar Cruises</h3>

			<p>Windstar feels like your own private yacht, where freedom is the order of every day and easy, casual elegance is the style of choice. It feels like your own private yacht. With fewer than 300 guests, it feels like your own private yacht. No crowds, no formal nights, just luxurious surroundings and the freedom to write your own adventure.</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
