.panel-three_nine_split {
  /*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-three_nine_split .panel-col-top,
.panel-three_nine_split .panel-col-bottom {
/*  width: 100%;
  clear: both;
*/}

.panel-three_nine_split .panel-col-top .inside {
  margin-bottom: 0;
}

.panel-three_nine_split .panel-col-first {
  /*float: left;*/
  /*width: 30%;*/
/*  width: 25%;
*/}

* html .panel-three_nine_split .panel-col-first {
  /*width: 70%;*/
}

.panel-three_nine_split .panel-col-first .inside {
  margin: 0 0 0 0;
}

.panel-three_nine_split .panel-col-last {
  /*float: left;*/
  /*width: 30%;*/
}

.panel-three_nine_split .panel-col-last .inside {
  margin: 0 0 0 0;
}

.panel-three_nine_split .panel-separator {
  margin: 0 0 0 0;
}

/*
*
* SOME BASICS FROM SKELETON:
* Skeleton V2.0.4
*
*
*/

body.page-admin .panel-three_nine_split .column,
body.page-admin .panel-three_nine_split .columns {
/*  float: left;
*/}

body.page-admin .panel-three_nine_split .five.columns {
/*  width: 39.3333%;
  float: left;
*/}

body.page-admin .panel-three_nine_split .seven.columns {
/*  width: 56.6667%;
  float: left;
*/}

body.page-admin .panel-three_nine_split .twelve.columns {
/*  width: 100%;
  margin-left: 0;
*/}

body.page-admin .panel-three_nine_split .one-third.column {
/*  width: 30.6666666667%;
*/}

body.page-admin .panel-three_nine_split .two-thirds.column {
/*  width: 65.3333333333%;
*/}
