<div class="wide-teaser-wrapper">
  <div class="nights-and-date">
    <div class="nights-and-date-nights">[final_cruise_length]</div>
    <div class="nights-and-date-date">[final_sailingdate]</div>
  </div>
  <div class="middle-column-2017">
    <div class="ports">
      <div class="embarkport">[final_embarkport_reference]</div>,
      <div class="all-ports-list">[view_2]</div>
    </div>
    <div class="bottom-row-details">
      <div class="destination-group">[final_destination_group]</div> |
      <div class="cruiseline">[final_cruiseline]</div> |
      <div class="shipname">[final_ship_reference]</div>
      <div class="referencenumber">[id]</div>
    </div>
  </div>
  <div class="price-column">
    <div class="price">[final_start_price]
    </div>
    <div class="link">[view_link]
    </div>
  </div>
</div>
