<div class="cruiseline-wrapper">
	<div class="cruiseline-info">
	  <div class="cruiseline-logo">
	    <a alt="[base_name]" title="[base_name]" class="cruiseline-logo-link" href="/cruise_factory_entity/[type]/[id]">[view]</a>
	  </div>
	</div>
	<div class="cruiseline-hover">
		<div class="cruiseline-hover-wrapper">
		  <div class="cruiseline-star-rating">[base_star_rating]</div>
		  <div class="cruiseline-name"><a alt="[base_name]" title="[base_name]" class="cruiseline-name-link" href="cruise_factory_entity/[type]/[id]"><h2>[base_name]</h2></a></div>
		  <div class="cruiseline-link"><a alt="[base_name]" title="[base_name]" href="cruise_factory_entity/[type]/[id]" class="cruiseline-cruiseline-link arrow-right">View cruiseline</a></div>
		</div>
	</div>
</div>
