<p class="rtecenter">Organising group bookings, incentives and corporate events can be a headache for some, but not for us. Our cruise lines have the most amazing facilities all in one place and with a backdrop like no other: the ocean. Our meeting and incentive options cover accommodation and amenities, dining, entertainment and onboard activities, function spaces and event services, customisation options and more. If you're looking for an extraordinary way to approach group bookings and incentives, look no further than Royal Caribbean and Celebrity Cruises.</p>

<p>&nbsp;</p>

<div class="groups-and-incentives flexbox-wrapper center">
<div class="flexbox-child"><a href="/node/86"><img alt="Royal Caribbean" src="/sites/default/files/groups-and-incentives-royal.png" title="Royal Caribbean" /></a></div>

<div class="flexbox-child"><a href="/node/415"><img alt="Celebrity Cruises" src="/sites/default/files/groups-and-incentives-celebrity.png" title="Celebrity Cruises" /></a></div>
</div>

<p>&nbsp;</p>
