<script>
jQuery(document).ready(function($) {
// ?f[]=final_destination_group:7644553
// &f[]=final_cruiseline:1842095
// &f[]=final_sailingdate:2017-08
	final_destination_group 	=		$('select[name=final_destination_group]').val();
	final_cruiseline 					= 	$('select[name=final_cruiseline]').val();
	final_sailingdate 				=		$('select[name=final_sailingdate]').val();

	function checkvalues() {

		if (final_destination_group == '_none') {
			final_destination_group_blank = true;
		}
		// if (final_cruiseline == '_none') {
		// 	final_cruiseline_blank = true;
		// }
		if (final_sailingdate == '_none') {
			final_sailingdate_blank = true;
		}

		if (final_destination_group_blank) {
			// alert('Please make a selection for Destination...');
			$(".form-item-final-destination-group").addClass('error-highlight');
		} else {
			$(".form-item-final-destination-group").removeClass('error-highlight');
		}
		// if (final_cruiseline_blank) {
		// 	// alert('Please make a selection for Cruiseline....');
		// 	$(".form-item-final-cruiseline").addClass('error-highlight');
		// } else {
		// 	$(".form-item-final-cruiseline").removeClass('error-highlight');
		// }
		if (final_sailingdate_blank) {
			// alert('Please make a selection for Sailing Date...');
			$(".form-item-final-sailingdate").addClass('error-highlight');
		} else {
			$(".form-item-final-sailingdate").removeClass('error-highlight');
		}
		if (
			(!final_destination_group_blank) &&
			// (!final_cruiseline_blank) &&
			(!final_sailingdate_blank)	
			) {
			alert("final_destination_group: " + final_destination_group);
			alert(" final_cruiseline: " + final_cruiseline);
			alert("final_sailingdate: " + final_sailingdate);
		}

	}

$("#checkvalues").on('click', function(e) {
    e.preventDefault();
    checkvalues();
  });


});
</script>
<button id="checkvalues">checkvalues</button>
