<div class="cruise_page_overview_block_detail">

  <div class="cruise-length">
    <div class="cruise-length-subtitle">Cruise</div>
    <div class="cruise-length-nights">[final_cruise_length]</div>
    <div class="cruise-length-subtitle">Length</div>
  </div>

  <div class="price-block">
    <div class="price-block-subtitle">Prices range from</div>
    <div class="price">[final_start_price]</div>
    <div class="price-block-subtitle">per person</div>
  </div>

  <div class="sailing-date-block">
    <div class="sailing-date-subtitle">Sailing Date</div>
    <div class="sailing-date">[final_sailingdate]</div>
  </div>
  
  <a class="more-sailing-dates-button" href="#staterooms-rates-tab">More sailing dates ></a>

</div>

Experience these incredible destinations on this [cruise length nights] [cruise name] aboard [ship-name], with its total length of [ship-length] feet, weight of [ship-tonnage] tons and capacity to hold [number-of-passengers] passengers.


cruise_itinerary_intro
