<div class="container">
    <div class="royal-description-wrapper">
        <p class="royal-description">Two little words that make us the go-to cruises for corporate events, groups and incentives? “It's Included”.
            When it comes to dining, entertainment and activities, production and decor we assist in planning every
            last detail and ensuring a once in a lifetime, hassle-free experience awaits you. </p>
    </div>


</div>
<div class="container clear-fix">
    <div id="tabs" class="col-lg-10 col-lg-offset-1">
        <ul class="top-tab-links flexbox-wrapper">
            <li class="flexbox-child"><a href="#onboard-tab" class="open-tab">ONBOARD EXPERIENCE</a></li>
            <li class="flexbox-child"><a href="#event-service-tab" class="open-tab">EVENT SERVICES</a></li>
        </ul>


    <div class="tab-panel onboard-tab" id="onboard-tab">
        <h1 class="page-title">Onboard Experience</h1>
        <p>
            Our accommodation, dining and entertainment offerings all ensure that you are never left without
            something to keep you busy in between your conferences and events.
        </p>
        <div id="accordion">
            <h3>ACCOMMODATION</h3>
            <div class="onboard-wrapper">
                <div class="line-break"></div>
                <div>
                    <p>
                        Whether your time has been taken up with meetings, seminars or teambuilding activities,
                        there is nothing better than knowing a stylish Royal Caribbean stateroom awaits - providing
                        the ultimate in comfort and privacy at the end of a busy day.
                    </p>
                </div>
                <h2 class="room-type-title">Room Types</h2>
                <div class="img-wrapper">
                    <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_OA_Owners_Loft_Suite_1701_6196.jpg"/>
                </div>
                <div class="room-type-title-wrapper col-lg-10 col-lg-offset-1">
                    <h2 class="room-type-title">SUITE/DELUXE STATEROOMS</h2>
                </div>
                <div class="room-type-description-wrapper col-lg-10 col-lg-offset-1">
                    <p class="room-type-description">
                        The finest in at-sea experiences, Royal Caribbean’s luxurious suites bring you
                        everything you need for a lavish voyage along with added perks such as the concierge
                        service, dedicated entertainment seating and priority boarding and departure services.
                        In addition, the Royal Suite Class offers exclusive experiences, deluxe amenities,
                        and the most spacious luxury suites at sea.
                    </p>
                </div>

                    <div class="inner-accordion col-lg-10 col-lg-offset-1">
                        <h3>SUITE AMENITIES</h3>
                        <div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                    <div>
                                        <ul>
                                            <li>Exclusive priority check-in and departure, which allows for faster boarding and disembarking.</li>
                                            <li>The Complimentary Concierge Club service on select ships ensures personalised attention during your cruise.</li>
                                            <li>Receive priority tender tickets on select cruises.</li>
                                            <li>Relax in style with VIP pool deck seating, where available.</li>
                                            <li>Guaranteed prime seats during shows and performances.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                    <div>
                                        <ul>
                                            <li>Enjoy private breakfast and lunch seating in specialty restaurants on our Voyager and Freedom Class ships.</li>
                                            <li>Indulge in in-room dining during breakfast, lunch, and dinner – simply order from our dining room menus.</li>
                                            <li>The Royal Caribbean complimentary luggage valet service will handle all your bags while you explore the ship.</li>
                                            <li>Luxury spa bathrobes</li>
                                            <li>A complimentary pressing service to ensure you look your best for formal events.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p>Note: The above suite amenities are not available to guests staying in our Junior Suites.</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-img-wrapper">
                                <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_JW_GrandSuite-Living.jpg">
                            </div>
                            <h2>BALCONY STATEROOMS</h2>
                            <div>
                                <p>
                                    The only thing better than being at sea is being able to experience it.
                                    Gone are the days of being confined to your cabin with only a small window to
                                    peer out of. With the Royal Caribbean Balcony stateroom, each day greets you with a
                                    brand-new view and an ocean breeze to accompany it.
                                </p>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-img-wrapper">
                                <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_OA_AquatheaterBedroomF.jpg">
                            </div>
                            <h2>OCEAN VIEW
                                STATEROOMS</h2>
                            <div>
                                <p>
                                    Don’t miss a single moment of taking in the stunning sights and sounds
                                    the world has to offer! An Ocean View stateroom ensures that as you sail
                                    with Royal Caribbean to some of the world’s most breathtaking destinations,
                                    you will get to see it all - and in nothing less than absolute style and comfort.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-img-wrapper">
                                <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_LB_4BedroomSuite-Living2R.jpg">
                            </div>
                            <h2>INTERIOR
                                STATEROOMS
                            </h2>
                            <div>
                                <p>
                                    Overlooking the Promenade, the Royal Caribbean Interior Promenade
                                    staterooms ensure that your busy schedule is balanced with a place
                                    to reflect and relax after the busy happenings of your day. Royal Caribbean’s
                                    well-appointed staterooms offer comfort, privacy and relaxation after a day of
                                    meetings, activities and exploring the world.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inner-accordion">
                        <h3>STATEROOM AMENITIES</h3>
                        <div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                    <div>
                                        <ul>
                                            <li>Luxurious Bedding</li>
                                            <li>Two twin beds or one queen-size bed</li>
                                            <li>Sitting Area</li>
                                            <li>24-Hour Room Service*</li>
                                            <li>Round-the-Clock Stateroom Attendant</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                    <div>
                                        <ul>
                                            <li>Nightly Turn-Down Service</li>
                                            <li>Interactive TV & Movies</li>
                                            <li>In-Room Safe</li>
                                            <li>Phone and Voicemail Service</li>
                                            <li>A late-night service charge applies.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>

            <h3>DINNING</h3>
            <div class=" dinning-tab-wrapper">
                <div class="line-break"></div>
            <div>
                <p>
                    Committed to culinary excellence, we strive to create the ideal dining experience for any guest
                    and occasion. Whether you would like to provide your team with an elegant dining experience or a
                    more casual al-fresco delight, there is a restaurant to meet your needs.
                </p>

                <h1 class="page-title">COMPLIMENTARY DINNING OPTIONS</h1>
                <p>Our complimentary dining offers ensure that guests can enjoy any meal of the day in the setting of their choice,
                    albeit a formal setting or something more casual. </p>

                <div class="row dinning-gallery-row-wrapper">
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_QN-ChopsGrilleF.jpg">
                            <h2>MAIN DINING ROOM</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_AL-DogHouse.jpg">
                            <h2>AMERICAN ICON GRILL</h2>
                        </div>
                    </div>
                </div>
                <div class="row dinning-gallery-row-wrapper">
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_AN-JamiesItalianF.jpg">
                            <h2>CHIC</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_Allure_Giovannis_Outside_UK_043.jpg">
                            <h2>THE GRANDE</h2>
                        </div>
                    </div>
                </div>
                <div class="link">
                    <a class="btn btn-default btn-turq view-more" href="#">view more</a>
                </div>
                <h1 class="room-type-title">SPECIALTY RESTAURANTS</h1>
                <p>For a nominal fee you can book your group into one of our many specialty restaurants.
                    With a vast number of cuisines to choose from, no dining experience will be the same as the last
                    as your guests will experience the ultimate in dining and variety. </p>

                <div class="row dinning-gallery-row-wrapper">
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_AN-LaPatisserieF.jpg">
                            <h2>150 CENTRAL PARK</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_LB_RoyalSuite-Living3R.jpg">
                            <h2>CHEF&rsquo;S TABLE</h2>
                        </div>
                    </div>
                </div>
                <div class="row dinning-gallery-row-wrapper">
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_GR_windjammer_Family.jpg">
                            <h2>SABOR MODERN MEXICAN</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row-item">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_HM_WonderlandEntranceR.jpg">
                            <h2>WONDERLAND IMAGINATIVE
                                CUISINE</h2>
                        </div>
                    </div>
                </div>
                <div class="link">
                    <a class="btn btn-default btn-turq view-more" href="#">view more</a>
                </div>
            </div>
            </div>

            <h3>ENTERTAINMENT</h3>
            <div class="entertainment-tab-wrapper">
                <h1 class="page-title">Event Venues</h1>
                <p>
                    Our entertainment offerings cater to any preference. Whether you and your guests would like
                    to enjoy a sophisticated jazz-themed outing, a nightcap to finish off your the evening, or time
                    spent laughing the night away at one of our comedy shows, your attendees are sure to be thrilled by
                    the ultimate in at-sea entertainment.
                </p>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="col-img-wrapper">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_QN-TheaterF.jpg">
                        </div>
                        <h2>ACTION & ADVENTURE</h2>
                        <div>
                            <p>
                                Whether your guests seek action and adventure, fun and games or even just fitness
                                activities, there is more than enough to keep them busy. Choose from rock-climbing,
                                the FlowRider Surf Simulator, zip-lining, Circus School, iFly Sky-Diving Simulator,
                                the Aqua Park, ice-skating and much, much more.
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="col-img-wrapper">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_OA_CENTRAL_PARK_Vintages_GF.jpg">
                        </div>
                        <h2>FUN & GAMES</h2>
                        <div>
                            <p>
                                Whether your guests seek action and adventure, fun and games or even just fitness
                                activities, there is more than enough to keep them busy. Choose from rock-climbing,
                                the FlowRider Surf Simulator, zip-lining, Circus School, iFly Sky-Diving Simulator,
                                the Aqua Park, ice-skating and much, much more.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="col-img-wrapper">
                            <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_AN_ConferenceCenterSB.jpg">
                        </div>
                        <h2>REST & RELAXATION
                        </h2>
                        <div>
                            <p>
                                Visit the pools and whirlpools where we have family friendly or adult-only options.
                                Our full-service hair salon, barber and spa offers the very best in wellness and pampering,
                                where you can choose from from offerings such as facial treatments, massages, acupuncture and more.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>FAQ</h3>
            <div class="faq-tab-wrapper">
                <h2 class="room-type-title">Tour Conductor Programme</h2>
                <ul>
                    <li>Royal Caribbean offers a complimentary cruise-only berth for every fifteen guests based on two full-fare paying guests*.</li>
                    <li>The sixteenth guest will be responsible for NCCFs, Government Taxes & Fees. Fuel Supplement Charge & Gratuities as well as any other charges which may be charged by the Cruise Line as specified by the Cruise Line’s policies.</li>
                    <li>•   The complimentary berth will be allocated in a category equal to the category in which there are the greatest number of staterooms reserved for the group.</li>
                </ul>
                <p><i>*Guests paying standard double occupancy rates. Does not apply to third and fourth guests sharing a stateroom with two full fare paying guests.</i></p>
            </div>
            <h3>Downloads</h3>
            <div class="downloads-tab-wrapper">
                <div class="downloads-table">
                    <div class="row flexbox-wrapper center">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 flexbox-child">
                            <a href="/sites/all/themes/cruises2017theme/html_files/mice-downloads/MICE-Flyer-Generic-2.pdf">MICE Flyer Generic 2</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right flexbox-child">
                            <a href="/sites/all/themes/cruises2017theme/html_files/mice-downloads/MICE-Flyer-Generic-2.pdf" class="btn btn-default pull-right">Download</a>
                        </div>
                    </div>
                    <div class="row flexbox-wrapper center">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 flexbox-child">
                            <a href="/sites/all/themes/cruises2017theme/html_files/mice-downloads/Royal-Caribbean-Group-Customization-Guide.pdf">Royal Caribbean Group Customization Guide</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right flexbox-child">
                            <a href="/sites/all/themes/cruises2017theme/html_files/mice-downloads/Royal-Caribbean-Group-Customization-Guide.pdf" class="btn btn-default pull-right">Download</a>
                        </div>
                    </div>
                    <div class="row flexbox-wrapper center">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 flexbox-child">
                            <a href="/sites/all/themes/cruises2017theme/html_files/mice-downloads/MICE-Flyer-Generic-1.pdf">MICE Flyer - Generic 1</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right flexbox-child">
                            <a href="/sites/all/themes/cruises2017theme/html_files/mice-downloads/MICE-Flyer-Generic-1.pdf" class="btn btn-default pull-right">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-panel event-service-tab" id="event-service-tab">
        <div class="Caribbean-title-wrapper ">
            <h1 class="page-title ">Event Venues</h1>
        </div>
        <div class="event-description-wrapper">
            <p class="event-description">4 Night Cruise sailing from Singapore roundtrip aboard Mariner of the Seas. Guests on Mariner of the Seas experience one of the most exciting cruise ships ever built. With a total length of
                1,020 feet, a weight of 138,000 tons and a capacity to hold 3,114 passengers, Mariner of the Seas.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="col-img-wrapper">
                    <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_QN-TheaterF.jpg">
                </div>
                <h2>THEATERS, LOUNGES,
                    OUTDOOR SPACES</h2>
                <div>
                    <ul>
                        <li>Our state-of-the-art theater can accommodate up to 1,394 attendees. Perfect for an award ceremony or general session.</li>
                        <li>Cool off at our Ice Skating Rink Stadium (Studio B) which hosts 775-1,000 guests. Ideal for a one of a kind reception as well as a general session or meeting.</li>
                        <li>Lounges accommodate groups as small as 24 or as large as 554.</li>
                        <li>Host an event in an outdoor space, such as a pool deck reception or a gathering in the Solarium.</li>
                        <li>From catering services to AV and production equipment, everything you need for a meeting or presentation is included!</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="col-img-wrapper">
                    <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_OA_CENTRAL_PARK_Vintages_GF.jpg">
                </div>
                <h2>NEIGHBORHOODS</h2>
                <div>
                    <p>Can accommodate up to 1500 guests.</p>
                    <ul>
                        <li>One-of-a-kind décor and ambience. </li>
                        <li>Choose from the Boardwalk, Central Park, or the Solarium for a unique, exclusive event. </li>
                        <li>Customise your event with different catering, live-music and entertainment options.</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="col-img-wrapper">
                    <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_AN_ConferenceCenterSB.jpg">
                </div>
                <h2>CONFERENCE
                    CENTERS</h2>
                <div>
                    <p>Can accommodate up to 400 guests</p>
                    <ul>
                        <li>May be reserved at no extra fee.</li>
                        <li>Can be configured to suit your group’s requirements, and range from theatre, classroom, boardroom, card room or mini-trade show setup</li>
                        <li>Equipped with state-of-the-art multimedia technology. </li>
                        <li>Food and beverage options are available.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="tab-panel venue-tab" id="venue-tab">

    </div>
</div>
<div class="row">
    <div class="col-lg-6" id="box-images-larger">
        <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_LB_BasketballCourt_TidalWave_Perfectstorm_1881_RET_CMYK.jpg">
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6 box-images">
                <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_HM_harmony_rockwall-RK2_3654_RET_CMYK.jpg" class="side-images">
                <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_LB_Rockwall_PerfectStorm_1996_RET_CMYK.jpg" class="side-images">
            </div>
            <div class="col-lg-6 box-images">
                <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_HM_SchoonerBarR.jpg" class="side-images">
                <img src="/sites/all/themes/cruises2017theme/html_files/images/RCI_HM_harmony_black_jack_RK2_4187_1_RET_CMYK.jpg" class="side-images">
            </div>
        </div>

    </div>

</div>

    <a class="btn btn-default btn-turq event-services-btn open-tab" href="#event-service-tab" data-tab-index="1">EVENT SERVICES</a>
</div>
